[2019-07-08 20:27] marinsalinas opened #5 "`group_id` should be renamed as `project_id` in Cloud Provider Snapshot Resource and Data Source."
Please rename `group_id` argument to `project_id`.

[2019-07-09 21:33] #5 closed

[2019-07-18 20:44] SpencerBrown opened #20 "Doc for data sources mongodb_atlas_cluster and mongodb_atlas_clusters should reflect that returned values are just returned, not set"
for example:

[code]

should say:

[code]

Most of the attribute descriptions need to be changed in this way.

[2019-07-19 14:52] SpencerBrown opened #22 "Acceptance test failing because it needs undocumented environment variables"
[code]

README for running acceptance tests should document these and suggest how to set them.

[2019-07-19 14:54] SpencerBrown opened #23 "Acceptance test fails due to lack of privilege for API key"
[code]

Please document in the README the permissions required for the programmatic API key used in the acceptance tests.

[2019-07-19 15:00] marinsalinas commented on #23
@themantissa could you help us on which privilege does the programmatic API key must have to create the  organization?

[2019-07-19 16:43] PacoDw commented on #23
@themantissa and @SpencerBrown I have added the following about the permissions required for the programmatic API key in the acceptance test part:
`
Note: the programmatic API key used in acceptance tests needs sufficient user role privileges to be able to create some resources. For more information about user roles visit: https://docs.atlas.mongodb.com/reference/user-roles
`
Let me know if you ha

[2019-07-23 13:58] tracypholmes opened #25 "Provider Review"
Hello! My name is Tracy Holmes, and I'm from the Terraform Ecosystem Team. @mbfrahry and I have been reviewing your provider again. Thank you for taking the time to go over the feedback from the previous review. We've got a few more points on this iteration but it should be fairly minor minus the plural datasources. This feedback is again listed below in order of importance and you can use this is

[2019-07-23 17:20] themantissa commented on #25
@tracypholmes  thank you!  The team will take a look ASAP.   Just to note this is a new Provider and not directly related to the community one [here](https://github.com/akshaykarle/terraform-provider-mongodbatlas) (although same name to follow the Provider naming conventions).

[2019-07-23 17:27] tracypholmes commented on #25
@themantissa understood & thank you for clarifying! I have it as a completely new review on the work side of things, so anything that may have still existed from a previous review was treated as something brand new. Thank you for the feedback 😄

[2019-07-23 20:15] SpencerBrown commented on #21
the above pull request is actually to fix #20 not this issue

[2019-07-23 20:19] #22 closed

[2019-07-25 21:01] marinsalinas commented on #25
Hello @tracypholmes, what do you mean group the notes? I'm trying to put together in the same Note but the webpage renders in a single paragraph, can we use like a dotted list inside Note block?

[2019-07-26 19:50] marinsalinas commented on #25
Regarding 7th item.

We just add this note to remember to parse to bool before making the create request because TypeMap just supports the same type of items.

We'll keep this argument as String.

[2019-08-02 17:44] themantissa commented on #29
@arthurio I think you've discovered two bugs.   @marinsalinas please address the following:

In the Provider for clusters: https://github.com/mongodb/terraform-provider-mongodbatlas/blob/e0a8742a3067a0862d375147949ccb9fb67d3071/mongodbatlas/data_source_mongodbatlas_cluster.go#L228 should refer to cluster.MongoDBMajorVersion and cluster.DiskIOPS seems to be missing.

[2019-08-02 21:23] marinsalinas commented on #29
@arthurio @themantissa, `mongo_db_major_version` was a mistake, I'll fix, but here we set `provider_disk_iops` here:

 https://github.com/mongodb/terraform-provider-mongodbatlas/blob/e0a8742a3067a0862d375147949ccb9fb67d3071/mongodbatlas/resource_mongodbatlas_cluster.go#L631

@arthurio, can you run the apply again like this `TF_LOG=DEBUG terraform apply` and post the output here?

[2019-08-02 22:50] arthurio commented on #29
@marinsalinas I don't want to share the output publicly, can I share it with you in some other way? Or can you tell me what are you looking for? `provider_disk_iops` doesn't show up in the trace except when it shows the plan to apply.

[2019-08-02 23:31] themantissa commented on #29
Ah, totally missed the Set @marinsalinas, thank you for the link.

One other thing to note is that for < M30 provider disk iops sets to the default and is not adjustable - https://docs.atlas.mongodb.com/reference/api/clusters-create-one/ - see
providerSettings.diskIOPS
An M20 is 100 so it doesn't need to be set and cannot be changed.  Above an M30 and it is dependent on both the cluster size and d

[2019-08-03 00:23] arthurio commented on #29
If I remove `provider_disk_iops` now it works but initially it was complaining that it couldn't  be "0" which is why I had to set it.

[2019-08-05 16:53] #23 closed

[2019-08-05 20:24] marinsalinas commented on #29
I just want to see if the GET cluster request returns `providerSettings.diskIOPS` as zero, or it returns the proper value.

[2019-08-05 21:05] andysnowden commented on #29
I don't mind sharing mine, it is indeed zero

`
2019-08-05T17:04:05.878-0400 [DEBUG] plugin.terraform-provider-mongodbatlas:  "name": "pritunl-prod",
2019-08-05T17:04:05.878-0400 [DEBUG] plugin.terraform-provider-mongodbatlas:  "numShards": 1,
2019-08-05T17:04:05.878-0400 [DEBUG] plugin.terraform-provider-mongodbatlas:  "paused": false,
2019-08-05T17:04:05.878-0400 [DEBUG] plugin.terraform-provide

[2019-08-05 21:09] marinsalinas commented on #29
@themantissa, @andysnowden @arthurio,

I have to add a validator that if the size is `<M30` then `provider_disk_iops` is non-settable to avoid this problem.

Let me figure out how to do this.

[2019-08-05 21:21] arthurio commented on #29
Thanks everyone :)

[2019-08-06 03:27] themantissa commented on #29
Thanks all!  I'm also checking internally.  Stay tuned as we purse all the paths, both temp and long term.

[2019-08-09 21:13] nitrag opened #31 "Standardize Regions"
While in development. Can you please standardize the names for regions? Eg. Discrepency between `mongodbatlas_network_container` and `mongodbatlas_vpc_peering_connection`.

Instead of `US_EAST_1` use `us-east-1`.

[2019-08-09 21:51] nitrag opened #32 "Auto-calculate minimum IOPS"
I don't see why we have to specify `provider_disk_iops` if it is optional. Is the purpose to provision more IOPS than standard? How does this affect costs if chosen wrongly? Please provide safe way for the provider to automatically calculate for users who do not need/want to think about this.

[code]

[code]

[2019-08-10 14:17] nitrag commented on #33
I updated the Go module to `terraform` and `12.6` however it would create a few but ultimately still fail with a 500 error. Is this a new API that is rate limited? I had to `terraform apply` 4-5 times to get all 9 of my entries to be stored successfully.

[code]

[2019-08-12 01:09] macintacos opened #34 ""The required attribute regionName was not specified""
I received the following error:

[code]

Using the following code:

[code]

This error was only thrown when I used `terraform apply`; `terraform plan` did not throw this error. Also, I was following along with this doc [here](https://github.com/mongodb/terraform-provider-mongodbatlas/blob/master/website/docs/r/cluster.html.markdown), and it didn't mention anything about the region being a required

[2019-08-12 01:16] macintacos commented on #32
I'd also like to call out that, when you're using volumes where IOPS scales with the disk size (_not_ provisioned IOPS where they can be scaled independently), providing the IOPS value when you've already specified the disk size is redundant. M10 AWS instances on Atlas, for example, cannot separate IOPS from disk size, so providing it may actually things more confusing in those scenarios.

[2019-08-12 15:27] marinsalinas commented on #34
I think when is a single region cluster you should add this value (@themantissa  can you confirm this?):
`provider_region_name   ="US_EAST_1"`

Could you try adding this value.

[2019-08-12 15:30] macintacos commented on #34
@marinsalinas yep! It works fine when I specify the other parameters that come up when I try `terraform apply`, so the issue I have is that:

- `terraform plan` didn't catch this (I'm new to Terraform in general so I don't know if it was supposed to catch it or not)
- the documentation that I linked does not note that this is a required parameter.

[2019-08-12 15:34] marinsalinas commented on #34
Yes, we have to specify when we try to create a single region cluster, we must add this value, let me add this to the documentation.

Thanks!

[2019-08-12 15:40] marinsalinas commented on #33
Hello @nitrag, could you run `TF_LOG=DEBUG terraaform apply` to see what is sending in POST call and the can you share it here, omitting sensitive data (group_id|project_id)  ?

[2019-08-12 17:38] themantissa commented on #32
This sounds similar to an issue that should be corrected (@marinsalinas?) that was reported via https://github.com/mongodb/terraform-provider-mongodbatlas/issues/29.   We had both a bug on the Atlas side and some clean up work on the Provider.    You should only have to provide if you want provisioned IOPS - otherwise it's optional as noted.

[2019-08-12 17:52] themantissa commented on #25
@tracypholmes  I believe all of the issues are now addressed.  Do we need to do anything else for a second look to ensure it's good?

[2019-08-12 20:03] themantissa commented on #31
Team is working on a solution to make this a little easier.   Standby!

[2019-08-12 21:45] cgriggs01 commented on #25
@themantissa
Thanks for letting us know. We'll make a final pass at the provider and start to plan the release for later this week.

[2019-08-13 15:13] themantissa commented on #25
Fantastic, thank you @cgriggs01 !!

[2019-08-13 15:21] nitrag commented on #33
[code]

[2019-08-13 21:10] themantissa commented on #36
@marinsalinas

[2019-08-14 15:39] marinsalinas commented on #31
@nitrag could you check #37 ?

[2019-08-14 15:52] nitrag commented on #31
It works. Thank you.

[2019-08-14 15:53] #31 closed

[2019-08-15 15:35] PacoDw commented on #36
@nitrag  in the `mongodbatlas_network_peering resources`, please just change `mongodbatlas_network_container.id` to `mongodbatlas_network_container.container_id` and try again. This is because the `id` belongs internally to terraform manages while the `container_id` can be used through resources.

[2019-08-15 16:14] marinsalinas commented on #20
cosed by #24

[2019-08-15 16:14] #20 closed

[2019-08-19 15:13] PacoDw commented on #40
Hello,
 @jeaye we'll move this issue to github.com/terraform-providers/terraform-provoder-mongodbatlas

[2019-08-19 15:14] PacoDw commented on #36
Hello @nitrag,
We'll move this issue to github.com/terraform-providers/terraform-provoder-mongodbatlas

[2019-08-19 15:14] PacoDw commented on #34
We'll move this issue to github.com/terraform-providers/terraform-provoder-mongodbatlas

[2019-08-19 15:14] PacoDw commented on #32
Hello,
We'll move this issue to github.com/terraform-providers/terraform-provoder-mongodbatlas

[2019-08-19 15:37] nitrag commented on #36
I think it is resolved actually.

[2019-08-19 18:23] themantissa commented on #34
@PacoDw if you move these over to finish please resolve here once moved.

[2019-08-19 18:30] themantissa commented on #40
@marinsalinas  shouldn't https://github.com/mongodb/terraform-provider-mongodbatlas/issues/29 have solved this with the  validator that ensures if the size is <M30 then provider_disk_iops is non-settable?

[2019-08-19 18:42] #32 closed

[2019-08-19 19:53] themantissa commented on #25
@cgriggs01 sent you an email as well but we are unsure on our side as to when the cut over to Hashicorp's repo will be final?   We see it's cloned but we do close issues here, open them there?  Are we going to be added as maintainers?  Just want to ensure the transfer process is smooth and easy for users to follow.  Thanks!

[2019-08-19 20:46] marinsalinas commented on #40
@themantissa on #29 we decided to no make validations over instance_sizes because they may change over time and let the API to do these kinds of validations. is that right @SpencerBrown ?

[2019-08-20 20:00] PacoDw commented on #41
Hello @nitrag
thank you for your review, let me check that.

[2019-08-21 12:16] deepak7093 opened #43 "Error: error creating MongoDB Cluster"
Error: error creating MongoDB Cluster: POST https://cloud.mongodb.com/api/atlas/v1.0/groups/xxxxxx/clusters: 500 (request "Internal Server Error") Unexpected error.

Seems like API servers had issue.

[2019-08-21 14:39] PacoDw commented on #43
Hello @deepak7093, could you run `TF_LOG=DEBUG terraaform apply` to see what is sending in POST call and then can you share it here, omitting sensitive data like: `group_id`,  `project_id`, etc?

[2019-08-21 22:25] jeaye commented on #41
I'm also stuck on this right now! Did you find any work around, @nitrag?

[2019-08-21 22:31] PacoDw commented on #41
Hello, @jeaye  the solution is on the pr 42 but isn't merged yet

[2019-08-21 22:57] jeaye commented on #41
Thanks for the quick reply! I did see the PR after commenting; I checked it out and ran into some issues because the whitelist was empty, so I just hacked out that check and was able to be unblocked. Unfortunately, in the meantime, I had killed my Mongo cluster, hoping to clear up some state, so now I'm trying to get this provider to build it up again. Since it's dead, if I manually taint the clus

[2019-08-22 13:22] deepak7093 commented on #43
@PacoDw Here is the debug log

`2019/08/22 18:49:29 [DEBUG] mongodbatlas_cluster.clusters-copilot[0]: apply errored, but we're indicating that via the Error pointer rather than returning it: error creating MongoDB Cluster: POST https://cloud.mongodb.com/api/atlas/v1.0/groups/xxxxxx/clusters: 500 (request "Internal Server Error") Unexpected error.
2019/08/22 18:49:29 [TRACE] <root>: eval: *terrafor

[2019-08-22 13:25] deepak7093 commented on #43
@PacoDw Here is the debug log
[code]

[2019-08-22 15:09] arthurio opened #1 "panic: runtime error: index out of range"
Hi!

I started creating my resources using the [mongodb repo](https://github.com/mongodb/terraform-provider-mongodbatlas), I was on commit https://github.com/terraform-providers/terraform-provider-mongodbatlas/commit/2b90e034de74f0fcf864c950c53a9233d687182c. I switched to this "official" provider and now I'm getting the following when trying to plan:

[code]

Did you make breaking changes? Should

[2019-08-22 15:26] aliciaalcalde opened #2 "Bug: Invalid attribute diskIOPS specified."
Good morning,

I use Terraform v0.12.5 and I try to create a Atlas Mongodb cluster :

[code]
It return this error:
**error creating MongoDB Cluster: POST https://cloud.mongodb.com/api/atlas/v1.0/groups/xxxxx/clusters: 400 (request "Bad Request") Invalid attribute diskIOPS specified.**

I change remove provider_disk_iops and disk_size_gb but the error is always the same.

Thank you

[2019-08-22 16:17] marinsalinas commented on #1
Hello @arthurio, could you try to delete the state file and re-import your resources?

[2019-08-22 16:35] PacoDw commented on #1
Hello @arthurio,
If despite re-import your resources the problem continues can you share us your Terraform configuration omitting sensible data?

[2019-08-22 23:41] arthurio commented on #1
I used `terraform state rm ...` to remove all my states and re-imported the resources. Everything worked except the `mongodbatlas_project_ip_whitelist`. The doc's example is unclear... `terraform import mongodbatlas_project_ip_whitelist.test cHJvamVjdF9pZA==:NWNmNWE0NWE5Y2NmNjQwMGU2MDk4MWI2-ZW50cmllcw==` so `project_id:xxxx` encoded in base64? I tried but it gave me an error: `Error: error getting

[2019-08-22 23:50] PacoDw commented on #1
The problem with whitelist is resolved on issue 42 in mongo repository (https://github.com/mongodb/terraform-provider-mongodbatlas/pull/42) but is not merged yet here, we are waiting for that as soon as posible.

[2019-08-23 04:01] arthurio commented on #1
And where can I get or generate the id for import (`cHJvamVjdF9pZA==:NWNmNWE0NWE5Y2NmNjQwMGU2MDk4MWI2-ZW50cmllcw==`)?

[2019-08-23 05:51] arthurio commented on #1
Ohh I think you pointed to the wrong PR... https://github.com/mongodb/terraform-provider-mongodbatlas/pull/39 is the one :)

[2019-08-23 11:35] PacoDw commented on #1
I’m  sorry for that, I misunderstood because both pr pointed to the withelist resource.

[2019-08-23 20:42] arthurio commented on #1
Ok, so after using your branch, I was able to import back my resources. However, I had to manually tweak the state to:
- replace `project_id = null` with the actual project id in the `mongodbatlas_project_ip_whitelist`.
- replace `container_id = 5cb99c87ff7a25deREDACTED` with the generated id (`Y29udGFpbmVyX2lk:NWNiOTljODdmZjdhMjVkZTQyNmMyMzI3-cHJvREDACTED==:NWM5ZGMyNzc1NTM4NTU4OWQREDACTED`) in  `

[2019-08-23 20:42] #1 closed, assigned to nobody

[2019-08-25 13:01] nivg1992 opened #44 "GCP peering problem"
I am trying to configure peering atlas to GCP account

[code]

But it stuck,
The API for getting peering, show the status WAITING_FOR_USER.

I see on the [documentation of MongoDB](https://docs.atlas.mongodb.com/reference/api/vpc-get-connections-list/) that the status of network peering are
ADDING_PEER
WAITING_FOR_USER
AVAILABLE
FAILED
DELETING

So the mongodbatlas_network_peering resource should

[2019-08-27 16:25] themantissa commented on #2
@aliciaalcalde we are looking into the cause and a fix.   Thank you for filing the issue!

[2019-08-27 17:42] bobhlo opened #7 "Failed to create Atlas network peering container"
The json payload looks fine but the plugin throws a 400 error.

main.tf
# Configure the MongoDB Atlas Provider
provider "mongodbatlas" {
  public_key  = "${var.mongodb_atlas_username}"
  private_key = "${var.mongodb_atlas_api_key}"
  version     = "=0.1.0"
}

# Create a Group
resource "mongodbatlas_project" "rest" {
  org_id = "${var.mongodb_atlas_org_id}"
  name = "${var.project_name}"
}

# Creat

[2019-08-27 20:51] bobhlo commented on #7
Malformed JSON was caused by provider_name being set to `Azure` and not `AZURE` required by Atlas API.

[2019-08-27 21:11] PacoDw commented on #7
Hello @bobhlo, thank you for your review, it resolved on pr #8, you can test it on peering_test branch.

 Let us know if you have any comments.

[2019-08-27 22:29] themantissa commented on #2
I believe we've discovered the issue.   GCP and Azure can have disk resized but not iops modified (it modifies in tandem with the size of disk).  disk_iops is only for AWs.  We'll update here when fixed.

[2019-08-28 06:18] deepak7093 opened #9 "Error creating MongoDB Cluster"
Error: error creating MongoDB Cluster: POST https://cloud.mongodb.com/api/atlas/v1.0/groups/xxxxxx/clusters: 500 (request "Internal Server Error") Unexpected error.

Seems like API servers had issue.

terraform version: v0.12.3
Atlas provider version: 0.1.0
terraform configuration:  https://gist.github.com/deepak7093/c286f09316142d424832148f36d47c4a
Debug Logs
[code]

[2019-08-28 07:42] deepak7093 commented on #9
It seems an issue with M2 instance size. I am able to create a cluster with M10.

[2019-08-28 17:55] PacoDw commented on #2
Hello @aliciaalcalde, this issue was resolved with the pr #11, you can test it on the `fix-#2` branch.

Let us know if you have any comments, thanks!

[2019-08-28 17:56] PacoDw commented on #9
Hello @deepak7093 , this issue was resolved with the pr #11 , you can test it on the `fix-#2` branch.

Let us know if you have any comments, thanks!

[2019-08-28 21:58] bobhlo commented on #7
Hi @PacoDw,

Thanks for getting it fixed. One thing minor is to fix the error message at https://github.com/terraform-providers/terraform-provider-mongodbatlas/blob/master/mongodbatlas/resource_mongodbatlas_network_container.go#L113

Bob

[2019-08-28 22:30] PacoDw commented on #7
thank you so much for your review! 👍  let me change that.

[2019-08-29 15:59] #7 closed, assigned to nobody

[2019-08-30 18:29] bobhlo opened #14 "PATCH network peering failed with no peer found"
The initial deployment succeeded with peer successfully created, but subsequent deployment failed with following error even without any changes. The error indicates that the peer is Not Found under the project, but the peer does exist.

module.dev_jcdigital_test345_prep.null_resource.prep (local-exec): WARNING: The behavior of this command has been altered by the following extension: aks-preview
2

[2019-08-30 22:01] bobhlo opened #15 "Cluster creation with Azure provider failed"
Provider settings `diskIOPS` and `EncryptEBSVolume` should be excluded in the payload when creating a cluster with Azure provider. Need conditional checks for providers in a few places such as https://github.com/terraform-providers/terraform-provider-mongodbatlas/blob/master/mongodbatlas/resource_mongodbatlas_cluster.go#L600-L601. See Atlas API doc - https://docs.atlas.mongodb.com/reference/api/cl

[2019-09-02 06:48] nivg1992 opened #16 "GCP peering problem"
I am trying to configure peering atlas to GCP account

[code]
The resource mongodbatlas_network_peering is stuck,
The Atlas API for getting the peering, show the status WAITING_FOR_USER.

I see on the documentation of MongoDB that the status of network peering on GCP are
ADDING_PEER
WAITING_FOR_USER
AVAILABLE
FAILED
DELETING

So the mongodbatlas_network_peering resource should be finished on WAITI

[2019-09-03 15:14] PacoDw commented on #16
Hello @nivg1992, this issue was resolved with the pr #11, can you test if this issue was resolved on pr #11 and the fix-#2 branch.

Let us know if you have any comments, thanks!

[2019-09-03 15:52] themantissa commented on #15
@bobhlo  - thank you, we are working on this fix with https://github.com/terraform-providers/terraform-provider-mongodbatlas/pull/11

[2019-09-03 16:07] #2 closed, assigned to nobody

[2019-09-03 16:08] #9 closed, assigned to nobody

[2019-09-03 16:09] #15 closed, assigned to nobody

[2019-09-03 16:09] #16 closed, assigned to nobody

[2019-09-03 16:39] aliciaalcalde opened #17 "Bug: VPC Peering Atlas-GCP"
Good afternoon,

I try to create VPC Peering between Atlas and GCP:
[code]
It return this error:
**Error: error creating MongoDB Network Peering Connection: POST https://cloud.mongodb.com/api/atlas/v1.0/groups/xxxxxxxx/peers: 500 (request "Internal Server Error") Unexpected error.**

Thank you,

[2019-09-03 17:41] iainmullan commented on #2
Hello,

I get the same errors when trying to create a cluster on AWS Shared tier, eg. M0, M2, M5

`resource "mongodbatlas_cluster" "cluster" {
  project_id = "${mongodbatlas_project.project.id}"
  name      = "myapp-staging"

  auto_scaling_disk_gb_enabled = false
  backup_enabled = false

  provider_name = "TENANT"
  provider_instance_size_name = "M0"
  provider_region_name        = "EU_WEST_1"
}

[2019-09-03 17:43] PacoDw commented on #17
Hello @aliciaalcalde thanks for your review, please just change `mongodbatlas_network_container.container.id` to `mongodbatlas_network_container.container.container_id` because `id` is only for terraform purposes while `container_id` is used through the terraform resources.

Let us know if it works or if you find another issue.

[2019-09-03 17:48] PacoDw commented on #14
Hello @bobhlo thanks for your review, could you share us your terraform configuration to recreate the issue? just avoiding sensitive information.

[2019-09-03 23:22] bobhlo commented on #14
Hi @PacoDw,

Please see following configuration in the module. One thing noted is terraform tried to update resource "mongodbatlas_network_peering.rest" with atlas_cidr_block which was not changed.

  # module.dev_jcdigital_test345_atlas.mongodbatlas_network_peering.rest will be updated in-place
  ~ resource "mongodbatlas_network_peering" "rest" {
      + atlas_cidr_block      = "192.168.32.0/24"

[2019-09-04 01:47] PacoDw commented on #14
Thanks, we will check it to find the solution as soon as possible 👍

[2019-09-04 21:47] davearata opened #19 "Support the vscode terraform extension"
Originally posted [here](https://github.com/akshaykarle/terraform-provider-mongodbatlas/issues/103) but it seems that repo is deprecated and this repo is its replacement.

The terraform [extension for vscode](https://github.com/mauve/vscode-terraform) uses a [language server](https://github.com/juliosueiras/terraform-lsp) to provide information to the IDE. When I have this extension enabled within

[2019-09-04 23:05] marinsalinas commented on #14
@bobhlo, Modified your code to make it more readable.

[2019-09-06 15:24] #17 closed, assigned to nobody

[2019-09-09 14:44] PacoDw commented on #19
Hello @davearata, thank you for your review, I didn't find some documentation at https://github.com/mauve/vscode-terraform on how to integrate other terraform plugins, it seems to be internally so I think the best idea is posting this issue in their repo to integrate this plugin.

If you have another issue referring to the behavior of this plugin just let us know.

[2019-09-09 17:08] #19 closed, assigned to nobody

[2019-09-10 14:52] dlethin opened #21 "importing a mongodbatlas_project_ip_whitelist resource does not save project_id to state"
There seems to be a bug with importing `mongodbatlas_project_ip_whitelist` resources.  The `project_ip` attribute is not saved in state, so the next time you run terraform, it wants to destroy and create the resource because project_id is not set.

Here is some example code showing this:

[code]

I have no problem importing `mongodbatlas_project.project` &
`mongodbatlas_project_ip_whitelist.whitel

[2019-09-10 16:08] PacoDw commented on #14
Hello @@bobhlo, the issue was resolved you can test it on pr #22

If you have another issue or comments just let us know, thank you.

[2019-09-10 20:26] dlethin commented on #21
I started trying to try to fix this on my own and submit a PR, but I'm running in to some trouble.  Following the instructions in the README, I get the following error on the `make build` step:

[code]

not sure how deep in the dependency chain this is coming from and not a seasoned go-lang dev to immediate dive further into this.

In the meantime, this is the diff I think needs to change to resol

[2019-09-11 16:55] bobhlo commented on #14
@PacoDw , thanks for the fix. The issue is resolved.

[2019-09-11 16:57] #14 closed, assigned to nobody

[2019-09-11 17:20] PacoDw commented on #21
Hello, @dlethin thank you so much for your review 👍 , let us check to resolve the issue.

[2019-09-11 18:18] PacoDw commented on #21
Yeah! your changes are right, now you can test it on pr #23, thank you!

If you have any comments or another issue just let us know.

[2019-09-11 18:53] #21 closed, assigned to nobody

[2019-09-11 18:54] dlethin commented on #21
Thanks for the quick response.

I'm not sure how to test it though, as I was running into problems building the plugin locally as mentioned above.  Maybe I just don't have my go-lang environment set up correctly..

[2019-09-11 19:04] PacoDw commented on #21
Don't worry the changes are now in master, you could clone the repository and test it directly once you have the repository downloaded just make the following command inside of the folder:

```$ go build```
This will generate a binary program that it is the plugin that you could use with terraform directly, move this binary in your terraform project folder.

[2019-09-11 20:14] dlethin commented on #21
I built it locally and confirmed it works for my project.

I did discover another problem where adding an additional whitelist ip entry then wants to destroy and rebuild the resource rather than incrementally changing which is not ideal as there will be a moment of time where existing atlas clients might get shut out until their whitelist entries are added again, but I can track a separate issue f

[2019-09-12 16:57] andrew-waters opened #24 "Unable to create project with peering only connections"
When creating a GCP peered cluster, the project configuration doesn't allow you to set it for peer networking only.

In order to create a project with peer networking you need to:

 - create the project (terraform)
 - switch to the UI and enable this
 - create your cluster(terraform)

This is supported by the Atlas API (https://docs.atlas.mongodb.com/reference/api/set-private-ip-mode-for-project).

[2019-09-12 16:58] andrew-waters commented on #24
As an FYI this is the UI element on the project page that needs toggling:

<img width="1432" alt="Screenshot 2019-09-12 at 17 53 01" src="https://user-images.githubusercontent.com/501976/64804529-e1ac2500-d586-11e9-9343-081d51660330.png">

[2019-09-13 12:23] gschaffer-cxn opened #26 "Request for Docs - Migration from Ahkaryle-s provider"
Hi!

I would like to request documentation on how to migrate over from the previous mongo atlas provider developed by akshaykarle.

[2019-09-13 21:05] themantissa commented on #24
Thank you @andrew-waters.  We are working to ensure that is also settable via the Terraform provider.  Will update the issue when address.

[2019-09-16 09:25] andrew-waters commented on #24
Thanks @themantissa - do you have a _rough_ idea when this is being addressed / potentially fixed? I'd like to explore some other options, including unofficial providers such as https://github.com/akshaykarle/terraform-provider-mongodbatlas

[2019-09-16 15:17] themantissa commented on #24
@andrew-waters should be pretty soon.   Akshay is actually thanked in our README :)   He's done some great work in the community provider but be aware it uses quite a few deprecated API options which is part of why we created this one.   If you have any other questions feel free to reach out to me directly, melissa.plunkett@mongodb.com

[2019-09-16 15:18] themantissa commented on #26
@gschaffer-cxn  a great suggestion.   Would be great if anyone in the community could contribute to this.  I'll also look internal and see if we have someone who could take this on.

[2019-09-17 16:31] aliciaalcalde opened #29 "Bug VPC Peering between GCP and Atlas"
Good morning,

I try to create peering between MongoDB Atlas Project and my VPC in GCP.

[code]

But It never finish. I try it several times but it always finished with the same error:

[code]

In the Atlas website appear this message:
**Create a reciprocal connection from GCP to Atlas to complete this connection. Show me how**

Thank you,

[2019-09-17 16:43] aliciaalcalde opened #30 "Problem destroying network peering container"
Good morning,

I try to destroy my Atlas stack:

[code]

It shows this error:

Error: error deleting MongoDB Network Peering Container (5d7ba8a9c56c98b9eec8448d): DELETE https://cloud.mongodb.com/api/atlas/v1.0/groups/5d7ba8a7f2a30b18d0bcc33b/containers/5d7ba8a9c56c98b9eec8448d: 409 (request "Conflict") Cannot modify in use containers. The container still contained resources.

It isn't any cluster

[2019-09-18 01:39] kgriffiths commented on #26
@gschaffer-cxn to start off with, you'd want to remove the plugin created by akshaykarle from `~/.terraform.d/plugins`. (I also removed `"mongodbatlas": "aee1981e690ac5a5bd75ce778d2ff786e7fc2de60e8554976e9285d02524d042"` from my repo's lock.json, found at `PROJECT/.terraform/plugins/darwin_amd64/lock.json`)

Then you would start updating the provider code

(Old)
[code]

(New)
[code]

[2019-09-18 03:57] skully commented on #26
@kgriffiths Hi, the problem is that this solution will redeploy the whole db, even if you just wants to make totally different modifications in your infra. We hope there is other solution to migrate than editing the tfstate file.

[2019-09-18 14:05] PacoDw commented on #30
Thank you so much for your review. Let me check this to resolve this issue as soon as possible.

[2019-09-18 14:06] PacoDw commented on #29
Hello @aliciaalcalde thanks for your review, we will check this to resolve it.

[2019-09-18 16:48] aliciaalcalde opened #33 "Problem encryption_at_rest"
Good morning,

I create an IAM service account, KMS keyring and key in my own GCP account.

[code]
It returns the following error:
**Error: error creating Encryption at Rest: PATCH https://cloud.mongodb.com/api/atlas/v1.0/groups/xxxxxx/encryptionAtRest: 400 (request "Bad Request") Invalid Google Cloud credentials.**

If I only specified   encryption_at_rest_provider = true in mongodbatlas_cluster

[2019-09-18 23:03] #24 closed, assigned to nobody

[2019-09-19 15:28] themantissa commented on #33
@aliciaalcalde I'll try to assist here - we'll be posting soon that support for the provider will go through MongoDB Atlas support but in the mean time let's work together here.

For the cluster creation section:
encryption_at_rest_provider doesn't take a boolean but a string, in this case set it to GCP (and I'll make a todo to update the doc there to be more clear).  Make sure all the options mat

[2019-09-20 21:12] chriskinsman opened #35 "mongodbatlas_network_peering Internal Servier Error"
terraform 0.12.8
mongodbatlas 0.2.0

[code]

Applying the above yields:

Error: error creating MongoDB Network Peering Connection: POST https://cloud.mongodb.com/api/atlas/v1.0/groups/XXXXXXXXXXXXXX/peers: 500 (request "Internal Server Error") Unexpected error.

Debug log:
2019-09-20T14:03:44.599-0700 [DEBUG] plugin.terraform-provider-mongodbatlas_v0.2.0_x4: ---[ RESPONSE ]------------------------

[2019-09-20 21:43] chriskinsman commented on #35
Found the issue.  Use

mongodbatlas_network_container.mongodb_container.container_id

instead of:

mongodbatlas_network_container.mongodb_container.id

[2019-09-20 21:43] #35 closed, assigned to nobody

[2019-09-22 18:51] themantissa commented on #26
The general path forward, I believe, will be both what @kgriffiths notes, rewriting the configs for the new, updated, resources but also one will need to import the existing infrastructure into state: https://www.terraform.io/docs/import/index.html
Hopefully HashiCorp will, as noted in their doc, add being able to create the resources from import vs the somewhat manual process it requires now.

[2019-09-23 15:24] acim opened #36 "plugin.terraform-provider-mongodbatlas_v0.2.0_x4: panic: runtime error: index out of range"
### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Crash Output

https://gist.github.com/acim/38b1f36ab10db14ba7460b7a7f130b07

### Expected Behavior

Plan should display what has to be modified.
### Actual Behavior

Crash.

### Steps to Reproduce

1. `terraform init`
2. `terraform plan -target=mongodbatlas_cluster.ff3_dev`

### Additional Context

I previously used [3rd

[2019-09-23 15:42] PacoDw commented on #36
Thank you for your review, let us check the problem to resolve as soon as possible.

[2019-09-23 16:39] marinsalinas commented on #36
Related to #26,

@acim, could you please upgrade your terraform binary to 0.12+ and follow these steps?

https://github.com/terraform-providers/terraform-provider-mongodbatlas/issues/26#issuecomment-532481256,

[2019-09-24 15:27] PacoDw commented on #30
Hello, @aliciaalcalde , the issue was attended with the pr 38, and you can test it on the branch `networkContainer`.
If you have another comment or concern plz let us know.

[2019-09-26 13:25] mattt416 opened #40 "AWS clusters default provider_encrypt_ebs_volume to false"
Hey folks,

If I omit `provider_encrypt_ebs_volume` in my resource definition for an AWS cluster, this value defaults to `false`. However, the [Atlas API](https://docs.atlas.mongodb.com/reference/api/clusters-create-one/) defaults this to `true`.

I think it would also be beneficial to remove `provider_encrypt_ebs_volume: false` from the Example AWS cluster in the [**mongodbatlas_cluster** docs](h

[2019-09-26 13:45] rrondeau opened #41 "GCP Peering endless terraform apply"
Hi

I cant get this provider to work with peering.
I start with an empty project, no container.

This is my code :
[code]

The thing is `mongodbatlas_network_peering` wait for the peering to be up but on the other end `mongodbatlas_network_container` does not return the values to the `google_compute_network_peering` resource.

What did i do wrong ?

[2019-09-26 13:54] rrondeau commented on #41
The peering is stuck on `WAITING_FOR_USER` status.
It appears that this status is considered like pending in the source : https://github.com/terraform-providers/terraform-provider-mongodbatlas/blob/master/mongodbatlas/resource_mongodbatlas_network_peering.go#L247

[2019-09-26 14:02] rrondeau commented on #41
I manage to get it working with this steps :
  - stop the run
  - find the peering id
  - import the peering in the pending state
  - re-apply to create the remaining gcp peering side of things

This is of course a temporary solution, can you point me the right solution/example ?

[2019-09-26 17:44] themantissa commented on #41
@rrondeau  thank you, we are working on this issue.  @PacoDw - fyi.

[2019-09-26 17:45] themantissa commented on #40
@mattt416 agreed.  @marinsalinas / @PacoDw can we get this corrected to the same default as the underlying system?

[2019-09-26 17:53] PacoDw commented on #41
Thank you so much for your review! it's so helpful 👍

[2019-10-01 14:35] philipp-paland opened #42 "Upgrade from M2 to M10 fails"
Upgrade from M2 to M10 fails

It does not seem to be possible to upgrade an M2 cluster to an M10 cluster even though it's possible via the Atlas UI (and I assume via the API).

I have attached two tf files that show the cluster definitions before and after. Both can be used to create new clusters without any error.

To reproduce, use the following commands:

    export MONGODB_ATLAS_PUBLIC_KEY="ab

[2019-10-01 15:14] themantissa commented on #42
@therealppa very much appreciate the sample main.tfs and issue.   We'll need to find a way to basically "unset" the value for backing_provider_name as terraform saves it in it's state but once you move beyond an M2/M5 it isn't supported and so the apply fails.   @PacoDw, @marinsalinas  let me know if you have any questions on this bug.

[2019-10-01 16:41] acim commented on #36
Same thing:

[code]

[2019-10-01 20:00] PacoDw commented on #41
Hello @rrondeau we have made the fix on the PR #43, could you check the example configuration on there and test on the `Network peering` branch?

If you have another comment plz let us know, thanks!

[2019-10-01 20:01] PacoDw commented on #29
Hello @aliciaalcalde  we have made the fix on the PR #43, could you check the example configuration on there and test on the Network peering branch?

If you have another comment plz let us know, thanks!

[2019-10-01 20:55] acim commented on #36
Crashes stopped after I did "state rm" old resources created by akshaykarle/terraform-provider-mongodbatlas.

[2019-10-01 21:20] #30 closed, assigned to nobody

[2019-10-01 21:29] #29 closed, assigned to nobody

[2019-10-02 08:54] rrondeau commented on #41
Hello @PacoDw , it works like a charm ! Thank you !

[2019-10-02 08:54] #41 closed, assigned to nobody

[2019-10-02 15:39] themantissa commented on #33
@aliciaalcalde since I've not heard back I'm going to close this.  Feel free to reach out if you have more issues.

[2019-10-02 17:19] marinsalinas commented on #42
Thank you @themantissa for the explanation, let me take a look on this.

[2019-10-02 19:19] #33 closed, assigned to nobody

[2019-10-02 21:08] themantissa commented on #36
We have someone working on a guide from moving from the community provider to the new one and if I get an ETA will share.    Ideally one should be able to import in the existing resources and then create the new configs (hopefully Terraform will someday have the tf file creation upon import) but it may take removing the state first (that sure is what it sounds like).

[2019-10-03 15:25] #42 closed, assigned to nobody

[2019-10-03 19:16] PacoDw commented on #40
Hello, @mattt416 the fix is on the fix-#40 branch, could you plz check if this was resolved?

If you have another comment plz let us know, thanks!

[2019-10-08 00:34] pryorda commented on #42
IMO, the forcenew is not a good solution and is work around. Is there a plan to fix it so that it doesn't do that?

[2019-10-08 10:19] davidepedranz opened #47 "Version 0.3.0"
Hey guys, thanks for the amazing work, this Terraform provider is very useful. I see a number of improvements have been done in the last days. Could you please release a new `0.3.0` version with all the fixes? :pray: At the moment I am stuck because of #29, which was already solved in #43.

[2019-10-08 16:18] #40 closed, assigned to nobody

[2019-10-08 16:38] marinsalinas commented on #42
For that, we have to ask API's developers if is there a plan to fix that, because it's now allowed to PATCH provider_name attribute, that's why we decide to use force new.

Closed it with this workaround because it is more like an API issue.

cc @themantissa

[2019-10-09 06:26] mattdornfeld opened #49 "An invalid enumeration value US_EAST_1 was specified."
Can anyone explain why I'm getting the below error?

[code]

This is my tf file

[code]

[2019-10-09 19:34] davidepedranz commented on #47
Thanks for releasing version [0.3.0](https://github.com/terraform-providers/terraform-provider-mongodbatlas/releases/tag/v0.3.0). I have just tried it out and it works perfectly! I guess I can close the issue ;-)

[2019-10-09 19:34] #47 closed, assigned to nobody

[2019-10-09 20:46] pryorda commented on #42
You can patch it to work. The providersettings attribute should be set it "" and it will get omitted if empty. Thats assuming I read the sdk right.

[2019-10-10 18:50] mpaluchowski opened #50 "Add resource for custom database roles"
Could we have a resource for creating custom database roles? There is [the API for that](https://docs.atlas.mongodb.com/reference/api/custom-roles-create-a-role/) available.

[2019-10-15 07:19] hpio commented on #49
hi @mattdornfeld, you are getting this error as you used incorect value for `provider_region_name`. Please have a look at https://docs.atlas.mongodb.com/reference/google-gcp/ and pick a valid `Atlas Region`

[2019-10-15 11:57] mattt416 commented on #40
@PacoDw Apologies for delayed reply, was away on vacation when you posted your previous comment. I've since tested this (using 0.3.0 release) and all looks good. Thank you!

[2019-10-15 21:39] themantissa commented on #50
@mpaluchowski  we are taking feedback on what is needed for the next version of the provider at https://feedback.mongodb.com/forums/924145-atlas?category_id=370723 please add this suggestion there.  Thank you!

[2019-10-15 21:39] themantissa commented on #49
Thank you @hpio for the assist!

[2019-10-15 21:39] #49 closed, assigned to nobody

[2019-10-15 21:40] themantissa commented on #36
closing as will be tracked in issue 26 - https://github.com/terraform-providers/terraform-provider-mongodbatlas/issues/26

[2019-10-15 21:40] #36 closed, assigned to nobody

[2019-10-17 16:24] themantissa commented on #50
Closing as suggestion was added to https://feedback.mongodb.com/forums/924145-atlas?category_id=370723, if others need please vote/comment there.

[2019-10-17 16:24] #50 closed, assigned to nobody

[2019-10-21 15:05] rrondeau opened #51 "Modifying project ip whitelist destroy and re-create all resources"
Hi,

This seems to be a bug into the `mongodbatlas_project_ip_whitelist` resource.
Exemple :
[code]
Add a cidr :
[code]
Plan :
[code]
It happens if i add or delete or modify a cidr_block.
Thanks

[2019-10-21 23:09] themantissa commented on #51
Hi @rrondeau,

Thank you for the issue submission.  In this case the behavior is as intended and not a bug.

Because of the way the project IP whitelist's underlying API resource works updating it via Terraform would have been a challenge without doing the forced replacement - the provider would have had to figure out what was changed, delete if applicable and if new/changed submit those.  In maki

[2019-10-22 07:57] rrondeau commented on #51
Thanks for the reply.
So how i can update my whitelist without disconnecting my applications ?
This seems weird to me and i cannot use it in production since this can break connections :/

[2019-10-22 08:33] rrondeau commented on #51
I check the api resource documentation, maybe i misunderstood something previously.
Does the provider post the whitelist globally and the api applies the changes with more granularity ?

[2019-10-22 08:43] rrondeau commented on #51
Done some testing with TF_LOG=TRACE and it delete every rule before re-creating the whitelist globally :/

[2019-10-22 22:39] aeugenio opened #52 "specify oplog size?"
hello,

when will the `mongodbatlas_cluster` resource have support for setting the oplog size?  i dont see anything in the docs atm.

i also stood up a cluster via tf,  set the oplog size manually in the console, and then ran a `terraform plan` which results in `No changes. Infrastructure is up-to-date.` .  This would imply oplog size isn't supported at all yet.

thanks.

[2019-10-23 12:46] ghost commented on #7
I am facing the same issue again.

[2019-10-23 16:12] PacoDw commented on #40
@mattt416 Don't worry about it :) I'm glad that everything is okay for you! 👍

[2019-10-24 15:41] themantissa commented on #52
Hi @aeugenio,  We will be including support for advanced config options soon.   Will keep you updated.  Thank you!

[2019-10-24 21:24] edahlseng opened #53 "accepter_region_name not required for AWS on read/import/update"
According the [documentation](https://www.terraform.io/docs/providers/mongodbatlas/r/network_peering.html#accepter_region_name), the `accepter_region_name` is required for resource `mongodbatlas_network_peering`. Nevertheless, when we first imported our resources (migrating from the original third-party provider), we didn't encounter an error when we left out `accepter_region_name`.

Checking [mon

[2019-10-28 16:33] aliciaalcalde opened #54 "Error encryption_at_rest rpc unavailable desc"
Good morning,

I create an IAM service account, KMS keyring and key in my own GCP account.

[code]
It returns the following error:
[code]
I try to create encryption at rest manually with the same service_account_key and key_version_resouce_id and it works.

Is my code right?

Thank you so much!!

[2019-10-30 15:05] themantissa commented on #54
Hi @aliciaalcalde per the README file support is provided under the your Atlas support agreement. Please reach out via that channel for a timely response on questions, issues is for bug reports.   Thank you!!

[2019-10-30 15:05] #54 closed, assigned to nobody

[2019-10-30 17:35] carlos4ndre opened #55 "Add resource for maintenance window"
Hi!

I would like to know if there is any plan of supporting a resource for provisioning [maintenance windows](https://docs.atlas.mongodb.com/reference/api/maintenance-windows-view-in-one-project/)?

This could be helpful to avoid setting this manually at the project level.

I'm new to Terraform but wouldn't mind to work on it, in case it makes sense.

Thanks

[2019-10-31 13:34] ghost opened #56 "data source mongodbatlas_network_peering retrieves the same for id and connection_id"
Hi, I am requesting network peering from Atlas to my VPC and would like to accept it with aws_vpc_peering_connection_accepter. I tested many ways but still cannot get the `pcx-` identifier.
Now I tried data source `mongodbatlas_network_peering` but it retrieves internal Atlas connection ID when I use the `id` and `connection_id` attribute of the data source.

[code]

I would like to get the `pcx-`

[2019-11-01 06:35] nikhil-mongo opened #57 "Confirmation on timelimit for a terraform apply"
I created a create cluster file and the terraform ran for 12m to create the cluster. But then it threw 500 server error. Is this the time limit to complete a plan?

[code]
On the other hand, the cluster is created in the Atlas. And now when I run `terraform destroy` it shows no plan.

[2019-11-01 06:36] nikhil-mongo opened #58 "Syntax are not mandatory and creates confusion"
To launch a cluster using terraform,
mongo_db_major_version       = “4.0” // this is in documentation and requires the version to be in string, but with version 4.2
mongo_db_major_version       = 4.2 // this will work without the “”.

Please see if any changes need to be made to make this mandatory.

[2019-11-01 15:30] themantissa commented on #55
Hi @carlos4ndre,  Per our README requests for new features for the provider can be made to https://feedback.mongodb.com/forums/924145-atlas?category_id=370723.   We do plan to continue to support more resources hence the submissions/votes there will help us rank user need.  We also welcome community submissions, see the README for more.  Thanks!

[2019-11-01 15:30] #55 closed, assigned to nobody

[2019-11-01 19:33] themantissa commented on #57
_Please note: Per the README support is provided under MongoDB Atlas support agreements._

It doesn't look like you hit a timeout but looking at that groups Activity Feed there is an error related to cluster-atlas about failing to execute a plan, potentially related but I don't have the ability to dig further. The 500 error here would be from Atlas, not the provider but the provider wasn't able to

[2019-11-01 20:28] themantissa commented on #57
Reopening issue as we have enough information now to know this is likely pointing to an issue with the Provider having a problem if a plan is executing, in this case to build a cluster, and a recoverable error is encountered, here a 500 was returned by a GET and the plan stopped - however the cluster creation did succeed and hence Terraform state and the Atlas reality did not match.  The plan shou

[2019-11-01 20:33] themantissa commented on #53
@edahlseng thank you.  We'll add this as a non-blocking bug.  Thank you.

[2019-11-04 16:03] PacoDw commented on #57
Thanks, @themantissa and @nikhil-mongo so much for your review, we will check what happens with it, but @nikhil-mongo can you help us sharing the Terraform configuration to recreate the issue?

[2019-11-04 16:20] nikhil-mongo commented on #57
Hi @PacoDw

I am using Terraform v0.12.10 and the cluster.tf file is attached.The file is
[cluster.txt](https://github.com/terraform-providers/terraform-provider-mongodbatlas/files/3804878/cluster.txt)

Also I did not make any change to the Terraform configuration, which would cause this. I believe the response to the errors like 500, where a retry should be made to check the state of the cluster

[2019-11-04 16:23] PacoDw commented on #57
Thank you so much! We will figure out this on ASAP 👍

[2019-11-04 16:31] nathankodilla opened #59 "mongodbatlas_network_peering outputting invalid json"
POST /api/atlas/v1.0/groups/xxxxxx/peers returns a 500, and putting terraform in debug outputs invalid json:

[code]

Note the random `k` after the `routeTableCidrBlock` value.

Terraform script is as follows:
[code]

[2019-11-04 17:07] nathankodilla commented on #59
Upgraded to 0.3.0 and once it output a random `.` instead of the `k` and then a third time it outputted correct json, but still gave the 500. So, maybe we can chop the random trailing characters to a logging issue, but the 500 from mongo cloud api still remains.

[2019-11-04 17:28] nathankodilla commented on #59
Found the issue.  Needed to use `mongodbatlas_network_container.main.container_id` instead of `mongodbatlas_network_container.main.id`.

[2019-11-04 20:53] themantissa commented on #59
@nathankodilla great you were able to solve the issue!  I'll close this but if you have any other potential bugs to report please do.  Otherwise please note that per the README support is provided under MongoDB Atlas support agreements.

[2019-11-04 20:53] #59 closed, assigned to nobody

[2019-11-04 21:10] themantissa commented on #56
@Crusad once you create a container and a peer the request is made to AWS and the returned value from AWS is then contained in the `connection_id` returned value from mongodbatlas_network_peering.   `mongodbatlas_network_peering` will have the pcx- value so you can use it with `aws_vpc_peering_connection_accepter`.

Also please do that per the README support is provided under MongoDB Atlas support

[2019-11-05 00:07] themantissa commented on #56
@Crusad  - wanted to double check and yes, setting the following after creating both your container and peer for Atlas will auto accept on the AWS side:
[code]

[2019-11-05 00:07] #56 closed, assigned to nobody

[2019-11-06 16:41] PacoDw commented on #52
Hi! @aeugenio, thanks for your review, the advanced configuration options, were integrated into the cluster resource. You can check it on the `cluster_advanced_config` branch.

Let us know if you have another comment.

[2019-11-07 16:46] #52 closed, assigned to nobody

[2019-11-07 19:04] StephenBerezhnoy opened #61 "No way to modify advanced configuration options for a cluster"
https://docs.atlas.mongodb.com/reference/api/clusters-modify-advanced-configuration-options/

I'd like to be able to disable server-side javascript and specify the minimum enabled TLS protocol using terraform as can already be done through the mongoDB Atlas UI and API.

[2019-11-07 19:34] PacoDw commented on #57
Hi, @nikhil-mongo,
I tried to recreate the issue with the recent changes, and I didn't have any error about it, just a little issue that's resolved. Could you plz download the latest changes and test it again?

If you have another concern or comment plz let us know

[2019-11-07 19:44] PacoDw commented on #61
Hello @StephenBerezhnoy,
Thanks for your review,  we have enabled the advanced configuration option in the pull request #60

If you have another comment just let us know.

[2019-11-07 19:51] StephenBerezhnoy commented on #61
@PacoDw Wow! awesome, thank you. I was looking at the terraform docs for the mongoDB atlas here https://www.terraform.io/docs/providers/mongodbatlas/d/cluster.html and didn't see those options yet. I assume that's because those features were just added 3 hours ago.

So, I'm good to try them right now? or do I have to wait for a daily build or something like that?

[2019-11-07 20:08] StephenBerezhnoy commented on #61
@PacoDw I see from trying a terraform init, and a terraform plan with the new configuration options, that it currently produces an error. When can I expect the terraform init to get the latest version with the advanced configuration options?

[2019-11-07 20:19] PacoDw commented on #61
@StephenBerezhnoy These new changes are no deployed to Terraform yet if you want to use or test these new changes, you must use the master branch, just download this repo.

[2019-11-07 20:30] StephenBerezhnoy commented on #61
@PacoDw  I'll just wait. Any idea when these changes will be deployed?

[2019-11-07 20:36] PacoDw commented on #61
@StephenBerezhnoy I think the next week it's done, but if you need to work immediately with these new changes I recommend you to use the master branch because everything is ok there.

If you have another comment or question just let me know plz.

[2019-11-07 23:13] PacoDw commented on #58
Hello @nikhil-mongo,
Thanks for your review, I made a few changes to allow string and float types to be able to set to the mongo_db_major_version attr, you can check the changes on the pr #63.

If you have another comment plz let us know.

[2019-11-08 14:16] jackivanov opened #64 "Not able to create M0 clusters"
Hello,

For some reason I can't create M0 clusters via terraform. Meanwhile I can do it in the UI.

[code]

[code]

[2019-11-08 14:24] #64 closed, assigned to nobody

[2019-11-08 15:31] #57 closed, assigned to nobody

[2019-11-08 15:50] nikhil-mongo commented on #57
Hi @PacoDw

Thanks for all the efforts. It is not that API would hit 500 error each time. But with the latest plugin updated in my terraform on local machine, it is working great at the moment. Hopefully, it should not panic again.

Also to mention, when terraform panic and did not continue with the deployment, how could it still be looking for the same cluster with the data dependencies when I tr

[2019-11-08 15:55] PacoDw commented on #57
You are welcome, thank you so much for your review

[2019-11-08 22:31] #58 closed, assigned to nobody

[2019-11-08 22:33] #61 closed, assigned to nobody

[2019-11-12 03:54] sjauld opened #67 "Support for AWS security groups in mongodbatlas_project_ip_whitelist"
The Atlas API supports adding security groups to a Project IP Whitelist, by specifying the security group ID in the `cidr_block` field.

However since we validate that `cidr_block` is a CIDR block, we can't input security groups here.

I'll throw together a quick PR.

[2019-11-12 04:36] sjauld commented on #67
Actually, on further inspection, the Atlas API *returns* security group IDs in the cidr_block field, but doesn't *accept* them when you post it. I'll raise a ticket with them.

[2019-11-12 04:56] sjauld commented on #67
No ticketing system exists for the API, but feel free to +1 this tweet if you want to support my request 👍  https://twitter.com/sjogrady/status/1194116135551029251

[2019-11-12 12:35] richardj-bsquare opened #68 "Whitelisted Project IPs when manually deleted causes failure at next plan/apply"
**Version affected**
terraform-provider-mongodbatlas 0.3.1

**How to reproduce**
Use mongodbatlas_project_ip_whitelist to whitelist a list of IPs
Terraform plan & apply
Delete *all* of the IP whitelisted addresses.
Run terraform plan & apply

**Expected Behaviour**
The whitelisted IP is recreated.

**Actual behaviour**
Upon re-running the terraform plan this is reported (example):

`Error: error g

[2019-11-12 15:30] themantissa commented on #67
Security group support was actually very recently added to the MongoDB Atlas IP Whitelist resource.  We have it on our roadmap to add support for it via the Provider as soon as we can schedule engineering resources to tackle it.

For future reference,  per the README, feature requests can be made via https://feedback.mongodb.com for both MongoDB Atlas (and its API) as well as the Terraform provide

[2019-11-12 19:20] PacoDw commented on #68
Hi @richardj-bsquare!
Thank you so much for your review, on your steps to reproduce how do you remove all the whitelist? Due you can't remove them and run the plan or apply because Terraform whitelist is a required field. On another hand, I made a test removing them, always leaving one or updating them, and I didn't have errors.

If you have another comment or concern plz just let me know.

[2019-11-15 05:08] nikhil-mongo commented on #57
Hi @PacoDw and @themantissa ,

The above issue has been encountered again.

Below is the error:

Error: error deleting MongoDB Cluster (cluster-atlas): DELETE https://cloud.mongodb.com/api/atlas/v1.0/groups/5cd520dca6f239768087f39e/clusters/cluster-atlas: 500 (request "Internal Server Error") Unexpected error.

But the request succeeds and now Terraform still gives me the option to destroy the clu

[2019-11-15 14:32] gfl-chris opened #70 "missing schema for provider "mongodbatlas" resource type mongodbatlas_ip_whitelist"
I'm trying to update our mongodbatlas provider to the latest but I'm running into an error during the planning phase:
[code]
Trying to look at the state fails with the same error:
[code]

Any idea what's going on? :)

[2019-11-15 15:01] gfl-chris commented on #70
My apologies, we're using [akshaykarle's](https://github.com/akshaykarle/terraform-provider-mongodbatlas) implementation.

[2019-11-15 15:01] #70 closed, assigned to nobody

[2019-11-15 16:11] themantissa commented on #57
@nikhil-mongo please ensure you are testing with the most recent version, which is 0.3.1.
https://github.com/terraform-providers/terraform-provider-mongodbatlas/blob/master/CHANGELOG.md

[2019-11-18 10:04] ansi4 opened #71 "mongodbatlas_network_containers datasource doesn't work with Azure"
The _mongodbatlas_network_containers_ data source doesn't work with providers other than AWS.

This happens because you cannot specify providerName for this data source in terraform and, if absent, it defaults to AWS, as specified in the [documentation](https://docs.atlas.mongodb.com/reference/api/vpc-get-containers-list/). It results in empty list of containers for Azure.

[2019-11-18 21:01] themantissa commented on #71
Hi @ansi4 can you provide more information around the specific problem you hit when trying to create with Azure, your .tf/errors, etc?  We've tested creating peering with all 3 supported cloud providers and all three passed so want to be sure we are focused on any issue you've had.  Also note you need the resource https://www.terraform.io/docs/providers/mongodbatlas/r/private_ip_mode.html w/ Azure

[2019-11-20 11:39] richardj-bsquare commented on #68
Hi,

Sorry for the confusion. I removed them **all manually** from the Mongo DB Atlas whitelist via the Atlas web UI.

As indicated in this scenario, the provider should detect entries are missing and re-add them, this prevents inadvertent deletion or other manual changes from being missed, and would be consistent behaviour with other providers (i.e. if you delete a subnet in AWS via the console,

[2019-11-21 14:36] Huggzorx opened #72 "Creating M2 cluster without specifying disk_size_gb results in 400 Bad Request"
Excerpt from my main.tf file:

[code]

According to the documentation, disk_size_gb is optional and should default to the minimum (2GB for an M2) but I get an error: `400 (request "Bad Request") The cluster's disk size of 0.0 GB is invalid"`.

If I specify `disk_size_gb = 2` it works as expected.

[2019-11-21 14:37] ansi4 commented on #71
Hi @themantissa. Thank you for looking into it.

Basically there is no issue creating the peering. The issue manifests itself when you try to retrieve peering containers using [_data.mongodbatlas_network_containers_](https://www.terraform.io/docs/providers/mongodbatlas/d/network_containers.html). It yields no results, despite the fact that the container is present (I've checked by calling API).

I

[2019-11-21 15:18] themantissa commented on #72
@Huggzorx thank you!  I'll ask the team to address this.

[2019-11-21 15:20] themantissa commented on #71
@ansi4 ah, that helps quite a bit. We had a fix go in for a similar issue for the resource so perhaps just needs to be addressed for containers as well.  Will ask the team to look into this.  Thank you!

[2019-11-22 17:31] ahanoff commented on #64
@jackivanov I'm getting same error for M2/M5 clusters with AWS. Based on docs it should be available https://docs.atlas.mongodb.com/reference/api/clusters-create-one/ 🤔  ?

[2019-11-22 17:57] ahanoff commented on #64
All right, figure it out using correct **provider_name** and **backing_provider_name** for M2/M5:

[2019-11-22 19:23] gvilarino opened #74 "Crash (panic, interface conversion error) when creating mongodbatlas_encryption_at_rest in Azure"
[code]

I have these `mongodbatlas_project` and a `mongodbatlas_cluster` resources created properly and managed with terraform. I now want to add the `mongodbatlas_encryption_at_rest` resource so I can encrypt my clusters with my own keys in my Azure KeyVault.

Here's my .tf (secrets edited) file:

[code]

Terraform crashes as soon as I type `yes` in the `apply` confirmation dialogue (after the pl

[2019-11-25 20:45] PacoDw commented on #72
Hi, @Huggzorx thanks for your review, I have made the change to avoid to specify the disk size attr, you can test it on the `cluster` branch and check the pr #77 for more information.

plz, let me know if you have another comment or concern.

[2019-11-26 19:59] gvilarino commented on #74
I'm not much of a `go` developer, but from what I *think* I can understand, it seems the crash happens in [line 142 of resource_mongodbatlas_encryption_at_rest.go](https://github.com/terraform-providers/terraform-provider-mongodbatlas/blob/master/mongodbatlas/resource_mongodbatlas_encryption_at_rest.go#L142) when trying to cast a non-existant value to string.

[code]

I never configured AWS creden

[2019-11-26 20:13] gvilarino commented on #74
Ok, after trying with both the AWS and GCE settings, with empty strings as values and `enabled = false` this did work.

However, it wasn't unless reading the code that I sort of figured out how to bypass it. I think the UX for this is not consistent for the core terraform modules; as a common user I didn't expect to have to specify unneeded settings, also my configuration shouldn't have passed `te

[2019-11-26 21:36] gvilarino opened #80 "mongodbatlas_encryption_at_rest key rotation impossible to perform with Azure KeyVault"
When using customer keys for encryption at rest it is possible to rotate encryption keys with no downtime through the MongoDB atlas portal by just specifying a different (and accessible) key ID (it even works by changing any credentials, even using a different KeyVault).

The problem is when using this module's `mongodbatlas_encryption_at_rest` resource: having a complete project + cluster + encry

[2019-11-27 00:06] PacoDw commented on #74
Hello @gvilarino thanks for your reviews, we will attend them as son as posible 👍

[2019-11-28 03:08] mattt416 opened #81 "Cluster fails to build on 0.3.1 when mongo_db_major_version is not specified"
Hey folks,

Using version `0.3.1`, if you omit `mongo_db_major_version` on the `mongodbatlas_cluster` resource then you'll hit an API error as the provider is sending along the following:

[code]

This doesn't seem to be an issue with `0.3.0`, so is likely something introduced in `0.3.1`.

The docs for the [**mongodbatlas_cluster** resource](https://www.terraform.io/docs/providers/mongodbatlas/r/c

[2019-11-28 03:22] mattt416 commented on #51
Hi @themantissa , I've also tested this and see similar behaviour to what @rrondeau reported. If you add a new whitelist entry to your terraform config and apply, it'll blow away _all_ existing whitelist entries and then recreate them _all_ again (including the newly added entry). This gets done every single time you make a change.

Looking at the project's Activity Feed, you can also see that eve

[2019-11-28 10:32] emas80 commented on #51
Hi, I have also reported this to MongoDB.

May I suggest to update the documentation page of the provider/resource at https://www.terraform.io/docs/providers/mongodbatlas/r/project_ip_whitelist.html ?

[2019-11-30 22:18] themantissa commented on #51
@emas80 thank you, we are in communication with our support team as well.   I'll reopen this issue so we can review with the team.  Please be aware that due to the US holiday and an upcoming major event there will be some delay.

[2019-12-02 14:44] ghost commented on #56
Thanks, and I am sorry @themantissa  - I had actually completely different problem in Terraform and it led me to believe there is something wrong with the resource. I confirm it works as desired/intended.

[2019-12-03 22:01] themantissa commented on #81
@mattt416 thank you!  We'll have the team take a look at this.   @PacoDw  or @marinsalinas possible bug.

[2019-12-04 16:49] ruXlab opened #83 "mongodbatlas_network_container doesn't form a valid json request"
Hello here

I have this resource configuration, very much as in the documentation:

[code]

And that gives me an error:

[code]

I enabled tracing and found following records:

[code]

It seems to me that request is not complete, as per [documentation](https://docs.atlas.mongodb.com/reference/api/vpc-update-container/) this API requires additional fields

----------

**versions**
+ provider.aws v2

[2019-12-09 22:04] zomarg commented on #72
`disk_size_gb - (Optional - GCP/AWS Only) The size in gigabytes of the server’s root volume. You can add capacity by increasing this number, up to a maximum possible value of 4096 (i.e., 4 TB). This value must be a positive integer.`

When not setting up disk_size_gb using AZURE throws same error.

[2019-12-09 23:34] marinsalinas commented on #81
Hello @mattt416, I opened a PR #35 regarding this issue, could you please validate if it works with this fix.

[2019-12-10 10:09] Uvedale opened #86 "Cannot update GCP network peer"
**What I did**: Import a mongodbatlas_network_peering resource and run terraform apply to apply the `route_table_cidr_block` change it thinks it needs to make (asserting the same value)

**What I expected**: The change to be successful

**What happened**:
```Error: error updating MongoDB Network Peering Connection (our-group-id): PATCH https://cloud.mongodb.com/api/atlas/v1.0/groups/our-group-id/p

[2019-12-10 16:22] nitrag opened #88 "mongodbatlas_network_container Already exists"
I think this is the valid scenario to reproduce the issue:

Terraform:
1.  In Terraform, Create project, container, cluster, VPC peering to AWS VPC, from scratch.
2.  Outside of Terraform, in dashboard, add a new cluster to that project.
3. In Terraform, destroy resources. Successful. Project remains though because manually created cluster.
4. In Terraform, try and recreate cluster (just destroyed

[2019-12-10 16:25] themantissa commented on #86
Thank you @Uvedale , we'll ensure the team addresses.

[2019-12-10 16:40] #81 closed, assigned to nobody

[2019-12-10 16:41] themantissa commented on #80
@gvilarino thank you for the excellent detail.  We'll have the team take a look at this and the other issue you reported.

[2019-12-10 17:59] PacoDw commented on #72
Hello @GramozKrasniqi, could you share with me your Terraform configuration omitting sensitive data? I tested with the following TF configuration, and I didn't have errors:

[code]

[2019-12-10 18:06] zomarg commented on #72
Yes sure:
[code]

[2019-12-10 20:27] PacoDw commented on #72
Thanks, @GramozKrasniqi, I tested your TF configuration and the auto_scaling_disk_gb_enabled is missing, so you need to set it to false when you want to use TENANT because if you don't, it sets to true by default and you will get an error. I made a few changes to avoid to set auto_scaling_disk_gb_enabled to false when you are using TENANT. It will set to false automatically.

So you must be able t

[2019-12-10 20:44] zomarg commented on #72
Great @PacoDw thank you :)

[2019-12-11 13:30] nathankodilla opened #89 "Renaming a project forces replacement"
Changing the name of a mongodbatlas_project causes a replacement which then trickles down and causes a replacement for all the clusters (and other resources) as well. A simple rename should not cause a replacement, as I can rename a project in the Atlas  Web UI and it does not force anything to be recreated.

[code]

[2019-12-12 05:54] nikhil-mongo commented on #89
@nathankodilla

The project rename is an Atlas UI feature and there is no public API to achieve this. Therefore, terraform is applying the changes in correct manner as it does not finds any reference to the old cluster name anywhere in the .tf file.

So, when the name is changed, terraform sees that you do not need the older project anymore and there is no reference to the old name in .tf files.

[2019-12-12 22:11] themantissa commented on #89
@nikhil-mongo thank you for helping and yes, I believe you are correct.  There is no API method to update project names https://docs.atlas.mongodb.com/reference/api/projects/ hence we cannot support this in the Provider.  However we should find a way to handle as deleting the project just by changing the name is not a desired behavior - @PacoDw @marinsalinas thoughts?

[2019-12-13 03:00] ardiesaeidi commented on #83
I had a similar issue, try changing `region_name` to use uppercase and underscore for aws region name. So instead of us-west-2 -> US_WEST_2.

[2019-12-13 18:16] themantissa commented on #89
I repro'ed changing the project name yesterday and Terraform properly notifies upon both plan and apply that changing the name will destroy all the related resources and create them again (it does not show anything changed).   As I noted yesterday the API's Project resource has no PATCH method so while the name can be changed in the UI it cannot be done so by infrastructure managed by Terraform at

[2019-12-16 12:32] ruXlab commented on #83
@ardiesaeidi thanks for your response. I have seen people had the similar issue with capitalisation of the regions names, so I actually enforced it using `upper` function to avoid typos

[2019-12-16 18:05] marinsalinas commented on #86
Hello @Uvedale, could you please check on https://github.com/terraform-providers/terraform-provider-mongodbatlas/pull/92 if the issue is still happening?

[2019-12-16 19:07] ardiesaeidi commented on #83
thanks @ruXlab  that would be really helpful. How do you guys feel about normalizing wherever you ask for region so that it is consistent?

Some modules like `mongodbatlas_network_peering` ask for region using lowercase-hyphen, while the rest of the modules ask for region using uppercase and underscore. (like `mongodbatlas_network_container`)

[2019-12-16 19:31] Uvedale commented on #86
Hi @marinsalinas. Unfortunately it is not simple for me to try again as this happened on our production cluster and changes to production require change management. Looking at the code in that PR, I don't think that will fix it as I was specifying provider_name correctly as GCP.

When I said "it looks like the default provider of AWS is being applied", I meant on the API server side. The [API call

[2019-12-16 22:45] ardiesaeidi opened #93 "mongodbatlas_encryption_at_rest outputs IAM secrets to stdout"
Hi,

I'm using the module `mongodbatlas_encryption_at_rest` to setup encryption and i noticed that the module is outputting my IAM secre to console/stdout. It would be great if this information can be redacted in some way since i wouldn't want this leaked through my logs.

"terraform" 0.11.14
"mongodbatlas" 0.3.1
"template" 2.1.2
"aws" 2.42.0

[code]

[2019-12-16 22:55] marinsalinas commented on #93
I totally agree! @ardiesaeidi, these fields should be marked as sensitive in the resource's schema. I'll open a PR with this, as soon as I got any bandwidth to solve more issues.

[2019-12-16 23:13] themantissa commented on #93
Hi @ardiesaeidi  - Feel free to submit a feature request at https://feedback.mongodb.com/forums/924145-atlas?category_id=370723 for specific values to be redacted in the display to stdout.  However, please be aware that this information would still be stored in your Terraform state file.    There is more than one way we've seen customers mitigate this risk - one common one is to use both Terraform

[2019-12-16 23:59] ardiesaeidi commented on #93
Thanks @marinsalinas @themantissa ! That makes sense and i'll look into Vault. Solving this particular issue would be helpful for my team since we kick off tf changes through jenkins and it stores/logs the console output.

[2019-12-17 23:23] themantissa commented on #86
@Uvedale can you share more of your config (redacted of course) so we can ensure we are fixing this issue correctly?   The more information we have the better we can address this.

[2019-12-18 10:02] Uvedale commented on #86
This is the resource config in question:

[code]

[2019-12-18 17:21] ruXlab commented on #83
@ardiesaeidi as an API consumer I'd expect to have the same naming across the resources. Ideally to make them match AWS plugin naming.

In any way if malformed parameter is passed the validation error should be thrown as early as possible giving a clear direction for error resolution for the API consumer

Thanks!

[2019-12-18 19:56] themantissa commented on #88
@nitrag

I couldn't quite reproduce this but this what I did and what I found:

1)  In Terraform, Create project, container, cluster, VPC peering to AWS VPC, from scratch in US_EAST_1
2) Post create, Checked that all created successfully in the UI and via API as well and that a container was created - noted that  "provisioned" was set to true (this is important for later)
2) Outside of Terraform,

[2019-12-18 20:14] themantissa commented on #88
Closing since situation was triggered by manual work in a Terraform managed environment and repo shows all is working as intended.

[2019-12-18 20:14] #88 closed, assigned to nobody

[2019-12-18 20:23] themantissa commented on #83
@ruXlab and @ardiesaeidi thank you very much for helping each other out here!  Please do note that support is provided within the MongoDB Atlas support system.  I realize this was reported here as it was assumed to be a bug.

Agree the variations in region naming can be challenging.   Our Provider developers have worked to improve this as it's come up and will continue to do so as it makes sense,

[2019-12-18 20:23] #83 closed, assigned to nobody

[2019-12-18 20:44] themantissa commented on #68
Hi @richardj-bsquare as you can see we are working on some improvements in regard to the IP Whitelist resource based on customer feedback.  In doing so I'm reviewing some of the issues reported in and I'm not quite clear on the expectations here?  When one create a resource like an IP Whitelist with Terraform the information is held in the Terraform state file.  If one then manually deletes the re

[2019-12-18 21:16] themantissa commented on #51
Wanted to update everyone on this issue.   We are working to redo the way we handle the IP Whitelist to make it less all or nothing (see PR #94).  This will result in breaking a change in the Terraform configuration for this Resource but will implement a more desired behavior based on feedback.  However note it will still destroy and delete an entry when a change is required but only for the speci

[2019-12-19 20:54] #71 closed, assigned to nobody

[2019-12-20 05:17] nitrag commented on #88
Thanks for looking into this and I appreciate your explanation.

[2019-12-20 10:17] richardj-bsquare commented on #68
It's really simple to reproduce. Add some whitelists IPs to a terraform config, plan it, apply it, delete 1 manually via the Atlas console, re-plan, you'll see the above error.

The expectation is as described, when your terraform configuration says IPs should be in a whitelist, and they are not, it should put them back when you plan and apply. This is *only* an issue when they are manually delete

[2019-12-20 20:50] themantissa commented on #68
HI @richardj-bsquare  - yes, I've reproduced the behavior but there are some resources for which state can be refreshed and some that can't (this is covered in the drift documentation at Terraform's site and is why I provided the work around above).  In order to determine if this is one that's a bug or one that's problematic when removed manually to refresh state I've asked the team to look into i

[2019-12-20 21:59] themantissa commented on #86
@Uvedale https://github.com/terraform-providers/terraform-provider-mongodbatlas/pull/92 should correct this now.  If you can confirm it corrects the issue we'll merge.  Thanks!

[2019-12-23 11:05] Uvedale commented on #86
```Error: error updating MongoDB Network Peering Connection (our-peer-id): PATCH https://cloud.mongodb.com/api/atlas/v1.0/groups/our-group/peers/our-peer-id: 400 (request "Bad Request") Invalid attribute gcpProjectId specified```

[2019-12-23 15:56] themantissa commented on #86
@Uvedale I'm assuming that errors is from using a build including the fix (It's not in a released version yet).   @marinsalinas  fyi^^

[2019-12-23 20:01] marinsalinas commented on #86
Hello @Uvedale, are you running this based on the branch `network-peering-68`?
Can you run `terraform apply` with TF_LOG=DEBUG and send us the log skipping sensitive data?

[2020-01-03 10:13] Uvedale commented on #86
@marinsalinas Yes, I compiled the plugin from the branch to test.
We solved this issue by just removing route_table_cidr_block as it isn't a required parameter for GCP peering.

To reproduce the issue:
* Create a peering connection with config like the one I posted above in GCP
* Remove it from terraform state
* Re-import it
* Terraform apply

[2020-01-06 19:21] #72 closed, assigned to nobody

[2020-01-10 20:38] #51 closed, assigned to nobody

[2020-01-13 17:46] #67 closed, assigned to nobody

[2020-01-14 11:38] simon-guerin opened #104 "Add pitEnabled feature of mongodbatlas_cluster resource"
I’m trying to automate the deployment of our MongoDB Atlas estate. MongoDB Atlas has an API as part of the cluster configuration which allows to set point in time restore **pitEnabled**

https://docs.atlas.mongodb.com/reference/api/clusters-create-one/

Looking in the documentation for the terraform resource mongodbatlas_cluster it doesn’t have this option

https://www.terraform.io/docs/providers/

[2020-01-14 17:29] PacoDw commented on #104
Hello @simon-guerin, thank you so much for your review, let us check because I think it is a new attribute @themantissa.

[2020-01-14 20:41] themantissa commented on #104
@PacoDw  and @simon-guerin  yes, that is indeed a newer feature and we'll need to add in support.  We'll want to look to schedule work to support pitEnabled for clusters and some new attributes for both cloud provider snapshot resources.

[2020-01-15 11:24] w0ut0 commented on #68
@themantissa is there any update on this issue?

[2020-01-15 11:36] simon-guerin opened #105 "expose 'paused' as an argument for mongodbatlas_cluster"
It would be great if you are able to expose **paused** as an argument for **mongodbatlas_cluster**

We have a requirement to pause our non-prod Atlas MongoDB estate on a nightly basis so being able to use this argument for the mongodbatlas_cluster resource would really help

[2020-01-15 15:13] themantissa commented on #68
@w0ut0 we've completed a large rewrite of the ipwhitelist functionality that will be in the next version.  @PacoDw  can you verify this issue regarding state is corrected?

[2020-01-15 17:56] PacoDw commented on #68
Hi @themantissa and @w0ut0,
I added this expecting behavior to the new whitelist resource and I tested remove one whitelist entry manually to recreate the issue, and everything works fine. You can check the changes in PR #106.

If you have another comment or concern plz let us know, thank you so much!

[2020-01-16 01:16] themantissa commented on #105
@simon-guerin  thank you for the suggestion.  Always feel free to submit feature requests via https://feedback.mongodb.com/forums/924145-atlas as it allows other users to vote for the idea as well.  I'll add it to our list of future possible enhancements.

[2020-01-17 14:59] simon-guerin commented on #105
Will do, thanks for your assistance!

[2020-01-22 01:21] PacoDw commented on #86
Hello, @Uvedale I fixed the bug, now you can update your peering connection, but you need to consider something, the reciprocal peering connection needs to be done.

You can test it on the same PR #92, let us know if you have another concern or comment, thank you.

[2020-01-22 04:20] ghost opened #109 "Issue with import mongodbatlas_cloud_provider_snapshot_restore_job"
_This issue was originally opened by @sushilvarma2 as hashicorp/terraform#23903. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hello All,

We have an issue where mongo db cluster was created through Terraform. And Snapshot was created manually. I am trying to im

[2020-01-22 12:49] Bozydarek opened #110 "Error creating MongoDB Cluster: unexpected EOF"
Hi,
I just start using this provider. I tried to create new cluster in some Atlas project. But after a minute terraform exit with error `Error: error creating MongoDB Cluster: Get https://cloud.mongodb.com/api/atlas/v1.0/groups/[REDACTED]/clusters/test-cluster: unexpected EOF`. But the cluster creation has been started. (And it finished without the problem).
It's look like there is some problem du

[2020-01-23 03:17] themantissa commented on #110
@Bozydarek thank you for the report.  A few quick questions - did you happen to engage with MongoDB Atlas support around this?  Also did you have any network issues around the same time?  Thinking maybe lost connection to the success did not return.  @marinsalinas and @PacoDw  any other thoughts here?

[2020-01-23 03:20] themantissa commented on #109
@marinsalinas or @PacoDw any way we can work around importing a cluster name that has hyphens when trying to import?

[2020-01-23 12:36] Bozydarek commented on #110
Hi @themantissa,
I didn't engage Atlas support since i was able to solve everything using web interface.
I didn't experienced any network issues at that time. Also I have same issue every single time when I tried to create the cluster (and I tried 4 times).
Moreover I didn't have any problem during creation of other resources like: `mongodbatlas_project`, `mongodbatlas_network_peering`, `mongodbat

[2020-01-23 15:13] themantissa commented on #110
Thank you @Bozydarek, again very helpful.   Would it be possible to share your cluster config with any sensitive info redacted?  If you won't want to share on github you can email me directly at melissa.plunkett@mongodb.com.

[2020-01-24 00:20] #86 closed, assigned to nobody

[2020-01-28 17:16] samuelint opened #114 "When is mongodbatlas_project_ip_whitelist security group feature going to be released?"
Hi I've seen commits about mongodbatlas_project_ip_whitelist security group feature in recent commits.
https://github.com/terraform-providers/terraform-provider-mongodbatlas/commit/8a58845535d44fd0d72be86f790cdcdc3ed83df4

Do you plan to release a new version anytime soon? I would be very helpful in my project.

Thank you very much!

[2020-01-29 13:07] Bozydarek commented on #110
I run `terraform apply` again on same configuration a week later and everything worked flawlessly. Maybe there was some network issue on my ISP side, who knows :man_shrugging:

@themantissa thanks for all your help :+1:

[2020-01-29 13:07] #110 closed, assigned to nobody

[2020-01-29 15:06] mattt416 opened #115 "Cannot re-apply config when M2/M5 `disk_size_gb` is specified incorrectly"
Hi team,

The M2/M5 tiers have fixed disk storage, 2 GB for M2 and 5 GB for M5.

If I add any arbitrary `disk_size_gb` value to my M2/M5 config, the build goes through without issue.

However, after the build completes and I attempt to re-apply, I receive the following failure:

[code]

This is because the `re-apply` tries to change the `disk_size_gb` from what it ought to be to what I've configur

[2020-01-29 15:53] themantissa commented on #114
@samuelint we expect arrival of a major new version within this quarter and it will include this work, as well as quite a few new resources.

[2020-01-30 02:44] themantissa commented on #115
Thank you @mattt416.   This is indeed a bug and in my own testing I've discovered a few more challenges with the shared Atlas tiers, that is M2/M5s, that I am adding here.  The shared tier (TENANT) presents a specific set of challenges in that is it so very different than M10s and above in many of the API configuration options (documented  here: https://docs.atlas.mongodb.com/reference/free-shared

[2020-01-31 03:42] themantissa commented on #115
https://github.com/terraform-providers/terraform-provider-mongodbatlas/pull/119

[2020-01-31 18:20] simon-guerin opened #120 "If don't specify IOPS when creating M10 or M20 cluster a 0 value is passed in causing failure"
Error: error creating MongoDB Cluster: POST https://cloud.mongodb.com/api/atlas/v1.0/groups/123456789abcdefgh/clusters: 400 (request "Bad Request") The cluster's disk IOPS of 0 is invalid. For a disk of size 50 on instance size M10 with a volume type of STANDARD, the IOPS must be 150.0.

This is the error above ^   In the code I don't specify IOPS (the option is completely omitted to allow atlas t

[2020-01-31 22:25] #68 closed, assigned to nobody

[2020-02-01 02:50] #114 closed, assigned to nobody

[2020-02-03 06:23] nikhil-mongo opened #121 "Continuous Backup is not supported for (new) AWS clusters"
The new AWS clusters does not support Continuous Backup since the last release of the MongoDB Atlas. This should be updated in the Terraform documentation and the code examples for the backup parameters.

Change 1 --

`backup_enabled               = true` // remove this parameter and should be replaced by
`provider_backup_enabled     = true`   // enable cloud provider snapshots

This will however

[2020-02-03 15:26] themantissa commented on #121
@nikhil-mongo https://github.com/terraform-providers/terraform-provider-mongodbatlas/pull/116 will fix the doc.  It will go with the next release.

The point in time restore option is already in the engineering queue and we plan to have in the next release.

We cannot launch at the same time as Atlas but try to follow closely.

[2020-02-03 15:32] #121 closed, assigned to nobody

[2020-02-03 17:27] themantissa commented on #120
Hi @simon-guerin  This should have been fixed in the current master branch.  I just tested not specifiying both disk_size_gb and provider_disk_iops for an M10 and it worked so the options are to wait till our next release (mid/late Feb) or build a provider from master and use that till then.
Thank you!

[2020-02-03 17:27] #120 closed, assigned to nobody

[2020-02-03 20:38] themantissa commented on #104
Just to update this issue pitEnabled will be in the next version due to changes for new AWS clusters no longer supporting continuous backups (e.g. one should now use cloud provider snapshots for new AWS clusters, provider_backup_enabled = true and either unset or not set backup_enabled).  Documentation will also be updated with PR:   https://github.com/terraform-providers/terraform-provider-mongod

[2020-02-04 11:01] rrondeau commented on #51
@themantissa do you have an idea when this change will be release ?

[2020-02-04 19:14] themantissa commented on #51
The improvements will be in the next release @rrondeau.  ETA mid Feb.

[2020-02-05 10:44] eladazary opened #123 "Add support in cluster-tier autoscaling"
It seems like you didn't add support in cluster-tier autoscaling option of a cluster.
It's already supported by API and UI. Can you please assist?

[2020-02-05 13:52] rrondeau opened #124 "Cloud provider snapshot management"
Hi,

Starting with mongodb 4.2 i have to use cloud provider snapshots but i dont see any resource to manage the scheduling or the retention policy. I am using GCP as provider.

Do you have any plans on this subject ?

[2020-02-06 05:16] themantissa commented on #124
Hi @rrondeau,

We are just wrapping up a version and each version has included more resources based on customer need.  If you can submit this great feedback at https://feedback.mongodb.com/forums/924145-atlas?category_id=370723 then others can up vote it as well so we can prioritize accordingly.

Thank you!

[2020-02-06 05:18] themantissa commented on #123
Hi @eladazary, we did not as it did not exist as an option when we first developed clusters support for the Terraform provider.  However we are looking how to best enable this in a future version in a Terraform workable way.   This also has been submitted as a feature request at https://feedback.mongodb.com/forums/924145-atlas?category_id=370723 so please up vote it there if you have not already.

[2020-02-06 05:19] themantissa commented on #105
Just to note for other this feature request is now available for up voting and so I am closing this issue - https://feedback.mongodb.com/forums/924145-atlas?category_id=370723.  If you agree this is a high priority request please vote!

[2020-02-06 05:19] #105 closed, assigned to nobody

[2020-02-06 21:38] #104 closed, assigned to nobody

[2020-02-07 00:53] #123 closed, assigned to nobody

[2020-02-07 00:53] #124 closed, assigned to nobody

[2020-02-10 20:59] mattt416 opened #127 "Hitting timing issue when trying to integrate with `aws` provider's `aws_iam_access_key` resource"
Hi Team,

I've got the following Terraform config:

[code]

When applied, I'm hitting the following error:

[code]

If I immediately re-apply, the resource is created as expected, which implies the `access_key_id` and `secret_access_key` being passed to `/encryptionAtRest` are correct.

Further, if I add a sleep to the "mongodb_atlas" resource, the resource is created the first time without issue:

[2020-02-10 21:26] PacoDw commented on #127
Hi! @mattt416 I just made a PR #128 with new changes for Encryption at Rest resource fixing some issues, could you test your configuration in that branch to check if all is okay?

Thank you so much! if you have another comment or concern just let us know 👍

[2020-02-10 21:50] mattt416 commented on #127
Hey @PacoDw ! I've just built binary from #128 but am still hitting the same issue it seems.

[2020-02-10 22:43] PacoDw commented on #127
Thank you so much! Let me check it out to resolve that, so I will try making the change in ASAP.

[2020-02-11 18:32] mattt416 commented on #127
Thanks @PacoDw ! I think just discussing whether this sort of "work-around" should be added to the Atlas provider would be highly appreciated.

[2020-02-11 20:40] themantissa commented on #127
My .02 is that trying to bring this into the Atlas provider as a work around might be problematic.  Users who already have the access key shouldn't run into this.  It seems to happen when one tries to create the key right before setting up encryption at rest.  If we had an easy way to check if hte key really exists or not we could od that but I think that could be challenging.  The other option mi

[2020-02-11 22:27] mattt416 opened #132 "Issues upgrading cluster to an AWS NVME tier."
Hey folks,

My config originally contained the following resource:

[code]

I then attempted to scale it to the M40_NVME tier:

[code]

Re-applying my config results in the API returning the following error (despite my cluster already having Cloud Provider Snapshots enabled (`provider_backup_enabled` set to `true`):

[code]

The only way I could get the upgrade to go through via the Terraform prov

[2020-02-12 21:48] mattt416 commented on #127
@themantissa This is the first time I've come across this issue, so it might be worth leaving this issue open for a while so we can collect more data from other users who are seeing similar issues.

[2020-02-12 22:26] themantissa commented on #132
Summary of the bug - ensure new parameter is passed when upgrading an existing cluster, specifically provider_backup_enabled (should be false by default)

[2020-02-13 18:25] #109 closed, assigned to nobody

[2020-02-16 00:37] MontgomeryWatts opened #136 "Inconsistent documentation between GitHub repo and Terraform site"
When trying to whitelist an AWS security group in a `mongodbatlas_project_ip_whitelist` resource it says `An argument named "aws_security_group" is not expected here.` After looking through the repository it seems like this should be a valid argument.

My `mongodbatlas_project_ip_whitelist` resource looks like this:

[code]

After looking at the docs [in this repo ](https://github.com/terraform-pr

[2020-02-16 21:29] adrian-gierakowski opened #137 "add mongodbatlas_project datasource"
I have a terraform project which creates a `mongodbatlas_project` and another project which creates clusters in this project.  In the second one, I'd like to be able to retrieve the `id` of the `mongodbatlas_project` using `org_id` and `name`

[2020-02-18 15:01] #74 closed, assigned to nobody

[2020-02-18 15:48] themantissa commented on #136
@MontgomeryWatts that's because what is in the repo is a master branch and may contain code and documentation not yet released.  You are likely using version 0.3.1 and that does not contain support for aws security groups yet.  We hope to release 0.4.0 today, which will (I'll post a notice in the issues section of this repo).   You an always see what is included in the current version released by

[2020-02-18 15:48] #136 closed, assigned to nobody

[2020-02-18 15:49] themantissa commented on #137
@adrian-gierakowski the missing project datasource will be added in our next version, 0.4.0.   Thank you for submitting and expect it soon.

[2020-02-18 15:49] #137 closed, assigned to nobody

[2020-02-18 22:30] themantissa opened #139 "Information - Upgrade Guide for 0.4.0 - Especially for Project IP Whitelist"
This is our guide for upgrading to 0.4.0 as it contains a major change to address  [issues](https://github.com/terraform-providers/terraform-provider-mongodbatlas/issues/51) brought up here in regard to the first version of Project IP Whitelist support.   0.4.0 greatly improves the experience of Project IP Whitelist management but does take some effort to implement.   Please read the guide before

[2020-02-19 09:46] rvdh commented on #80
Unfortunately #128 does not seem to fix this issue. It's happening for the GCP provider as well.

This is running with the 0.4.0 provider plugin:

[code]
cc @PacoDw @marinsalinas @themantissa

[2020-02-19 15:09] aklotos opened #140 "Add name argument in mongodbatlas_project datasource"
As previously pointed at in [this issue](https://github.com/terraform-providers/terraform-provider-mongodbatlas/issues/137) there is a convenience in retrieving of `mongodbatlas_project` by `name` as well. It used to be available in `v0.3.0` and not available anymore. Currently `mongodbatlas_project` datasource accepts only `project_id` as an argument as per [documentation](https://www.terraform.i

[2020-02-19 23:40] marinsalinas commented on #140
Hello, @aklotos name was changed to project id on this commit https://github.com/terraform-providers/terraform-provider-mongodbatlas/commit/a9ae7aa89c58047c058e4d74b3e60b89a2a10725#diff-6fa79410e48e7733c5f9838df2fb07ba

@PacoDw what was the reason for this change?

[2020-02-20 00:19] PacoDw commented on #140
Hello @aklotos and @marinsalinas,
 I'm so sorry for all the things it causes, I changed it to improve the project data source, and to have coherency with the other resources, handle the resource with an ID is better.

[2020-02-20 02:27] themantissa commented on #140
@PacoDw  and @marinsalinas thank you for the quick investigation in the matter.

@aklotos this was indeed a regression and will be corrected.   Appreciate that you filed an issue.

Regarding the side question - while this change was not intentional if we must make a breaking change we will include it in an upgrade-guide (see issue [139](https://github.com/terraform-providers/terraform-provider-mon

[2020-02-20 10:57] hc-danieltiziani opened #141 "Auto Scale Cluster Tier Missing"
For the production environments I'd like to set the minimum and maximum instance tiers, but it is currently not available in the cluster configuration.

This option is available when you go to page "CREATE CLUSTER" |  "Auto-scale" | "CLUSTER TIER".

[2020-02-20 16:52] themantissa commented on #141
Hi @hc-danieltiziani  investigating and adding auto scale is on our roadmap, also feel free to up vote the feature request here: https://feedback.mongodb.com/forums/924145-atlas/suggestions/39629620-expose-auto-cluster-scaling-options-via-terraform as that feedback is used in our prioritization.  Thanks!

[2020-02-20 16:52] #141 closed, assigned to nobody

[2020-02-20 20:27] #140 closed, assigned to nobody

[2020-02-20 23:18] themantissa commented on #140
Final note: we'll release a minor version early next week with this fix.

[2020-02-21 11:09] hc-danieltiziani opened #144 "Error creating users with mongodbatlas_database_user (following documentation examples)"
I'm trying to create users based on the documentation at https://www.terraform.io/docs/providers/mongodbatlas/r/database_user.html but it's not working.

[code]

**Error**:

[code]
Using: terraform-provider-mongodbatlas_v0.4.0_x4

[2020-02-21 11:09] hc-danieltiziani opened #145 "Cannot use mongodbatlas_maintenance_window - Error provider does not support"
Cannot use ```mongodbatlas_maintenance_window```

**It gives the following error:**

[code]

[code]

Using: terraform-provider-mongodbatlas_v0.4.0_x4

[2020-02-21 14:18] jlforester commented on #127
I agree that this really isn't a mongodbatlas provider issue.

I've encountered this issue as well and my workaround was a little Go program that waits until the IAM user is successfully able to do a describe-keys using the IAM user and access keys created by the module.  I have that program called from a provider block on the aws_iam_access_key resource.  I'm finding that it's only a 10-20 second

[2020-02-21 14:38] jlforester opened #147 "Can't get PrivateLink-aware mongodb+srv address when using privatelink"
In 0.4.0 of the provider, there doesn't appear to be a way to retrieve the privatelink aware mongodb+srv address for my cluster.  The `srv_address` attribute of the `mongodbatlas_cluster` resource returns the same URI as before.  When using the Atlas console 'connect' option on the cluster, you can see that there are two different URIs depending on whether you want to use the Privatelink address o

[2020-02-21 16:07] bauerben opened #148 "mongodbatlas_custom_db_role not waiting for resource creation"
When creating several custom db roles at the same time with mongodbatlas_custom_db_role, seems like the provider is not waiting long enough or retrying to get the return confirmation of resource creation.

Terraform source:
[code]

Terraform apply results in code 404  :

[code]

Applying a second time works.

In case of creating a lot of resources at the same time, retry should be implemented in e

[2020-02-21 16:15] themantissa commented on #145
@hc-danieltiziani thank you for the report - @PacoDw  and @marinsalinas can you please take a look.

[2020-02-21 16:18] themantissa commented on #147
@jlforester Thank you for the report.  The returned private link connection string was not yet available for this version, 0.4.0.  We'll ensure we add in support as soon as we can get it on the schedule.

[2020-02-21 16:21] themantissa commented on #148
@bauerben thank you for the report.  We'll look to improve the retry experience going forward by your workaround for now with depends_on seems solid.  @marinsalinas and @PacoDw, thoughts on depends_on as a documented workaround until we have time to schedule in retry work?

[2020-02-21 16:22] PacoDw commented on #145
Hello @hc-danieltiziani, I tested it (directly using the download version, with terraform test plugin resource) and It didn't get me that error, are you sure that you are using the current plugin version? Because the above error explains that the current version doesn't have that resource, it's weird because it has it so you shouldn't have that error.

[2020-02-21 16:25] themantissa commented on #144
@hc-danieltiziani thank you for the report - @PacoDw  and @marinsalinas please take a look.

[2020-02-21 16:47] marinsalinas commented on #144
Hello @hc-danieltiziani  could you please run the following command and share the output, it is just to be sure that you are using the latest release.

`terraform provider --version`

[2020-02-24 09:56] FernandoMiguel opened #150 "mongodbatlas_project name"
data "mongodbatlas_project" no longer takes `name` as filter

[2020-02-24 10:15] FernandoMiguel commented on #150
[code]

id and project_id show the same info, but project name is no longer available

[2020-02-24 15:30] jlforester opened #151 "Delete timeout for mongodbatlas_private_endpoint resource too short"
I keep hitting the 2 minute timeout when deleting `mongodbatlas_private_endpoint` resources, and it's playing havoc with my go tests:
[code]
Can we get this timeout increased, or (even better) make it configurable in a `timeouts { ... }` block ?

[2020-02-24 16:15] themantissa commented on #150
@FernandoMiguel  this was reported and already addressed in PR https://github.com/terraform-providers/terraform-provider-mongodbatlas/pull/142.  Expect a minor version this week.

[2020-02-24 16:15] #150 closed, assigned to nobody

[2020-02-24 17:08] themantissa commented on #144
@hc-danieltiziani wanted to check in and see if the issue has been resolved or if you are still having issues?

[2020-02-24 17:08] themantissa commented on #145
@hc-danieltiziani wanted to check in and see if the issue has been resolved or if you are still having issues?

[2020-02-25 13:08] bauerben opened #153 "mongodbatlas_alert_configuration - not able to specify ROLE for type_name = "GROUP""
Hi,

From my understanding, when creating an alert configuration via terraform, we don't seem to be able to specify a ROLE ( ex: "Project Owner" , "Cluster Manager" ...)  when type_name = "GROUP".

From the mongodbAtlas API, for alert_configuration definition we have :
[code]
But when using mongodbatlas_alert_configuration, it is not possible to specify role :

[code]

In order to be useful, we sh

[2020-02-25 16:08] themantissa commented on #144
Going to assume we are good here and close.  Please comment if any issues persist.

[2020-02-25 16:08] #144 closed, assigned to nobody

[2020-02-25 16:08] themantissa commented on #145
Going to assume we are good here and close.  Please comment if any issues persist.

[2020-02-25 16:08] #145 closed, assigned to nobody

[2020-02-25 16:43] marinsalinas commented on #151
Hello @jlforester  could you provide the configuration file you are using?

[2020-02-25 16:45] themantissa commented on #153
@bauerben agree and it seems the [documentation](https://docs.atlas.mongodb.com/reference/api/alert-configurations/) does not currently have the role information but looking at a returned role it is obviously there.   We'll need to get this corrected and once I have an ETA I will update here.

[2020-02-25 17:27] themantissa commented on #153
Note for others looking at the issue: without role the alert configured will go to all users in the project.   One can adjust this in the UI or via the API directly.

[2020-02-25 20:57] #151 closed, assigned to nobody

[2020-02-25 20:58] #148 closed, assigned to nobody

[2020-02-26 11:14] simond-b2 commented on #139
Hi, we are currently fixed on version 0.3.0 as we are having an issue with the whitelist entries in 0.4.0.  I believe the white list entries that we specify are in agreement with your upgrade guide and associated documentation.

Terraform version 0.12.20
mongodbatlas provider version 0.4.0

So trying to deploy to an Azure environment we attempt to create a mongo atlas cluster via terraform, but ge

[2020-02-26 11:32] kostyazgara opened #157 "Can't create cluster ME_SOUTH_1 region"
I am trying to create M10 cluster in AWS me-south-1 region but got an error.

![image](https://user-images.githubusercontent.com/18326076/75340235-c5811380-589a-11ea-8ec5-ca39fe99072f.png)

Here my request payload in trace mode
![image](https://user-images.githubusercontent.com/18326076/75340186-b1d5ad00-589a-11ea-9abb-39d50e6bbae6.png)

And the response from them
![image](https://user-images.gith

[2020-02-26 16:40] xmariopereira commented on #157
Hi @KostyaZgara

Just went through source code and documentation, and its a limitation in MongoDB Atlas API.

Availability limited to the following regions:

US_EAST_1
US_EAST_2
US_WEST_2
EU_WEST_1
EU_CENTRAL_1
AP_NORTHEAST_1

https://docs.atlas.mongodb.com/reference/api/clusters-create-one/

Terraform Provider is using go-mongodbatlas-client.

[2020-02-26 16:58] themantissa commented on #139
@simond-b2 I just tested creating a multi-region Azure cluster with multiple IP Whitelist entries and no issues.   Are you perhaps setting up or have setup network peering as well?   Also are you sure you are using the more recent provider (check with terraform --version).   If you continue to have issues I would suggest working with Atlas support as I'll be out of pocket for a few days.

[2020-02-26 17:02] kostyazgara commented on #157
@xmariopereira Thank you for an answer. So, it means there no options to add supporting other regions? If I send `regionName` in `providerSettings` block all works. It's only one missing property, because. Here my request payload and response
![image](https://user-images.githubusercontent.com/18326076/75368289-2d028780-58ca-11ea-8995-9e5f0f419e1e.png)

As you can see, all works. And mu cluster was

[2020-02-26 17:16] xmariopereira commented on #157
Sorry, I didn't read correctly the documentation.

M140 is not available in that Regions. Sorry!!!

Still checking the code it shouldn't error out.

[code]
[code]

[code]

[2020-02-26 17:18] kostyazgara commented on #157
Okay, if it not available, why I can still create a cluster in that region via curl request? Or I'm something missed?

[2020-02-26 18:07] themantissa commented on #157
@KostyaZgara I have one of our developers looking into this (@PacoDw).  @xmariopereira thank you so much for providing help here too!

[2020-02-26 18:07] themantissa commented on #157
fyi @shum for 👁 while I'm OOO^

[2020-02-26 18:29] PacoDw commented on #157
Hi!
@KostyaZgara and @xmariopereira thank you so much for help sharing essential details, I resolved it on #158 branch, could you check if it's okay?

If you have another comment or concern, just let us know 👍

[2020-02-26 20:01] kostyazgara commented on #157
@PacoDw Thanks for the fast reaction! I really appreciate your work. Could you say me, when approximately the PR would be merged and I can use an updated provider in the terraform?

P.S. Can I close an issue?

[2020-02-26 20:11] xmariopereira commented on #157
Ahhh the regions here hardcoded in the provider.go.

Glad I could help!

[2020-02-26 21:06] PacoDw commented on #157
Thank you so much!
@KostyaZgara The PR will be open due to we are discussing what's implementation is better to leave :S, but I think it will be closed/merged this week or at the beginning of the next week.

[2020-02-27 08:18] hc-danieltiziani commented on #145
Sorry I was offline, it works just fine. It was some caching issues of the provider with terraform. I upgraded it and now it's using the last one, that works. Thanks!

[2020-02-27 08:19] hc-danieltiziani commented on #144
No issues, responded on other issue. Thanks for the attention!

[2020-02-27 08:54] simond-b2 commented on #139
@themantissa Thanks for the feedback, I have checked and we have no network peering setup and the versions are those I gave previously ...
**Terraform version 0.12.20
mongodbatlas provider version 0.4.0**
I will work with Atlas as you suggest but could I ask one further thing before you leave our pockets ... the cluster is already deployed.  Would this prevent the whitelists deploying correctly? I

[2020-02-27 12:22] rwenz3l commented on #139
Hey @simond-b2 - encountered the same issue today after upgrading to the new provider version.

It is indeed correct, that this new approach works, if you are setting up a new ("clean") cluster. For everyone else who already maintains the state within terraform, you need to remove them and re-import with their "whiteListEntry". The "whiteListEntry" is basically the CIDR Range or IP Address. It's n

[2020-02-27 16:26] simond-b2 commented on #139
@rwenz3l Thanks for looking and for the work-around, I've had to skip on to higher priority issues at the moment but will revisit this later as we are ok on 0.3.0 for the time being.  @themantissa should we raise this as a bug or continue to implement Robin's workaround?

Thanks both I appreciate you taking the time to investigate.

[2020-03-03 10:18] emanuelmuraru opened #159 "mongodbatlas_cluster fails to redeploy manually deleted cluster"
## Description

Terraform will not redeploy a manually deleted Mongodb Cluster even though it is refreshing the state. However it manages to restore a manually altered cluster (if I, say, enable the backup in the atlas portal, terraform changes it back on the next apply).

## Expected behavior

`terraform apply` will refresh the state and deploy a new cluster.

## Actual behavior

No action is tak

[2020-03-03 12:23] StewartSnow opened #160 "mongoatlas_cluster fails to create - invalid enumeration value M2 was specified"
Hi,
We're having a problem deploying a simple M2 cluster with the following configuration. We get the error:

[code]

We're using 0.4.1 version of the provider and terraform v0.12.21

[code]

We've been through everything that we can think of, but can't figure it out, any advice??

[2020-03-03 15:22] StewartSnow commented on #160
Resolved - for others similarly confused. The solution was as follows:

The documentation mentions somewhere that the TENANT type (which is for multi-tenant usage), is also necessary (seems rather confusing to us), that specifically for M2 and M5 instance sizes, you need to use this value instead of a provider name, and then specify the target provider using the backing_provider_name property....

[2020-03-03 15:22] #160 closed, assigned to nobody

[2020-03-04 20:43] themantissa commented on #159
@emanuelmuraru thank you for the information and report.   We'll take a look and see what's going on.

[2020-03-04 21:29] themantissa commented on #159
Confirmed, deleting manually refresh does not pick up change. When trying to then destroy via terraform it causes an error.

[2020-03-04 22:47] themantissa commented on #139
The workaround cited is within the upgrade guide https://www.mongodb.com/blog/post/upgrade-guide-for-terraform-mongodb-atlas-040
We had to do a breaking change to create a better experience for IP Whitelists due to the way the Atlas API works within the system and that is documented within the guide - including that one needs to remove the existing from state and reimport.

[2020-03-05 10:00] kostyazgara commented on #157
Hi again!

I see you released a new version 0.4.1 of MongoDB atlas terraform plugin that should fix the issue with the creation cluster in other regions. But seems it still doesn't work correctly. Here my logs:

[code]

[code]

What can be wrong? I have tried to make `terraform init -upgrade` multiple times, but the issue doesn't disappear

[2020-03-05 10:04] kostyazgara opened #161 "Still cannot create cluster in region ME_SOUTH_1 on plugin version 0.4.1"
Hi again!

I see you released a new version 0.4.1 of MongoDB atlas terraform plugin that should fix the issue with the creation cluster in other regions. But seems it still doesn't work correctly. Here my logs:

[code]

[code]

What can be wrong? I have tried to make `terraform init -upgrade` multiple times, but the issue doesn't disappear

_Originally posted by @KostyaZgara in https://github.com/

[2020-03-05 16:45] themantissa commented on #157
Edit - I don't think this fix made it in 0.4.1 and will be in our next release.  I'm going to test with the master branch @KostyaZgara I tested ME_SOUTH_1 creation and it failed for me as well - however creating it directly via the API did work so it seems the provider is still not working correctly for this region.  I apologize for that.   @PacoDw  and @marinsalinas the fix in 0.4.1 does not seem

[2020-03-05 16:49] PacoDw commented on #157
@themantissa this is not in the new release, just in master branch.

[2020-03-05 16:50] themantissa commented on #157
@PacoDw  I realized that right after I posted my reply, apologizes.   @KostyaZgara the fix for this will be in 0.4.2 but I will test it to be sure in the current master branch.

[2020-03-05 16:50] #157 closed, assigned to nobody

[2020-03-05 23:59] themantissa commented on #161
@KostyaZgara this fix will be in version 0.4.2 - which should come soon, until then feel free to compile the provider from the master branch.

[2020-03-05 23:59] #161 closed, assigned to nobody

[2020-03-06 22:47] mattt416 commented on #132
For anyone stumbling across this bug, note that disabling backups will result in your existing snapshots getting terminated, so obviously only do that as a last resort.

[2020-03-09 13:35] mpaluchowski commented on #53
This is causing problems for us now, because we also originally created `mongodbatlas_network_peering` resources without the `accepter_region_name`. Last week we added a new cluster, where we had to add `accepter_region_name` to the resource. Because we're using a shared module for all our clusters, Terraform now wants to update the previously created network peerings, adding the region name. This

[2020-03-09 15:48] AntjeRadkiewicz1337 opened #164 "mongodbatlas_alert_configuration - not able to generate any alerts with event_type = "OUTSIDE_METRIC_THRESHOLD" and matcher.fieldName != "TYPE_NAME""
Hi,

our mongodbatlas_alert_configuration should create an alert with matchers for a specific hostname and event_type =  OUTSIDE_METRIC_THRESHOLD. When I do a terraform plan I get following error:

    Error: expected matcher.0.value to be one of [PRIMARY SECONDARY STANDALONE CONFIG MONGOS], got <NAME_OF_OUR_CLUSTER>

In the documentation from mongoDB it is writen:
If "matchers.fieldName" : "TYPE_

[2020-03-09 16:09] PacoDw commented on #164
Hello @AntjeRadkiewicz1337, thank you so much for your review, I resolved it on the fix-#164 branch if you want to test it.

Let us know if you have another comment or concern :)

[2020-03-09 17:12] themantissa commented on #53
Acknowledged and will note in backlog priority.

[2020-03-11 11:23] AntjeRadkiewicz1337 commented on #164
Hei @PacoDw ,

sorry for the late reply. Everything looks fine and we wait for release :)

[2020-03-12 14:47] #159 closed, assigned to marinsalinas, PacoDw

[2020-03-12 17:33] #164 closed, assigned to nobody

[2020-03-12 20:29] themantissa commented on #160
@StewartSnow did want to let you know we added a shared/multi-tenant example in the clusters doc to help.  https://www.terraform.io/docs/providers/mongodbatlas/r/cluster.html#example-aws-shared-tier-cluster. Appreciated your submitting how it can be confusing.

[2020-03-13 18:08] cupuyc opened #171 "TERRAFORM CRASH on importing mongodbatlas_alert_configuration"
Terraform import worked for other `mongodbatlas_alert_configuration`, but not for this one.

[code]

[crash.log](https://github.com/terraform-providers/terraform-provider-mongodbatlas/files/4330913/crash.log)

[2020-03-13 18:24] cupuyc opened #172 "Can't create SYSTEM_NORMALIZED_CPU_IOWAIT alert"
`An invalid enumeration value SYSTEM_NORMALIZED_CPU_IOWAIT was specified.`

[code]

My resource definition:
[code]

[2020-03-13 21:11] PacoDw commented on #171
Thank you so much for your review, let me check your log :)

[2020-03-13 21:36] themantissa commented on #157
@KostyaZgara 0.4.2 is out.  You should be good now!

[2020-03-13 21:37] themantissa commented on #164
@AntjeRadkiewicz1337 the release is out, please try with 0.4.2.  Thanks!

[2020-03-13 21:39] themantissa commented on #147
@jlforester our documentation is now updated with how to get the correct connection strings: https://docs.atlas.mongodb.com/reference/api/clusters-get-all/ and
https://docs.atlas.mongodb.com/reference/api/clusters-get-one/
This means we can now update the provider to support this.  We have this on our plan and we'll update when completed.

[2020-03-13 21:42] PacoDw commented on #171
@cupuyc I resolved it on #173 PR if you want to check it 👍

Let us know if you have another comment or concern, thank you so much :)

[2020-03-13 21:58] themantissa commented on #172
@cupuyc I had our docs team update the available metrics recently as it was out of date.   That one is not included and I assume not valid (I confirmed with a test): https://docs.atlas.mongodb.com/reference/api/process-measurements/#measurement-types
The provider supports what is available via the API so if you desire a specific metric that is not available feel free to request via feedback.mongod

[2020-03-15 07:24] ozlevka-work opened #174 "On upgrade from 0.4.1 to 0.4.2 start getting errors"
Terraform version: 0.12.23
Go runtime version: go1.12.13
provider.aws v2.53.0
provider.mongodbatlas v0.4.2

When create mongodbatlas_network_container receiving error:
Error: error creating MongoDB Network Peering Container: POST https://cloud.mongodb.com/api/atlas/v1.0/groups/[project id]/containers: 400 (request "Bad Request") An invalid enumeration value us_west_2 was specified.

  on main.tf l

[2020-03-16 13:05] hieuln opened #175 "Docs with wrong resource type"
Based on the document here: https://www.terraform.io/docs/providers/mongodbatlas/r/private_endpoint_interface_link.html the resource is:

resource "mongodbatlas_private_endpoint_link" "test" {
}

but the correct (and working) one is:

resource "mongodbatlas_private_endpoint_interface_link" "test" {
}

[2020-03-16 16:57] themantissa commented on #174
@ozlevka-work  I'm assuming this is a side effect of https://github.com/terraform-providers/terraform-provider-mongodbatlas/pull/158, we had to remove the array of regions as it was turning out that changes are happening at a rate we can't keep up with so we are depending on the underlying API now to error.  If you change us_west_2 to US_WEST_2 that will work.

fyi @PacoDw and @shum

[2020-03-16 18:13] themantissa commented on #175
Fixed - doc gets updated on the terraform website when we release so expect this there with 0.4.3.  Thank you!!

[2020-03-16 18:13] #175 closed, assigned to nobody

[2020-03-17 11:56] ozlevka-work commented on #174
@themantissa , thank you very much. Your suggestion works for me.

But I can't use same variable for mogodbatlas and aws providers. I forced to separate region definition:
```atlas_region_name = upper(replace(var.region_name,"-","_"))```
It's a little uncomfortable and looks ugly path. I suggest fixing it in some way

[2020-03-17 15:12] themantissa commented on #174
@ozlevka-work thank you for the feedback. We attempted to do the conversion within the provider but that resulted in the undesired behavior of being behind the Atlas platform on support.   You'll need to use Amazon style conventions for AWS resources and Atlas style (https://docs.atlas.mongodb.com/cloud-providers-regions/) for Atlas regions.    Please feel free to suggest changes on this at our fe

[2020-03-17 15:12] #174 closed, assigned to nobody

[2020-03-18 07:46] cupuyc commented on #171
Thanks :-)

[2020-03-18 07:47] cupuyc commented on #172
We ended up using GUI for now.

[2020-03-18 07:48] #172 closed, assigned to nobody

[2020-03-18 16:44] AntjeRadkiewicz1337 opened #179 "mongodbatlas_database_user can not be imported when they contain dashes "-" in the name"
Hi,

we are trying to switch to this provider. While trying out the import for the mongodbatlas_database_user we found out that we can not import database_users which contain "-" in the username. This symbol is allowed in mongoDB and all our users contain dashes. :octopus:

In https://github.com/terraform-providers/terraform-provider-mongodbatlas/blob/master/mongodbatlas/resource_mongodbatlas_data

[2020-03-18 21:05] themantissa commented on #179
@AntjeRadkiewicz1337 thank you for the suggestion, if memory served we improved this for project already but I'll put DB Users on the list.   Is this currently blocking you or were you able to work around for now?

[2020-03-18 21:41] #171 closed, assigned to nobody

[2020-03-19 11:05] AntjeRadkiewicz1337 commented on #179
Hi @themantissa ,

right now it is blocking us from the migration. In order to migrate we would either have to check out the code, adapt it and import the database users, or we wait until the enhancement is done.

[2020-03-19 21:36] themantissa commented on #179
@AntjeRadkiewicz1337 thank you for confirming that.  I've put it in our backlog and hope we can find the time to address it soon and remove the blocker.   We will keep you updated on the ETA

[2020-03-20 13:49] pierresteiner opened #182 "Cluster auto-scaling"
It would be nice to have the cluster auto-scaling exposed in Terraform: https://docs.atlas.mongodb.com/cluster-autoscaling/

[2020-03-20 20:13] themantissa commented on #182
@pierresteiner please feel free to upvote this option at our customer feedback site:
https://feedback.mongodb.com/forums/924145-atlas/suggestions/39629620-expose-auto-cluster-scaling-options-via-terraform

[2020-03-20 20:13] #182 closed, assigned to nobody

[2020-03-23 14:50] m-vojvodic opened #183 "Support new private and privateSrv connection strings"
Atlas recently deprecated private IP mode in favor of private connections strings that point to private IP addresses of a cluster. Consequently, the Atlas team added new `private` and `privateSrv` fields to the `connectionStrings` value returned by the public API when there is an **active** peering connection for the Atlas project:
[code]

[code]
Note that the documentation for these changes is in

[2020-03-23 18:07] themantissa commented on #183
@m-vojvodic  thank you very much for submitting this.  We plan to address this item in our next round of work, starting in April.  We'll tag this issue to the PR when ready so for anyone wanting to keep an eye out on this watch this issue for updates.

[2020-03-25 18:41] codesterribly opened #185 "RESOURSE or RESOURCE? Spelling change for readme.md"
Wasn't sure if this was a typo, or on purpose, but the spelling here:

"export AZURE_RESOURSE_GROUP_NAME=<YOUR_RESOURSE_GROUP_NAME>"

would seem to be wrong. Google doesn't find any valid uses for it to be spelled that way.

[2020-03-25 21:53] themantissa commented on #185
@codesterribly checking the test, https://github.com/terraform-providers/terraform-provider-mongodbatlas/blob/master/mongodbatlas/resource_mongodbatlas_network_peering_test.go#L63 it's AZURE_RESOURSE_GROUP_NAME
So spelling incorrect in both places, I'll file a ticket to fix when we have time available but until then using an incorrect spelling will work to do the test.

[2020-04-02 22:18] c-ameron opened #186 "Confusing output when modifying a cluster"
Hi,

I'm trying to add in an analytics node to an existing cluster in the `mongodbatlas_cluster` resource. In this case, I'm having to port my configuration from an 'Example AWS cluster', to a 'Example Multi-Region cluster'.

[code]

This should in theory simply be adding in an analytics node (if I set it `analytics_nodes = 0`, there's no change). However, the output from Terraform is a little con

[2020-04-02 23:50] c-ameron commented on #186
I just tried this out. It didn't delete any existing node.

I also spoke with Atlas who confirmed that even if nodes were deleted, then it would be done in a rolling fashion, with keeping the same storage.

Happy to close this.

[2020-04-06 23:25] bbk09190 opened #187 "Delete this please."
Delete this please.

[2020-04-07 19:06] jwillker opened #188 "Problem using Cross Region Replica Set in GCP"
## What I expected to happen:
Create a Cluster in GCP with [Cross region enabled](https://docs.atlas.mongodb.com/workload-isolation/)

## What happened

Error 500
[code]

My terraform file:

[code]

My local configuration:
- OS: Mac os Catalina 10.15.4
- Terraform CLI: v0.12.19
- provider.mongodbatlas: v0.4.2
- Remote state in Terraform Cloud

I have tried the example in https://www.terraform.io/d

[2020-04-07 19:41] themantissa commented on #186
@c-ameron thank you for the question and for solving it too!  Hope all is going well. Closing as requested.

[2020-04-07 19:41] #186 closed, assigned to nobody

[2020-04-07 19:42] themantissa commented on #187
Assuming all is okay now @bbk09190 ?  If you need something or have a continued issue please feel to reach out directly to melissa.plunkett@mongodb.com or via MongoDB Atlas support.

[2020-04-07 19:42] #187 closed, assigned to nobody

[2020-04-07 19:50] themantissa commented on #188
Hi @JohnWillker - our ability to support here is limited as I do not have access (this is for issues regarding the provider), please reach out to MongoDB Atlas support directly for the best experience.

I can say looking at this that I believe it is
backup_enabled               = true
which is no longer supported with new cluster creation. We are in progress with updating all of the Terraform docu

[2020-04-08 14:30] haidaraM opened #189 "Cluster not renamed when the name changes"
Looks like the cluster is not renamed when we change its name. Terraform seems to successfully update the name but nothing changes in Atlas Console.

The doc says that the `name` can't be changed after cluster creation (https://www.terraform.io/docs/providers/mongodbatlas/r/cluster.html#name). So I guess the cluster should be recreated when its name changes :-) ?

[2020-04-08 17:23] themantissa commented on #188
Assuming this answered the question - closing.

[2020-04-08 17:23] #188 closed, assigned to nobody

[2020-04-08 17:30] haidaraM commented on #189
The issue is that currently Terraform doesn't delete the old cluster. The cluster keeps it's old name even though I apply the change. Terraform plan says that the resource will be updated in place.
Is this the expected behavior  ?

[2020-04-08 17:33] themantissa commented on #189
Interesting - let me test it out again.

[2020-04-08 17:46] themantissa commented on #189
Ah, I skimmed this too quickly.   The behavior I was describing is for Atlas Projects (you can change the name in the UI, not via API and if you try to it will delete the project and recreate - there is a warning we put in the docs) but this is for Clusters!  Cluster names are special and cannot be changed so this is a bit of a bug in the Provider!  It should error when you try to change the name

[2020-04-08 22:42] jooh-lee opened #190 "Removing an action from a role with only one action through atlas UI causes state plan refresh to fail"
We have a custom role created through terraform that only had one action (find). Through the atlas console, I removed the action and replaced it with a predefined role(read). Instead of picking up this change in the state refresh, it caused the plan to fail with `insufficient items for attribute "actions"; must have at least 1`. The corresponding change was not made on the terraform side, just the

[2020-04-08 23:38] themantissa commented on #190
@jooh-lee  ideally changes are not made in the UI for environments managed via Terraform but we can look to improve the state refresh for this resource to handle this situation.

[2020-04-09 14:10] piotrgwiazda opened #192 "401 error when trying to create Encryption At Rest"
I am trying to setup Encryption at rest with Azure using Terraform.
In general it works when calling Mongo DB Atlas REST API with CURL, but does not work via Terraform.

Here is Terraform code

[code]
**Terraform fails with 401 error**
Terraform logs (sensitive data removed)
[code]

However, when I take the same JSON and run it via CLI it works.

[code]

The curl output shows 401 response as a fir

[2020-04-10 00:05] themantissa commented on #192
We'll take a look, thank you for the details.  That helps a great deal.   FYI @PacoDw

[2020-04-10 17:13] jwillker commented on #188
Sorry for taking a long time to answer.

Not this not solving my problem I have changed the `backup_enabled` to `provider_backup_enabled` and the same error occurs.

[2020-04-11 10:59] roobert commented on #147
For anyone else wanting a workaround until this support is added, it's not pretty but I ended up with this:

[code]

This gives you a map in the form of: `{ server => port, ... }` which you can then iterate over or use `keys(db_srv_records)[...]` or `values(db_srv_records)[...]` to fetch a specific records hostname or port.

Also related to #183.

[2020-04-13 23:36] themantissa commented on #188
@JohnWillker  - no worries, my turn to take a while as I was OOO.  Support will always be faster than I can be :)  Also realized your EAST_1 region should probably be EASTERN_US if I am guessing correctly  - the GCP to Atlas region name chart is here: https://docs.atlas.mongodb.com/reference/google-gcp/#google-gcp

[2020-04-13 23:39] themantissa commented on #147
@roobert appreciate the share for others!   Also note the work is currently in a PR in this repo.  We have a bit more to knock out in the next point version but new connections types will be in there.

[2020-04-15 07:25] roobert commented on #147
@themantissa - it would be really useful to expose a map of the cluster shards and a value for the connection settings for those of us that want or need to configure custom DNS, that way we could avoid the string manipulation!

[2020-04-16 10:12] valery-zhurbenko commented on #123
@themantissa hi,
At this moment it can be done with provisioner "local-exec" and there CURL command to atlas API to enable instances autoscaling.
And then (after enabled instance autoscaling, and autoscaling event occurs) instance type can be different from type that is in tfplan and then terraform tries to change instance type back, which can be harmful and then this became an issue - to use terr

[2020-04-16 16:13] themantissa commented on #123
@valery-zhurbenko you are describing exactly the reason we haven't yet enabled it yet (but likely will). When one enables auto scaling in Atlas you are now doing things in an automated way, outside of Terraforms flow.  This is an anti-pattern to the Terraform philosophy.  So, basically if someone set autoscaling we have to figure out, should Terraform then not do anything if they underlying cluste

[2020-04-20 19:55] jwillker commented on #188
Yep, now its works, thank you so much!

[2020-04-21 22:50] themantissa commented on #93
@ardiesaeidi fyi the sensitive info here should now be hidden w/  #93
and our Vault work is now in Vault 1.4, supporting both db users and api keys.   Blog may be helpful: https://blog.website.prod.corp.mongodb.com/blog/post/manage-atlas-database-secrets-hashicorp-vault

[2020-04-21 22:50] #93 closed, assigned to nobody

[2020-04-21 23:00] themantissa commented on #153
https://github.com/terraform-providers/terraform-provider-mongodbatlas/pull/177 addresses the issue.

[2020-04-21 23:00] #153 closed, assigned to nobody

[2020-04-22 14:43] YuryYaroshevich commented on #179
@themantissa any updates on this feature? it is blocking us also

[2020-04-22 16:08] themantissa commented on #179
@YuryYaroshevich we have it on the near-term backlog so, baring any emergency needs, we hope to addressthis w/ the next release and we have been releasing each month.

[2020-04-22 16:10] themantissa commented on #183
0.5.0 released today now supports all new connection strings as returned attributes:
https://www.terraform.io/docs/providers/mongodbatlas/r/cluster.html#connection_strings

[2020-04-22 16:10] #183 closed, assigned to nobody

[2020-04-22 16:12] themantissa commented on #147
0.5.0 released today now supports all new connection strings as returned attributes:
https://www.terraform.io/docs/providers/mongodbatlas/r/cluster.html#connection_strings

[2020-04-22 16:12] #147 closed, assigned to nobody

[2020-04-22 17:15] borfig opened #200 "terraform plan and apply fails after upgrading this module to 0.5.0"
I have a MongoDB cluster managed with Terraform, with no backup enabled:
[code]
The cluster was created using an earlier version of this module, but when running `plan` or `apply` with the new version, I get:
[code]
It appears that relevant [API](https://docs.atlas.mongodb.com/reference/api/cloud-provider-snapshot-schedule-get-all/) returns `HTTP 404` if no cloud provider snapshots are available,

[2020-04-22 17:51] themantissa commented on #200
Ack'ed @borfig - pinging the developers now for triage.

[2020-04-22 18:35] themantissa opened #201 "Alert configuration roles array should not be required"
Provider version 0.5.0

Issue:
The MongoDB Atlas documentation states that notifications.roles is required, when it is not (see https://docs.atlas.mongodb.com/reference/api/alert-configurations-create-config/) a request will be submitted to correct the docs bug.   However roles really only applies if the notification type is GROUP, and even then when omitted it simply sends the alert to all users

[2020-04-22 18:36] themantissa commented on #201
@PacoDw should hopefully be a quick fix.

[2020-04-22 18:50] PacoDw commented on #200
Hello, @borfig I tried to recreate the issue creating the above TF configuration cluster and later switching to the new version and do `terraform plan` and I didn't get any error, what's the TF version are you using?
Also, could you share your log?  you can use the following command: `TF_LOG=DEBUG terraform plan |& tee log.txt`

[2020-04-22 19:35] themantissa commented on #200
@borfig (@dordadush @alonkol - who also ack'ed the report) - if one of you who is having the error can provide the requested details from PacoDW above, that will help us a great deal.

[2020-04-22 20:10] borfig commented on #200
I am using Terraform v0.12.23
Here is the relevant `grep plugin.terraform-provider-mongodbatlas` output (our Terraform file is huge...)
[mongodbatlas.txt](https://github.com/terraform-providers/terraform-provider-mongodbatlas/files/4518751/mongodbatlas.txt)

[2020-04-22 20:11] themantissa commented on #201
FYI to others 0.4.2 does not have this issues so if you upgraded to 0.5.0, please downgrade till this is addressed.

[2020-04-22 20:45] PacoDw commented on #200
@borfig  I made a small change to fix that you can see the details on the PR #203 , also could you test it to check if it works fine for you?

Let me know if the issue persists or you have another comment or concern.

[2020-04-22 21:13] borfig commented on #200
@PacoDw the proposed fix works in my case

[2020-04-22 21:16] PacoDw commented on #200
@borfig I'm happy to hear that, thank you so much for all :)

[2020-04-22 21:48] themantissa commented on #200
@borfig per your comment "It appears that relevant API returns HTTP 404 if no cloud provider snapshots are available, which will be also the case when I would decide to add a cloud provider snapshot later."
The later part of the statement is not true, if you add cloud provider backup later you automatically get a default policy (see the underlying API here - only a GET/PATCH - https://docs.atlas.m

[2020-04-23 05:30] borfig commented on #200
@themantissa regarding my comment - if I decide to use Cloud Provider Snapshots via Terraform:
- with the previous version of the module, I would have to use `null_resource`-based provisioning
- with the 0.5.0 version of the module, in order to run `plan` or `apply` I have to enable cloud provider backups manually via API or Console.

Both options are not ideal...

@PacoDw you are welcome

[2020-04-23 14:47] #201 closed, assigned to nobody

[2020-04-27 22:08] shekar0523 commented on #200
@PacoDw  @themantissa  I got the same error with the Azure provider.
Here are the list of provider verisons
 Terraform v0.12.24
+ provider.azuread v0.8.0
+ provider.azurerm v2.7.0
+ provider.mongodbatlas v0.5.1
+ provider.null v2.1.2
+ provider.random v2.2.1
********************************
resource "mongodbatlas_cluster" "this" {
  project_id                   = "<project-id>"
  provider_name

[2020-04-27 23:01] themantissa commented on #200
@shekar0523 thank you - the fix we have should correct this as well and will be out in a hotfix 0.5.1 soon.

[2020-04-28 15:08] damienleger commented on #26
I share what I did for the migration.

Note: in the diff, `-` is for old tf provider, `+` is for new

First, modify my `Makefile` `init` target
- official tf provider is on repo, so no need to download it manually: tf will manage the download
- change the tf state, because running a `terraform plan` command with the old tf state makes tf crash

[code]

Then, modify my `main.tf.j2`
- I only use mon

[2020-04-28 17:10] michelzanini opened #209 "Changes are not detected when changing Team's role_names attribute on mongodbatlas_project"
Hi,

I have a project resource such as this:

[code]

This creates correctly, but when I want to change the teams permission, lets say from `["GROUP_OWNER"]` to `["GROUP_DATA_ACCESS_READ_WRITE"]`, that change is not detected.

I run `terraform plan` after editing the field and it says every thing is up-to-date. Basically I can't edit the role of a team. I had to remove the team, apply it, then add

[2020-04-28 17:21] shekar0523 commented on #200
@themantissa Do you know when we can expect to get that hotfix to release ?

[2020-04-28 17:24] themantissa commented on #200
@shekar0523  it released yesterday.  I'll close this ticket shortly.

[2020-04-28 17:27] PacoDw commented on #200
Hello, @shekar0523 I tested with the new release with your shared TF configuration, and I didn't get any errors :)

[2020-04-28 17:28] michelzanini opened #210 "Issues with advanced_configuration section on mongodbatlas_cluster"
Hi,

There are a few issues with the `advanced_configuration` section of `mongodbatlas_cluster` resource.

First, if I create a new cluster with this configuration:

[code]

I would expect all settings to have default values expect the one I have defined. That means when calling `/clusters/{name}/processArgs` I should get this as a result:

[code]

But this is what I get instead:

[code]

The most

[2020-04-28 17:30] themantissa commented on #200
@borfig back to your comment -

This is not quite the case if I understand what you are saying.  The way this was spec'ed one just needs to set the variable for cloud provider snapshots in the config to true and that will enable them and, basically, import the initial schedule that is automatically created and if you want to modify it you can by creating a resource for that.  Otherwise it uses the

[2020-04-28 17:31] themantissa commented on #200
0.5.1 corrects this issue but feel free to reach out if any questions remain.  Thank you all.

[2020-04-28 17:31] #200 closed, assigned to nobody

[2020-04-28 17:33] michelzanini opened #211 "Hour and minute properties don't update when they are zero for mongodbatlas_cloud_provider_snapshot_backup_policy"
Hi,

When the resource `mongodbatlas_cloud_provider_snapshot_backup_policy` has `reference_hour_of_day` or `reference_minute_of_hour` set to `0`, it never updates Atlas.

For example, if they configuration is like this:

[code]

The policy always comes back as a change is required:

[code]

And when applying it never changes Atlas to midnight. It always stays at the time it was before, in this cas

[2020-04-28 17:34] themantissa commented on #209
@michelzanini can you include which provider version you have just so we can be sure to have the team investigate this w/ the same version?  (I notice you are submitting a few issues- can you please include details on Terraform version/provider version on each)

[2020-04-28 17:38] michelzanini commented on #209
Version `0.5.1` of the provider, Terraform version `0.12.16`

[2020-04-28 17:39] michelzanini commented on #210
I am using version `0.5.1` of the provider, Terraform version `0.12.16`

[2020-04-28 17:39] michelzanini commented on #211
I am using version `0.5.1` of the provider, Terraform version `0.12.16`

[2020-04-28 23:33] themantissa commented on #209
Confirmed bug, when a team has been added to a project changing or adding to the role_name array in the configuration was not detected as different on refresh.   Will ask the developers to look into.

[2020-04-28 23:47] themantissa commented on #210
@michelzanini thank you for this one as well - confirmed as a bug, it should not modify any other options but does.

Workaround for now, as found, was to not send individual options but the entire block.

[code]

[2020-04-29 00:05] themantissa commented on #211
And confirmed - also a bug.  Cannot set values to zero (midnight).

[2020-04-29 21:51] themantissa commented on #80
@gvilarino PR #128 should have fixed this for Azure.  Wanted to confirm it did.  @rvdh we are working to solve this for GCP as well w/ #212, just fyi.

[2020-04-29 23:22] gvilarino commented on #80
Thanks @themantissa for the heads-up. I'll give it a try as soon as I can.

[2020-04-30 03:11] themantissa commented on #26
@damienleger thank you for sharing your experience and tips.  It is very appreciated.

Also we are working on #179 and hope to have a fix in our next release (we releasing approximately once a month).

[2020-05-01 09:08] lmego opened #215 "Incorrect description for atlas_cidr_block in mongodbatlas_network_peering documentation"
The description for the atlas_cidr_block parameter in the **mongodbatlas_network_peering** documentation incorrectly states that it is an **"(Optional | AZURE Required) Unique identifier for an Azure AD directory."** in both Argument Reference and Attributes Reference sections

See https://www.terraform.io/docs/providers/aws/r/vpc_peering_connection.html

[2020-05-01 18:08] #179 closed, assigned to nobody

[2020-05-05 19:14] #80 closed, assigned to nobody

[2020-05-06 14:12] mpaluchowski opened #219 "Documentation incorrect about accessing connection_strings from clusters?"
The [documentation for accessing `connection_strings`](https://www.terraform.io/docs/providers/mongodbatlas/r/cluster.html#connection_strings) for `mongodbatlas_cluster` resources says I should be able to do this:

[code]

but this returns an error:

[code]

and it works only when I do this:

[code]

Is this a bug in the code? Or in documentation? I'm suspecting the former, because accessing the p

[2020-05-06 21:37] themantissa commented on #219
I don't think it's either though we could likely make it clearer in the doc.   I believe that returns a list and so the 0 is normal for specifying a value in the list.    I've seen similar in other terraform outputs.  @PacoDw or @coderGo93 can you confirm and if so I'll include a clarification in the docs for next release (and if not can you provide guidance)

[2020-05-06 23:47] themantissa commented on #215
Waiting on internal confirmation before correcting that atlasCidrBlock is not needed in the peering container connection.   Update soon.

[2020-05-07 05:12] mpaluchowski opened #220 "connection_strings returning empty private values"
I'm trying to access the `connection_strings.private` value from our cluster, but I'm getting an empty string there:

[code]

The cluster:

* exists and is functional,
* does have an AWS VPC Peering setup,
* the regular address for it (with the new `.` dot for universal addresses -- the one returned from `connection_strings.standard`) resolves correctly to a private IP when called from within our

[2020-05-07 05:14] mpaluchowski commented on #219
Why would that return a list if there's only one element? Would it be possible to return a map instead and just access the keys without the extra `0` index?

[2020-05-07 15:19] PacoDw commented on #220
Hello @mpaluchowski the private values take more time to get done, it's necessary to make `terraform refresh` to see the values in your terraform state. Also, you can confirm them on your MongoDB console to verify when they are done in order to make `terraform refresh`. This happens due to the terraform flow, we can't wait for the peering connection resource to be done because we need the cluster

[2020-05-07 16:01] marinsalinas commented on #219
@mpaluchowski, the reason what we have to use this attribute as a list is due to some Terraform limitations, we cannot have a map (k/v) with non-primitive types (int, bool, string) and, since we have two non-primitive attributes (aws_private_link and aws_private_link_srv)  the generic workaround is to use a list with max value = 1.

[2020-05-08 04:36] mpaluchowski commented on #219
Thanks for the explanation.

Could you update the documentation to show this clearly?

[2020-05-08 04:41] mpaluchowski commented on #220
Thank you for explaining this.

Could you update the [documentation for `mongodbatlas_cluster`](https://www.terraform.io/docs/providers/mongodbatlas/r/cluster.html) to include these instructions for running `terraform refresh`?

And how about running `data "mongodbatlas_cluster"` to get the `connection_strings.private`? Would that include the strings once the cluster is up and running? If so, docu

[2020-05-08 14:36] michelzanini opened #222 "Issues with resource and API design for Cloud Provider Snapshot Backup Policy"
Hi,

I am sorry but the description of this issue will be long.

I am having some difficulties configuring Cloud Provider Snapshot Backup Policy from Terraform.
The issues are more regarding how the Terraform resource has been designed rather than bugs.

When a cluster is first created, this is the default backup policy it gets:

![Screen Shot 2020-05-08 at 09 35 24](https://user-images.githubuser

[2020-05-08 14:53] themantissa commented on #219
Absolutely.  I'll knock out a PR to improve it.   Thank you @mpaluchowski

[2020-05-08 17:12] themantissa commented on #222
Hi @michelzanini - wanted to ack that I will give this a good read as soon as I'm able but w/ the length and examples will take some time.   However know we certainly had to think through many challenges in getting this API resources supportable within Terraform so appreciate all the detail on your experience.

[2020-05-11 16:57] PacoDw commented on #209
Hello @michelzanini, thank you so much for your review, I fixed it you can check if the changes are ok on the fix-#209 branch.

Let me know if you have another comment or concern

[2020-05-11 21:34] michelzanini commented on #209
Thanks for the fix @PacoDw . I tested the branch and it worked.
I can see `terraform plan` now displays the difference and `terraform apply` is applying it correctly afterwards.

Plan outout:
[code]

Looks good!
Thanks.

[2020-05-12 16:25] PacoDw commented on #209
you're welcome :)

[2020-05-13 22:14] themantissa commented on #222
Hi @michelzanini, I gave this a good read and I think I'll also need @marinsalinas or @PacoDw to comment on some of the Terraform specific limitations than can lead some very confusing list references (see https://github.com/terraform-providers/terraform-provider-mongodbatlas/issues/219 for our last similar example) but I'll comment on what I can.

So when one turns on cloud provider snapshots it

[2020-05-13 22:39] #220 closed, assigned to themantissa

[2020-05-13 22:40] #219 closed, assigned to themantissa

[2020-05-14 20:16] vrathore18 opened #226 "How to create a custom db role using built-in and connection action"
I am facing an issue. Right now, in my atlas mongo cluster I need to set a user with permission

readwrite@test-db.app
read@test-db.app-config
collmod@test-db.app

How can I combine above scenario in custom db role. Because one is build-role and second is collection action.

[2020-05-14 23:30] themantissa commented on #226
@vrathore18 this issue section is for Terraform bug reporting.  If you have general Atlas or Terraform questions please reach out to Atlas support.

[2020-05-14 23:30] #226 closed, assigned to nobody

[2020-05-18 14:46] michelzanini opened #227 "Can't create a alert for Replication Oplog Window"
Hi,

I can't create a alert for `Replication Oplog Window is below 1 hours` using Terraform.

This is what I have:

[code]

But this won't work as this alert needs a threshold. See error:

[code]

This threshold has a different JSON format than when using `OUTSIDE_METRIC_THRESHOLD`. For `OUTSIDE_METRIC_THRESHOLD` the JSON looks like this:

[code]

But for this metric, `REPLICATION_OPLOG_WINDOW_RUN

[2020-05-18 14:46] michelzanini commented on #227
I am using version 0.5.1 of the provider, Terraform version 0.12.16

[2020-05-18 15:53] themantissa commented on #227
@michelzanini we'll take a look but have you reached out to Atlas support?  Issues in this repo is for bugs per the README.  If you can narrow down the issue with support first it helps a great deal, especially as alerts are some of the most complicated to track down due to the variations available.  Also note Atlas API documentation for Alerts was updated recently so there may be some things in t

[2020-05-18 17:25] dijitali opened #228 "Changes to mongodbatlas_database_user.role.collection_name are ignored"
# Setup

I created a database user like this (provider version `0.5.1`):

[code]

Which created me a user just fine (screenshot from Mongo Atlas portal):
![image](https://user-images.githubusercontent.com/4665045/82240039-a510a480-9931-11ea-818f-a2eac99ea061.png)

[code]

# The problem
I then removed one of the roles and removed the optional `collection_name` attribute:

[code]

I see that the sec

[2020-05-18 22:08] themantissa commented on #228
@dijitali thank you for the excellent write up.  I'll ask our developers to take a look at this potential bug.

[2020-05-19 10:45] michelzanini commented on #227
I can create the alert via API with a POST:

[code]

From Terraform I can't define the `threshold` block. I think this is missing...

Not sure why would I create a Atlas support ticket for this, but if you still want me to create I can. Please let me know. Thanks.

[2020-05-19 14:19] themantissa commented on #227
@michelzanini If you were able to set it via API directly but not via Terraform then no, you do not need a support ticket.  The reason I mention support is they have the access and staffing to help (much more quickly and thoroughly) and narrow down potential bugs for the developers to address.  In this case it seems you have done this on your own, thank you.

I'm assuming this is one that was left

[2020-05-19 14:42] michelzanini commented on #227
@themantissa - Actually the documentation seems still not updated as I don't see `threshold` block in there. Only `metricThreshold `, which is supported by Terraform.
The reason why I knew how to create it is because I analysed the JSON that returns when doing a GET call.

Resuming - the docs are not up-to-date and so is not Terraform.

Maybe for that a support ticket is needed? Not sure...

Thank

[2020-05-19 15:39] themantissa commented on #227
@michelzanini indeed - I think you are correct.  You've done quite a bit of work already.  I'll get this sorted out from here on both sides.  Thank you!

[2020-05-19 20:58] themantissa commented on #215
Fixed in https://github.com/terraform-providers/terraform-provider-mongodbatlas/pull/217, will go to docs w/ next version.  Thanks!

[2020-05-19 20:58] #215 closed, assigned to nobody

[2020-05-19 21:04] themantissa commented on #185
This spelling is corrected in both the code and README within other work. Closing. Thanks!

[2020-05-19 21:04] #185 closed, assigned to nobody

[2020-05-19 21:33] PacoDw commented on #228
Hello @dijitali thank you so much for your review, it helped a lot, it already fixed if you want more details or test the fix you can check the pr #231.

Let me know if you have another comment or concern, thanks

[2020-05-19 21:36] #209 closed, assigned to nobody

[2020-05-20 14:55] rafafalves opened #232 "Can't create alerts with using many event_type"
Hi,
I'm trying create alerts from many different event_types using version 0.5.1, but just the type OUTSIDE_METRIC_THRESHOLD is working.
If I try any other type from Host, Replica Set or Billing groups, I received an error message like this:
REMOVED BY ADMIN

Creating any alert with OUTSIDE_METRIC_THRESHOLD parameter and trying change the configuration to met with desired other type, terraform ret

[2020-05-20 14:58] rafafalves commented on #232
Another point that I forgot to comment in post. paramters from HOST group that appear in documentatino with HOST_, not work even trying make a change. If removed HOST_ and let just desired option like in the configuration example, I can make a change from OUTSIDE_METRIC_THRESHOLD type to new one. (UPGRADED, RESTARTED, NOW_SECONDARY and NOW_PRIMARY).
Anyway, the changes are not completed looking at

[2020-05-21 04:27] themantissa commented on #232
@rafafalves  thank you for the information.  Issue #227  is similar and we are looking into the best course of action.   Will update as more info

[2020-05-25 01:37] MontgomeryWatts opened #234 "Cannot import mongodbatlas_database_user if username contains a hyphen"
I was trying to import a mongodbatlas_database_user where the username is `lambda-producer`. I used a hyphen in the name to be in line with the [example usage](https://www.terraform.io/docs/providers/mongodbatlas/r/database_user.html#example-usages) but when running `terraform import mongodbatlas_database_user.producer_user <PROJECT-ID>-lambda-producer-admin` it's clear from the output that it is

[2020-05-25 19:02] h3yduck opened #235 "Updating Snapshot Backup Policy: This resource requires access through a whitelist of ip ranges."
Hello,

I'm trying to update the cluster's backup policy via terraform.

I'm getting this error, even though access is allowed from anywhere (and whitelist shouldn't affect this API endpoint as far as I understand):
`
Error: error updating a Cloud Provider Snapshot Backup Policy: PATCH https://cloud.mongodb.com/api/atlas/v1.0/groups/.../clusters/.../backup/schedule: 403 (request "Forbidden") This

[2020-05-26 20:39] themantissa commented on #235
@h3yduck that error is for when the API key requires a whitelist entry.  There are both project ip whitelists and API key whitelists.   If you edit the API key you are using you can add an appropriate IP or CIDR.

[2020-05-26 20:39] #235 closed, assigned to nobody

[2020-05-26 22:10] themantissa commented on #234
@MontgomeryWatts it's a known bug, reported and corrected and should be included in our next version release but already available in our master branch.   See https://github.com/terraform-providers/terraform-provider-mongodbatlas/issues/179 and https://github.com/terraform-providers/terraform-provider-mongodbatlas/pull/214

Thanks!
Melissa

[2020-05-26 22:10] #234 closed, assigned to nobody

[2020-05-27 17:12] #228 closed, assigned to nobody

[2020-05-28 14:54] h3yduck commented on #235
That was the problem, thank you!

The strange thing for me is that I could create a cluster and users for that cluster without explicitly whitelisting my IP address (there weren't any whitelist entries on the API key), but I couldn't update the whitelist schedule.

Is this the desired behavior?

[2020-05-28 17:36] dijitali commented on #228
@PacoDw thanks for the prompt turnaround here!

Unfortunately I'm not in a position to easily test #231 with our pipeline until it's released, do you know when the next provider version is likely to land that'll include this fix?

[2020-05-28 18:42] themantissa commented on #235
It is the current behavior but I think there's room for improvement in both what requires an IP Whitelist for the API key and where it's documented.  I'll follow up on that but thank you for confirming that was the issue @h3yduck !

[2020-05-29 00:02] themantissa commented on #228
@dijitali  we expect to have a release with this coming very soon.  If you are okay with waiting for that just keep an eye out for the update here. TY!

[2020-05-29 00:18] themantissa commented on #132
@mattt416  - if you have a chance ensure https://github.com/terraform-providers/terraform-provider-mongodbatlas/pull/236 fixes your issue. Thanks!

[2020-05-29 17:09] #132 closed, assigned to nobody

[2020-06-03 21:04] gvilarino commented on #235
Had the same issue and googled my way back here. @themantissa  I believe it's standard practice to set a warning in the resource docs section, [as the Azure AD provider does here](https://www.terraform.io/docs/providers/azuread/r/service_principal.html)

![image](https://user-images.githubusercontent.com/2538465/83688966-9e865c00-a5c4-11ea-95d1-6e812690549f.png)

That would probably help?

[2020-06-04 05:03] themantissa commented on #210
@michelzanini we have an improved PR w/ the fix if you happen to have time to check it out.  Thank you so much for all your input on this one as we ensure we get it right!

[2020-06-04 05:07] themantissa commented on #235
@gvilarino agree, I think some assumptions were made that could be cleared up w/  information on the primary provider configuration page about Atlas' Programmatic API key roles/IP Whitelists.  I'll get something added and we'll improve it as we go.  Always appreciate the input!

[2020-06-08 15:34] #211 closed, assigned to nobody

[2020-06-08 16:13] #210 closed, assigned to nobody

[2020-06-12 19:02] gmlp commented on #53
Hi @edahlseng, I can't reproduce this issue. can you try to reproduce this issue with the latest provider version, we have made some changes to the code.

[2020-06-13 11:12] valery-zhurbenko commented on #123
@themantissa I think need to implement some "ignore_changes" for "desired", but yes check "min" and "max" in this case.

[2020-06-14 01:32] afonsoaugusto opened #243 "Error when create or import cluster - panic: runtime error: invalid memory address or nil pointer dereference"
Terraform version: 0.12.26
Go runtime version: go1.12.13
found provider "terraform-provider-mongodbatlas_v0.6.0_x4"

[code]

When change version from "v0.6.0" to "v0.5.1", I created the cluster.

[2020-06-15 15:25] themantissa commented on #243
@afonsoaugusto  thank you for the issue report.  We'll investigate and report our findings as soon as possible.

[2020-06-15 16:23] damienleger commented on #26
I can confirm that it is now working with release 0.6.0 🙂

[2020-06-15 18:58] themantissa commented on #123
@valery-zhurbenko we just enabled the attributes in version 0.6.0 with documentation suggestion to use a lifecycle block w/ ignore_changes just as you noted, 0.6.0 released just last Friday.

[2020-06-15 19:32] PacoDw commented on #243
Hello, @afonsoaugusto thank you so much for your review, I added the code to fix this issue so could you test the branch `fix-#243` to check if your issue persists?

Let me know if you have a comment or concern, thanks :)

[2020-06-16 00:45] robsonmantovani opened #246 "Error when use provider_name = TENANT on 0.6.0 mongodbatlas provider version."
This error only occurs when i user 0.6.0 version from mongodbatlas provider, on 0.5.1 works fine.

[code]
To reproduce you can use TENANT example.

[code]

[2020-06-16 16:28] themantissa commented on #243
@afonsoaugusto wanted to check in and see if this fix has corrected the issue?

[2020-06-16 16:36] themantissa commented on #246
@robsonmantovani thank you for reporting - we'll investigate and report back shortly.

[2020-06-16 19:13] DenisBiondic commented on #246
Same issue with Shared clusters on Azure

[2020-06-16 19:21] themantissa commented on #246
Issue has been found - fix is in progress. We expect to release a fix for this and for another bug with 0.6.1.  fyi @PacoDw

[2020-06-16 21:00] themantissa commented on #53
@mpaluchowski and @edahlseng - we are having issues reproducing this.  Can you check with the latest version and let us know if you are still hitting it?

[2020-06-17 04:41] mpaluchowski commented on #53
I can check it out next week and let you know.

[2020-06-17 14:52] PacoDw commented on #246
Hello, guys, I added the #247 PR that resolves the issues, so could you check if your issue persists in that PR? the branch is `fix-#246`

Thank you so much! Let me know if you have another comment or concern.

[2020-06-17 19:21] pdemagny commented on #246
Hi, same issue with v0.6.0 on GCP.

[2020-06-17 20:00] themantissa commented on #127
Verified simply issue from AWS side so going to document the workaround and then close this issue.   Until documented we'll leave this open for others to discover workaround options.

[2020-06-17 20:01] themantissa commented on #53
Thank you @mpaluchowski - very much appreciate your frequent help and reporting on these!

[2020-06-17 20:48] themantissa commented on #246
@pdemagny thank you, we are aware it impacts all Providers.  If any reporters (@robsonmantovani and @DenisBiondic) can test using the branch on #247 to confirm it's addressed that will help a great deal. We'd like to get this fix out ASAP.

[2020-06-17 22:53] afonsoaugusto commented on #243
Thanks @PacoDw and @themantissa,
I will check de fix and report.

[2020-06-18 09:30] pdemagny commented on #246
Hi @themantissa. So i tested it and it worked like a charm for me on GCP.
Thank you all for you quick handling of this issue !

[2020-06-18 18:13] #246 closed, assigned to nobody

[2020-06-18 20:21] apolloclark opened #250 "Add MongoDB Collection Data Source"
It would be helpful to enable HCL2 code to read from a MongoDB Collection during a Terraform Run.

[2020-06-18 21:26] themantissa commented on #250
Hi @apolloclark, Thank you for the post.  We use the issues section for bug reports - feature requests can be made at our Feedback Portal: https://feedback.mongodb.com/forums/924145-atlas?category_id=370723.  If you can expand on your use case with the request there that helps a great deal.  Thank you!

[2020-06-18 21:26] #250 closed, assigned to nobody

[2020-06-18 23:46] themantissa commented on #246
Hi all, this is closed as 0.6.1 w/ the fix is built and should be released by HashiCorp officially soon. Thank you for the quick reporting!

[2020-06-18 23:47] themantissa commented on #243
Hi @afonsoaugusto if you have any more issues please let u sknow.  This is closed as 0.6.1 w/ the fix is built and should be released by HashiCorp officially soon.

[2020-06-19 16:44] afonsoaugusto commented on #243
Thanks @themantissa, I'll migrate the provider to 0.6.1 as soon its is disponible.
Thank's for your answer and review.

[2020-06-23 07:06] sergiocastrogom opened #252 "Adding 16 whitelist entries at the same time causes an error"
Steps to Reproduce
1. Create a new project.
2. Create a .tf file to add 16 whitelist entries. I have used the below:

`provider "mongodbatlas" {
  public_key = "xxxx"
  private_key  = "xxxx"
}

resource "mongodbatlas_project_ip_whitelist" "cckm_project_whitelist1" {
project_id = "xxxx"
cidr_block = "10.0.0.0/8"
comment = "whitelist CIDR block1"
}

resource "mongodbatlas_project_ip_whitelist" "cckm

[2020-06-23 13:40] themantissa commented on #252
Thank you @sergiocastrogom  - I'll ensure we get some eyes on this.

[2020-06-23 22:25] themantissa commented on #232
@rafafalves apologies for the length of time to resolution here but wanted to assure you and anyone else that we are working on this and will post updates as we have them.

[2020-06-23 22:26] themantissa commented on #227
@michelzanini  apologies for the length of time to resolution here but wanted to assure you and anyone else that we are working on this and will post updates as we have them.

[2020-06-24 02:35] #115 closed, assigned to nobody

[2020-06-24 19:55] mpaluchowski commented on #53
@themantissa I just checked and we still have the same issue. For the clusters created early, before `accepter_region_name` became mandatory, `terraform plan` still wants to add this value:

[code]

and when I run `terraform apply` with this plan, I get:

[code]

I have to keep this entry in our peering resource block:

[code]

[2020-06-24 20:09] themantissa commented on #53
Thank you @mpaluchowski !

[2020-06-24 20:20] themantissa commented on #252
@sergiocastrogom investigation confirmed the issue.   We will schedule engineering time to address - the PR will link to this issue once ready so you can follow progress. Thanks!

[2020-06-26 21:20] themantissa commented on #232
@rafafalves just an end of week update - we are updating the list of what is/isn't available as alerts in Atlas and then will update the provider that should correct the behavior you are seeing.   In the mean time let me know if you have any specific questions.

[2020-06-26 22:08] themantissa commented on #227
End of week update: believe we've identified what we need to correct this in the provider.  Should have what we need early/mid July and then will be able to determine when we can ensure the provider supports this correctly.

[2020-06-27 01:08] themantissa commented on #234
That is the main Terraform Changelog. Each provider has its own and the
Atlas one is here:
https://github.com/terraform-providers/terraform-provider-mongodbatlas/blob/master/CHANGELOG.md

[2020-06-29 19:01] WafflesMcDuff commented on #243
Please reopen

[2020-06-29 19:05] WafflesMcDuff commented on #243
This issue is still occuring in 0.6.1
[code]

[2020-06-29 19:10] themantissa commented on #243
@WafflesMcDuff can you include your terraform config and full DEBUG logs?  If you don't want to include here you can reach out directly to melissa.plunkett@mongodb.com.

[2020-06-30 16:13] WafflesMcDuff commented on #243
Just to keep everyone on the same page, @themantissa  and I are communicating via email so I can send complete crash logs and such while limiting distribution of detailed logs

[2020-06-30 23:10] themantissa commented on #243
@WafflesMcDuff thanks to your data @PacoDw has narrowed it down.  It's similar to this issue but is a different nil pointer issue.  He's working on the fix and testing it by FYI for you and others.

[2020-07-01 19:43] PacoDw commented on #243
Hello @WafflesMcDuff, thank you so much for sharing your log files with us, they really helped us find the issue. I created a PR with the fix, also I tested with your TF configuration and all it's okay,  so could you test with that branch to check if now it's okay?

Let us know if you have another comment or concern 👍

[2020-07-01 23:14] mykewould opened #256 "Creating cluster eventually returns 503"
When creating a cluster the provider will eventually return a 503 error. The cluster continues going on to be made, but Terraform doesn't think the cluster completed. This creates a problem where terraform always tries to recreate the already made cluster.

Error
[code]

[2020-07-02 01:41] themantissa commented on #256
Hi @mykewould, Could you provide some more information to help us better understand how this potential issue is being reached:
* Are you working with with Atlas support, i.e. is a case already open?
* Terraform version
* MongoDB Atlas Provider version
* terraform config being used
* logs (DEBUG level is great)
Please redact any sensitive information before sharing here.

Thanks!
Melissa

[2020-07-02 16:46] WafflesMcDuff commented on #243
Hi @PacoDw -
I feel like I’ve spent half my morning trying to get all the dependencies needed to run make tools on this PR, but I feel like I’m no closer to being done. The last error I got was:

[code]

[2020-07-02 16:53] WafflesMcDuff commented on #243
@PacoDw  - Ignore my last message. Upgrading go to version 1.14 fixed the errors, it seems.

[2020-07-02 19:33] WafflesMcDuff commented on #243
@PacoDw  - This fixed the issue I was experiencing

[2020-07-06 14:09] WafflesMcDuff commented on #243
@PacoDw - Now that we know this fixes the bug, how long before we see a new release of the provider?

[2020-07-06 19:15] PacoDw commented on #53
Hello @mpaluchowski and @edahlseng !
Thank you so much for your review, I made changes on the same branch fixing the bug and added a test case to validate it, so could you test it to check if everything is okay plz?

Let me know if you have another concern or comment 👍

[2020-07-07 15:42] themantissa commented on #243
@WafflesMcDuff we normally release (just about) every month to get what we have out there quickly but since we have a few bug fixes ready we'll likely try to get out a small release fairly soon, i.e. 0.6.2.

[2020-07-08 18:35] themantissa commented on #53
@mpaluchowski or @edahlseng any feedback on the proposed fix?  Looks good from our side but before releasing would be great to have a verification.

[2020-07-09 19:47] mpaluchowski commented on #53
Hmm, how do I test an unreleased version? Do I need to build it myself first?

[2020-07-09 19:51] themantissa commented on #53
Correct @mpaluchowski , you'd need to build from the branch the fix is in and ensure you have the correct golang version (for that it should be either 1.13 or 1.14  - I believe 1.14 will be best but @PacoDw can confirm - we are about to update the README w/ the next release).  It's a bit of work but helps us verify it fixes the specific issue.   If not we can release the assumed fix in 0.6.2 and i

[2020-07-09 20:36] PacoDw commented on #53
Hello, @mpaluchowski you need to switch to the branch `fixes-53-accepter_region_name-not-required-for-aws` and make a git pull to get all the recent changes, and ensure that you are using the go version > 1.13 if you have v1.14 it's excellent, make a `go build` later move the binary to your project folder, make `terraform init` and run your Terraform configuration.

[2020-07-13 17:31] #252 closed, assigned to nobody

[2020-07-13 22:30] #53 closed, assigned to nobody

[2020-07-14 10:00] pkdone opened #261 "In recommendations, prevent export of keys appearing in OS history"
In [MongoDB Atlas Provider](https://www.terraform.io/docs/providers/mongodbatlas/index.html) landing page (also in README of this project)...

For section:

[code]

Change to:

[code]

As a result, running `history` afterwards from a new terminal session will not show the values of the keys.

[2020-07-14 10:55] mpaluchowski commented on #53
Sorry I didn't make it. Too much to do lately and I currently don't even have Go installed. I'll wait for you to release the next version and then see if the error is gone.

[2020-07-14 15:59] themantissa commented on #261
@pkdone a good suggestion, I'll add this in a small PR and have you review.

[2020-07-14 16:33] themantissa commented on #261
https://github.com/terraform-providers/terraform-provider-mongodbatlas/pull/263 < @pkdone take a look, pretty small so quick to add

[2020-07-14 17:12] #243 closed, assigned to nobody

[2020-07-14 22:10] themantissa commented on #261
Completed.

[2020-07-14 22:10] #261 closed, assigned to nobody

[2020-07-17 17:51] #256 closed, assigned to nobody

[2020-07-19 12:51] tolik-u opened #265 "Can't create a new cluster (M2/M5) after 0.6.2 version"
When trying to run TF apply (with the same code that worked on 0.6.1) we get an error:

[code]
After forcing the provider version to previous, 0.6.1, apply works as expected.

I suppose the problem came from here https://github.com/terraform-providers/terraform-provider-mongodbatlas/pull/255
but it's huge, so I'm not sure.

[2020-07-20 12:25] kirkiris opened #266 "Error when creating `mongodbatlas_project_ip_whitelist` resource"
Hello,

I am trying to whitelist a number of public IPs which are divided in different lists according to their use case, so each `mongodbatlas_project_ip_whitelist` resource is configured similarly to the following example:
[code]

By running `terraform apply` I will have all the IPs whitelisted but sometimes it ends up with an error similar to the following (it can be for a different `mongodbatl

[2020-07-20 14:24] polmabri commented on #265
I get the same error with the following test configuration and  provider version 0.6.2:

[code]

0.6.1 works fine!

[2020-07-20 18:29] themantissa commented on #266
@kirkiris just looking quickly please note we do not support Terraform v0.11.14 and do not test for it. We support 0.12.x.   I would start with ensuring the correct version.

Second, the IP whitelist resource is one we've continually iterated on as it's a bit different in how it's implemented in the underlying Atlas API.   What has helped to continually improve it is having data from transient iss

[2020-07-20 18:32] themantissa commented on #265
Thank you both for the quick reports.   @tolik-u can you provide an example of your cluster config?  Is it also an M2/M5?

[2020-07-20 18:44] themantissa commented on #265
Confirmed issues with M2/M5 creation.

[2020-07-20 23:43] coderGo93 commented on #265
Hello @tolik-u , thanks for the issue, I made changes on branch `fix-265`, could you please test it again? so I can be sure if it's working or not.
FYI: I tested with similar config as @polmabri

[2020-07-21 05:39] tolik-u commented on #265
@themantissa Mine was a dynamic config, full of variables, but yes, the cluster I tried to create was M2.

[2020-07-21 05:40] tolik-u commented on #265
@coderGo93 OK thanks I'll test it again and report

[2020-07-21 06:20] tolik-u commented on #265
@coderGo93I just realized it's not a built version, sorry, I can't test it right now, I'll be waiting for a release, thank you!

[2020-07-21 13:55] themantissa commented on #265
No worries @tolik-u !  I tested this morning with #267 and both M2 and M5 successful. - creation and destroy.

[2020-07-21 15:55] #265 closed, assigned to nobody

[2020-07-23 14:25] rifletcher opened #273 "Error when assigning a custom db role to a database user."
Hi,

I have an issue where I'm trying to create a custom db role to assign to a db user.

I am using terraform 0.12.26 and mongodbatlas provider 0.6.2.

[code]
The error I get on a terraform apply is

[code]

The role is created successfully

![image](https://user-images.githubusercontent.com/17780314/88297677-e2662980-cd08-11ea-80ae-5aa0c787e950.png)

The user is not created, although I can creat

[2020-07-23 17:49] themantissa commented on #273
@rifletcher without more data I'm guessing a bit here based on experience but I think there probably needs to be a bit more of a time buffer between the role creation and the user creation.  Once the API gets the request to create the role it returns immediate if the request is correct and accepted.  The system then applies the new role to the clusters in the project.  Once that is done the user c

[2020-07-28 19:52] in4mer opened #277 "mongodbatlas_team data provider team_id null after successful API query"
### Versions
[code]

### Example terraform
[code]

### What I expect to happen

When a data provider is run, it should contact the API and fill in the missing fields.  As is tradition.

### What actually happens

When this data provider is run without team_id in its spec, team_id is null forevermore, even though the team exists and is found using the API.

### Output
When run:

[code]

[2020-07-29 21:42] themantissa commented on #277
@in4mer thank you for filing the issue.  We'll take a look and get back to you.

[2020-08-04 10:15] languitar opened #279 "custom_db_roles cannot be created with only inherited roles"
In the Atlas UI it is easily possible to create custom_db_roles which are comprised of only inherited roles. However, the resource definition currently requires one to always pass `actions`. Therefore, I don't see a chance to create roles which only use inherited roles such as this example:
![image](https://user-images.githubusercontent.com/1336287/89282658-24b63180-d64c-11ea-8c68-158e8940878f.png

[2020-08-04 10:59] languitar opened #280 "inherited_roles are not correctly removed from custom_db_roles"
Due to #279 I have rebuilt an existing role (created via the Web UI) with basic permissions instead of inherited roles. As a consequence, the plan output includes adding `actions` and also removing the inherited roles:

[code]

After applying this plan, the inherited roles are still present and the next plan iteration again tried to remove them:
![image](https://user-images.githubusercontent.com/1

[2020-08-04 22:34] themantissa commented on #277
Team confirmed a bug and working on a fix.

[2020-08-04 22:35] themantissa commented on #273
@rifletcher did the suggested time delay help in the situation?

[2020-08-04 22:37] themantissa commented on #266
@kirkiris checking in if you tried with a newer Terraform version?

[2020-08-04 22:59] themantissa commented on #279
@languitar thank you for the report - it seems that when custom roles was created the actions was defined as required, https://github.com/mongodb/terraform-provider-mongodbatlas/blob/master/mongodbatlas/resource_mongodbatlas_custom_db_role.go#L50
but should be optional. Will file a ticket to get this addressed.   Thank you!

[2020-08-04 23:55] themantissa commented on #280
Just to keep the issues clear I'm going to close this but link to #279 as related for our devs to see but part of the larger issue.

[2020-08-04 23:55] themantissa commented on #279
See https://github.com/mongodb/terraform-provider-mongodbatlas/issues/280 as well for more around the impact of the behavior.

[2020-08-05 08:12] kirkiris commented on #266
Thanks for checking in @themantissa. No, I haven't tried it yet. I need to change the modules plus I don't seem to be able to reproduce it.

[2020-08-05 22:33] themantissa commented on #266
@kirkiris sound good - if okay I'll close this for now and if you get the same issue or have more data we can reopen.   Thank you!

[2020-08-05 22:33] #266 closed, assigned to nobody

[2020-08-06 15:13] languitar commented on #279
Another aspect of this thing could be the following:
[code]
Seems the sorting wasn't correctly applied in the previous iteration and now this diff reappears everytime.

[2020-08-06 17:12] #277 closed, assigned to nobody

[2020-08-06 21:41] in4mer opened #283 "changing cluster to _NVME fails on commented-out IOPS"
### Versions

Terraform v0.12.29
+ provider.aws v3.0.0
+ provider.mongodbatlas v0.6.3
+ provider.random v2.3.0

### Situation

After creating an M40 cluster using mongodbatlas_cluster, with:
[code]
size_name was changed from `M40` to `M40_NVME`, *and* the those earlier values were commented out:
[code]

### What happens

[code]

### What I expect to happen

I expect the combination of size_name ch

[2020-08-06 22:29] themantissa commented on #280
After chatting with our developers going to re-open this so we can split to two separate work items.

[2020-08-06 23:06] themantissa commented on #283
Hi @in4mer, thank you for the details in the issue!   I think this just needs a few adjustments.  Since you are actually changing storage types from standard to provisioned you need to change two of those values as opposed to commenting them out, e.g.:
`#  disk_size_gb                        = 10`
`provider_instance_size_name = "M40_NVME"`
`provider_disk_iops                  = 3000`
`provider_vol

[2020-08-07 07:15] languitar commented on #280
Alright, as my comment on #279 is probably more related to this issue, here it is again:

Another aspect of this thing could be the following:
[code]
Seems the sorting wasn't correctly applied in the previous iteration and now this diff reappears everytime.

[2020-08-07 07:20] languitar opened #284 "Renaming a custom_db_role with attached users is not possible"
Changing the name of an existing `custom_db_role` is currently not possible without ending in an error in the `apply` step. The plan for a name change currently indicates the replacement due to the name change:
[code]

Applying this results in the following error:

I understand that this is not possible directly without unassigning the user, but some indication for this issue already in the plan p

[2020-08-07 14:10] themantissa commented on #280
Thank you @languitar for adding that and understanding the back and forth here.  We'll update each issue as progress is made.

[2020-08-07 14:50] TheUnixRoot opened #285 "Unable to import $external auth users"
I'm upgrading provider in my current infrastructure but I cannot import already defined users as they have an "-" in the name, and they are authenticated against $external database.

But the regex used to split the import ID, is using - and $external is not allowed as a database name:
https://github.com/mongodb/terraform-provider-mongodbatlas/blob/master/mongodbatlas/resource_mongodbatlas_database

[2020-08-07 23:00] themantissa commented on #285
Thank you @TheUnixRoot for reporting this in.    Can you provide what terraform and MongoDB Atlas provider version you are using?   Also is the user that the $external is for X.509, AWS IAM, or LDAP?  While we have written in X.509 and AWS IAM support but we have not yet done so for LDAP, but it is on our roadmap.  Would be good to know which it is.

I'll have our developers take a look at both re

[2020-08-10 07:59] TheUnixRoot commented on #285
Yes, absolutely.

- provider.mongodbatlas = 0.5.1
- I'm importing X.509 users

I'll check with latest version which is released for testing if it fits our modules.

[2020-08-10 09:07] TheUnixRoot commented on #285
Still having same issue.

This is expected as it already exists:
$ terraform apply
Error: error creating database user: POST https://cloud.mongodb.com/api/atlas/v1.0/groups/0000aaaa0000aaaa0000aaaa/databaseUsers: 409 (request "Conflict") A user with username **CN=user,OU=some-ou,O=org** already exists.

  on .terraform/.../atlas_user.tf line 6, in resource "mongodbatlas_database_user" "external":

[2020-08-11 21:19] themantissa commented on #285
@TheUnixRoot I have created an item to investigate this further on our schedule, if more information is needed we'll reach out here.  Thank you.

[2020-08-12 07:51] languitar opened #289 "mongodbatlas_maintenance_window fails with BadRequest: Invalid Day of Week"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

I have remodeled the existing configuration of one of our Atlas clusters (shared tier, M5). One aspect of this is the maintenance window. For that, I am using the configuration shown above. Interestingly, the initial plan resulted in this diff (which I don't und

[2020-08-12 12:40] bastiandg opened #290 "`mongodbatlas_cloud_provider_snapshot_backup_policy` `restore_window_days` (optional value) is being set even when omitted in resource config"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1. omit `restore_window_days` in `mongodbatlas_cloud_provider_snapshot_backup_policy` configuration
1. `terraform init`
2. `terraform apply`

### Expected Behavior

Successful apply

### Actual Behavior

[code]

### Debug Output

[code]

### Additional Context

[2020-08-12 23:53] themantissa opened #292 "X509 is using the wrong authentication database when updating an existing user"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]
### Steps to Reproduce

When attempting to modify an existing customer-managed X509 database user in an Atlas project, it appears that the provider malforms the endpoint URL - i.e. it seems to be ignoring the "auth_database_name" and inserting "admin" as the databasePath parameter instead of "$external". To demonstrate what I m

[2020-08-13 00:13] themantissa commented on #284
@languitar understood it would be easier to handle but that would require an ability for the underlying API to allow a "test run" submit to get that error earlier, which it does not. Otherwise we'd have to build all the logic of the underlying system into the provider which is quite an anti-pattern. I appreciate that more errors earlier would be useful and we add as we can and it makes sense but w

[2020-08-13 00:13] #284 closed, assigned to nobody

[2020-08-13 00:21] themantissa commented on #290
Thank you @bastiandg, it is indeed an optional value and should be not sent.  And what is being sent is out of a valid range.

[2020-08-13 00:50] themantissa commented on #289
@languitar thank you for what you have here, helpful, but can you provide more information?  I'm not sure what you mean by remodeled?  Are you trying to change an existing configuration?  For example was maintenance windows a resource you had before and now you want to update it but you are getting an error?

Also note, while the maintenance window is set at the project level it won't impact share

[2020-08-13 13:37] languitar commented on #284
I understand this. But the feature request template was included in the repo right after I posted this issue, so I couldn't use that one ;-)

[2020-08-13 13:40] languitar commented on #289
We had an existing configuration in Atlas with exactly the settings as described in the HCL file. A terraform configuration didn't exist yet. Therefore,  I imported the resource and afterwards issued a plan and apply cycle.

Good to know. But not a real issue so far. Using the terraform-based configuration here is mostly just a test for applying this also for the production cluster.

[2020-08-13 14:02] themantissa commented on #284
@languitar lol, very good point ;)  If you don't mind submitting there it would help a great deal.   Do appreciate your input!

[2020-08-13 14:11] themantissa commented on #289
Just to double check,  you had an existing project with a maintenance window set and at least an M5, you then imported the 3 items: project, maintenance window and M5.  Then did a plan/apply with the tf config (which matched what was imported) and got this error?  We need to reproduce this hence why the specifics are so important.

[2020-08-13 16:16] languitar commented on #284
Here is is: https://feedback.mongodb.com/forums/924145-atlas/suggestions/41140231-indicate-operation-errors-already-in-the-plan-phas

I have no idea how to properly format the code snippet there.

[2020-08-13 16:17] languitar commented on #289
Yes, that's what I have done.

[2020-08-14 23:28] themantissa commented on #289
@languitar thank you!  I was able to reproduce the issue and produce a debug log.  I'll provide the log directly to our developers but the behavior was exact: 1) after import the terraform plan showed the change 2) terraform apply failed and when I ran terraform apply again, with no changes to the tf, it succeeded which is quite odd.   I'll set this as a non-blocking bug for now.

FYI, on the fiel

[2020-08-14 23:30] themantissa commented on #283
@in4mer assuming the earlier answer helped unblock you.  If not let me know.

[2020-08-14 23:30] #283 closed, assigned to nobody

[2020-08-14 23:31] themantissa commented on #273
@rifletcher hopefully the above helped.  Closing issue.

[2020-08-14 23:31] #273 closed, assigned to nobody

[2020-08-15 00:07] in4mer commented on #283
Whoops, forgot to hit submit.

Yep it helped, thank you.  In lieu of the provider handling this, is there some documentation I missed?

[2020-08-15 00:31] themantissa commented on #283
Good question, the attribute definitions cover it somewhat but I can see that wouldn't be obvious without knowing the API a bit more.   Seems an example for creating/upgrading to an NVME option would be a good add :)  I'll add that to our list of improvements.   Thank you @in4mer!

[2020-08-16 11:41] languitar commented on #289
Good to see that this could be replicated. Did you also get the Atlas Error for the wrong parameter for the day of the week? I can't see that in your diff.

[2020-08-17 01:42] jtmdb commented on #227
Hi @themantissa
I'm using mongodbatlas provider version 0.6.3 and terraform version 0.13 and encountered the same errors when attempting to set event_type = "REPLICATION_OPLOG_WINDOW_RUNNING_OUT".

I have tried with:
`"threshold": {
   "operator": "LESS_THAN",
   "threshold": 1
}`

as well as:
`  metric_threshold = {
    operator  = "LESS_THAN"
    threshold = 1.0
    units     = "HOURS"
  }`

[2020-08-17 14:59] themantissa commented on #227
@jtmdb apologizes but we had to get a review and update of how to properly support Atlas alerts in Terraform with the underlying API.  We have the information now and the work is on the work board but we have not yet gotten to it.  We hope to soon but no firm ETA at this time, estimated currently in September.

[2020-08-17 15:01] themantissa commented on #289
I did, it looked like a pretty spot on replication.

[2020-08-17 19:18] PacoDw commented on #279
Hello, @languitar thank you so much for your review, I made changes resolving this issue could you test it to check if everything is okay?
Also, let me know if you have another comment or concern, thanks.

[2020-08-17 19:18] PacoDw commented on #280
Hello, @languitar thank you so much for your review, I made changes resolving this issue could you test it to check if everything is okay?
Also, let me know if you have another comment or concern, thanks.

[2020-08-17 23:31] dryabtse opened #295 "There is no parity between the Atlas API documentation and the provider doc in regards to alert event_type values"
[Alert configuration](https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/alert_configuration) lists a limited number of `event_type` values if compared to the values [documented for Atlas API](https://docs.atlas.mongodb.com/reference/api/events/).

[2020-08-18 20:15] themantissa commented on #295
@dryabtse  the API resource https://docs.atlas.mongodb.com/reference/api/events/ is slightly different than alerts, events is the resource to obtain activity feed data (e.g. https://docs.atlas.mongodb.com/tutorial/activity-feed/index.html) and https://docs.atlas.mongodb.com/reference/api/alerts/ (related https://docs.atlas.mongodb.com/alerts/) is what maps as the consumption side of the alert conf

[2020-08-18 20:15] #295 closed, assigned to nobody

[2020-08-19 17:40] PacoDw commented on #285
Hello, @TheUnixRoot thank you so much for your review and description it was very helpful. I created a PR with the fix 👍 so you can test the branch `fix-#285` to validate that it works fine if you want.

Let me know if you have another comment or concern, thanks.

[2020-08-19 20:51] PacoDw commented on #227
Hello @jtmdb, I created a PR implementing the threshold attribute if you want to check more details or play with the new feature see the PR #298.

Let me know if you have another comment or concern, thanks

[2020-08-19 20:53] PacoDw commented on #232
Hello @rafafalves, I created a PR implementing the threshold attribute if you want to check more details or play with the new feature see the PR #298.

Let me know if you have another comment or concern, thanks

[2020-08-20 09:19] TheUnixRoot commented on #285
Hello @PacoDw I managed to build it locally and I tested the import, it works for my cases.

I'll wait impatiently the new release including your changes 💯

[2020-08-20 09:19] #285 closed, assigned to nobody

[2020-08-20 17:15] themantissa commented on #285
@TheUnixRoot we are shooting for a release end of Aug, early Sept so hopefully the wait won't be too long!  Thank you :)

[2020-08-20 22:01] #279 closed, assigned to nobody

[2020-08-21 05:59] languitar commented on #279
Thanks for the fix. Are there any plans to generate a release including this fix?

[2020-08-21 21:44] themantissa commented on #279
@languitar there are - we plan to cut 0.6.4, hopefully, in Aug (that is pretty soon). We are still finishing up some changes to be able to deploy releases ourselves (a new change for Terraform .13).

[2020-08-22 04:20] dryabtse commented on #295
Hi @themantissa . From your comment it's not clear if it will be possible to deploy exactly the same alert configuration via tf provider as it if the Atlas API was used natively. This is what I meant by "parity". If the provider is unable to deploy certain alert types, then that is most certainly a defect IMO and should be treated as such.

[2020-08-25 00:43] themantissa commented on #295
@dryabtse in my comment I was trying to clear up the different between the areas linked to in your issue as they are not the same thing (events is different than alerts).

But yes, we are working in the aforementioned PRs to allow the provider to have what parity, to use the terminology, w/ that the documentation has currently.

[2020-08-26 19:07] #227 closed, assigned to nobody

[2020-08-28 18:43] themantissa commented on #290
@bastiandg we've released a preview version that should allow you to test if this fixes the issue.  If you can confirm we'd appreciate it.
https://github.com/mongodb/terraform-provider-mongodbatlas/releases/tag/0.6.4

[2020-08-28 18:46] themantissa commented on #280
@languitar we've released a preview version that should allow you to test if this fixes the issue.  If you can confirm we'd appreciate it.
https://github.com/mongodb/terraform-provider-mongodbatlas/releases/tag/0.6.4

[2020-08-28 18:47] themantissa commented on #232
@rafafalves  we've released a preview version that should allow you to test if this fixes the issue.  If you can confirm we'd appreciate it.
https://github.com/mongodb/terraform-provider-mongodbatlas/releases/tag/0.6.4

[2020-08-28 18:48] themantissa commented on #285
@TheUnixRoot  we've released a preview version that should allow you to test if this fixes the issue.  If you can confirm we'd appreciate it.
https://github.com/mongodb/terraform-provider-mongodbatlas/releases/tag/0.6.4

[2020-08-28 18:49] themantissa commented on #277
@in4mer  we've released a preview version that should allow you to test if this fixes the issue.  If you can confirm we'd appreciate it.
https://github.com/mongodb/terraform-provider-mongodbatlas/releases/tag/0.6.4

[2020-08-28 18:50] themantissa commented on #256
@mykewould we've released a preview version that should allow you to test if this fixes the issue (may be hard in this case so more fyi).  If you can confirm we'd appreciate it.
https://github.com/mongodb/terraform-provider-mongodbatlas/releases/tag/0.6.4

[2020-08-28 18:51] themantissa commented on #265
@tolik-u  we've released a preview version that should allow you to test if this fixes the issue.  If you can confirm we'd appreciate it.
https://github.com/mongodb/terraform-provider-mongodbatlas/releases/tag/0.6.4

[2020-08-31 06:22] bastiandg commented on #290
Hey @themantissa and @PacoDw  thanks for implementing the fix.

The first thing I tried was to update an existing cluster with `restore_window_days` set to one. Sadly it doesn't recognize the change.

[code]

The next thing I tried was to completely recreate the cluster backup policy. And the apply itself works without an issue, **but** oddly enough the restore_window_days is set to `7`. When I th

[2020-08-31 10:46] TheUnixRoot commented on #285
It works as expected :)

[2020-08-31 16:33] themantissa commented on #290
@bastiandg thank you, this is helpful.   Before you did the first try did you refresh all state?  I ask because I think part of the problem here may be how we had to implement the cloud backup policy.   As you note on the second part of your comment above, Atlas sets a default value - not just for restore_window_days but as soon as Cloud Backup is enabled there is a policy/schedule created by defa

[2020-09-01 14:28] bastiandg commented on #290
I didn't run an explicit `terraform refresh` before the apply. But I tried it just now and there is no change. So the odd behavior is:

1. Set an explicit value for `restore_window_days`
2. remove the value (essentially setting `restore_window_days` to `null`)
3. `terraform refresh`
4. `terraform apply`

-> No change is recognized.

I don't mind the slight inconsistency here, as it is a very rare

[2020-09-02 08:26] languitar commented on #280
We will try our best  within the next few days.

[2020-09-02 16:32] RafiGreenberg opened #302 "Error: rpc error: code = Unavailable desc = transport is closing"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1. `terraform init`
2. `terraform apply`
### Expected Behavior

run plan/apply
### Actual Behavior

**Error: rpc error: code = Unavailable desc = transport is closing**
### Debug Output

### Crash Output

[code]
### Additional Context

### References

[2020-09-02 21:06] RafiGreenberg commented on #302
Nevermind, I fixed it by removing resources from state and re-importing.

[2020-09-02 21:06] #302 closed, assigned to nobody

[2020-09-02 22:29] themantissa commented on #280
@languitar certainly let us know when ever works for you.  We will probably proceed w/ a full release of 0.6.4 as it looks good but happy to address any further issues.  Just us know.

[2020-09-02 22:36] themantissa commented on #290
@bastiandg thank you for the helpful response!  Definitely realizing we have some room for improvement here in how we document backup, hopefully we can tackle soon but very glad the original issue is fixed!   I'll close this issue but let us know if anything else comes up.   Cheers!

[2020-09-02 22:36] #290 closed, assigned to nobody

[2020-09-03 19:55] michelzanini commented on #227
I can confirm the fix works after 0.6.4 release. Thanks!

[2020-09-03 23:03] iwasnobody opened #304 "Modify first num_shards doesn't take effect - is not passed into regions_config sent to Atlas API"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1.tf apply to create one shard cluster
2.change the shard number to 3 and apply again
### Expected Behavior

mongodb atlas should have 3 shards finally
### Actual Behavior

No error in tf plan, tf apply in terraform but mongodb atlas think it should do no change