[2020-09-03 23:57] themantissa commented on #227
Thank you @michelzanini! Very glad to hear that.

[2020-09-04 09:12] ckuetbach opened #305 "After manually deletion of a billing alert, no more plan oder apply will succeed, becuase of an 404 during plan"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

- Create a billing alert with terraform
- Delete the alert using the website
- Re Create the Resource with terraform

### Expected Behavior

- The Alert is recreated

### Actual Behavior

- The plan fails, because of an 404 (alert configuration not found)

### A

[2020-09-04 20:46] MartinCanovas opened #306 "email_enabled always reported as a change for mongodbatlas_alert_configuration"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1. `terraform init`
2. `terraform apply`
3. Alert is created without issues. However next time you run `terraform apply` without any changes on the code, terraform will report in the Plan a change for the alert configuration:

~ notification {
            delay_

[2020-09-04 20:50] MartinCanovas commented on #306
[debug.log](https://github.com/mongodb/terraform-provider-mongodbatlas/files/5176884/debug.log)

[2020-09-04 21:21] themantissa commented on #306
Thank you @MartinCanovas!  We'll add this to the list to address.

[2020-09-04 21:28] themantissa commented on #305
@ckuetbach in repo steps was a refresh performed to refresh the state from the current system?  Could you provide debug logs so we can see the specifics?

[2020-09-04 22:42] themantissa commented on #304
@iwasnobody thank you for the report.   The provider is reading num_shards the first time and creating a single shard correctly but when you change that value to 2 it sees the diff but is then not properly sending it to the right place in Atlas.   I recreated your environment and saw the following in the plan (removed all the non related output but this is why capturing the plan helps us speed up

[2020-09-07 15:13] ckuetbach commented on #305
I don't have the debug logs ready.

But there was a `terraform refresh`, before I made the changes, because I made an update from 0.5.1 to 0.6.4 to enable billing alert feature.

I'm not sure, how to create a debug log, do you have any documentation ready?

For me it looks, as if the provider won't check the current state correctly against the atlas API. this would explain the 404, while reading t

[2020-09-08 08:00] vrathore18 opened #308 "Can we create search index using terraform-provider-mongodbatlas?"
I searched a lot but I guess there is no option for creating a search index using terraform-provider-mongodb-index. Could someone please confirm, if so then I will create a request for this feature.

https://docs.atlas.mongodb.com/reference/atlas-search/create-index/

[2020-09-10 08:00] nikhil-mongo commented on #308
@vrathore18 This is still not available in Terraform and we will be happy to take the suggestion on our [feedback engine](https://feedback.mongodb.com). However in the meantime, please use the [Atlas API](https://docs.atlas.mongodb.com/reference/api/atlas-search/#atlas-search-api-ref) for creating the search index.

Thanks,
Nikhil

[2020-09-10 09:06] nikhil-mongo commented on #306
@MartinCanovas
As per the `notifications.[n].emailEnabled` section of the [Atlas API](https://docs.atlas.mongodb.com/reference/api/alert-configurations-create-config/) `email_enabled =true` is only required in case the notification type is **GROUP, ORG, or USER**. This is why the **terraform.tfstate** file stores this value as `email_enabled =false`. When you run `plan` and the state file refreshe

[2020-09-10 10:18] Jeinhaus opened #310 ""mongodbatlas_alert_configuration" prints Slack API token in plain text"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1. `terraform init`
2. `terraform plan`

### Expected Behavior

Sensitive values (in this case `api_token`) should not be printend when running `terraform plan` or `terraform apply`.

### Actual Behavior

The Slack API token is printed in plain text during when r

[2020-09-10 10:20] nikhil-mongo commented on #305
[debug.log](https://github.com/mongodb/terraform-provider-mongodbatlas/files/5200680/debug.log)

Here is the debug file for this issue. The Atlas API responses with 404 all the time if any other service is deleted from UI too. But, this is not expected behaviour for billing as @ckuetbach mentioned. If this happens with Atlas cluster, as an exmaple, we create a new cluster rather than showing 404 e

[2020-09-10 10:23] languitar commented on #232
@rafafalves I hope you have changed the API token after this report ;-)

[2020-09-10 11:11] Jeinhaus opened #311 "mongodbatlas_alert_configuration - metric_threshold.threshold is not being passed when value is zero"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1. `terraform init`
2. `terraform apply`

### Expected Behavior

`terraform apply` should run without errors and an alert should be created

### Actual Behavior

When running `terraform apply` it fails with the following message:

[code]

### Additional Context

[2020-09-10 12:17] MartinCanovas commented on #306
@nikhil-mongo Excellent! Thanks for clarifying that, and my apologies for reporting this as a bug when it isn't.

[2020-09-10 12:44] ckuetbach commented on #305
@nikhil-mongo thanks a lot. Some changes in made with the UI aren't reflected by terraform. Lets say, you change the alert in the UI from monthly to daily (with amounts), but terraform says, all is up to date.

[2020-09-10 16:16] nikhil-mongo commented on #305
@ckuetbach As per the `eventTypeName` in the `Condition` section of Atlas [API](https://docs.atlas.mongodb.com/reference/api/alert-configurations-create-config/#request-body-parameters), the billing `event_type` is different for all the 3 options. But as we have seen that the alerts are being managed using the `alert_configuration_id` and we have seen issues managing it. So, we believe that taking

[2020-09-10 16:41] nikhil-mongo commented on #311
@Jeinhaus Thanks for reporting this.  As I could see in the debug logs, when `threshold = "0"` is passed, this parameter is not passing through the API request. However when this is changed to `threshold = "1"` this is accepted and is passed to the API.
threshold = "0" [debug.log](https://github.com/mongodb/terraform-provider-mongodbatlas/files/5203367/debug.log)
threshold = "1" [debug.log](https:

[2020-09-10 16:54] nikhil-mongo commented on #310
@Jeinhaus Thanks for raising this but currently there is no way to mark the variables as sensitive. This issue is open in the terraform issue list itself. You can check it [here](https://github.com/hashicorp/terraform/issues/16114). Thus, we will have to wait unless terraform provides the `sensitive=true` parameter to the input variables.

[2020-09-14 09:40] nikhil-mongo opened #312 "X509 user creation and update throws error"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

Please list the full steps required to reproduce the issue, for example:
1. `terraform init`
2. `terraform apply`

The user is created but the Terraform throws 500 error.
[code]

### Expected Behavior

The user created without any error.

### Actual Behavior

Th

[2020-09-14 10:49] nikhil-mongo commented on #312
If this seems to be the entire duplicate of [292](https://github.com/mongodb/terraform-provider-mongodbatlas/issues/292), feel free to close it but this has other issues as well.

[2020-09-15 00:17] themantissa commented on #232
@rafafalves please make sure you change your API token!  Thank you for noticing that @languitar - I'll remove the image from the post.

[2020-09-15 19:43] themantissa commented on #292
Please note this work is in progress and slated for 0.6.5

[2020-09-15 19:44] themantissa commented on #312
Leaving this open @nikhil-mongo as you are correct 292 covers auth as was already in progress but the spacing issue should be reviewed as well @leofigy fyi, left on current tracking card.

[2020-09-16 00:42] #308 closed, assigned to nobody

[2020-09-16 00:42] #310 closed, assigned to nobody

[2020-09-16 04:49] enm10k commented on #234
@themantissa

Apparently I still have the same issue, although I'm using `v0.6.4`.

[code]

I want to check the issue and the PR but it's not reachable anymore.
Could you let me know where I can access the information?

[2020-09-16 16:43] themantissa commented on #234
@enm10k apologies, as part of the Terraform .13 provider changes we had to move back to a MongoDB repo in Github.  The new links are:
See https://github.com/mongodb/terraform-provider-mongodbatlas/issues/179 and https://github.com/mongodb/terraform-provider-mongodbatlas/pull/214

[2020-09-16 17:29] themantissa commented on #311
@nikhil-mongo thank you for the debug logs and @Jeinhaus for the report.  Seems like a bug when its zero.  Sadly we don't have a >= as a work around so we'll add this to our queue.

[2020-09-16 19:43] rafafalves commented on #232
Hi,

Sorry for late response. I'm not working anymore with this part of project, but I noticed that the new responsible team was able to create the alerts now.
Also I sent the image that contains the API key and asked then to check and check the key if necessary, tks @languitar and @themantissa.
With this, I'm closing the ticket.
Thanks for the support

[2020-09-16 19:43] #232 closed, assigned to nobody

[2020-09-16 21:10] themantissa commented on #305
@nikhil-mongo can you create an internal bug ticket for this?  PRODTRIAGE and I'll move to the appropriate queue.

[2020-09-17 03:30] enm10k commented on #234
Thanks for you quick response!

https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/database_user#import

After reviewing the information, I realized I misunderstood about `auth_database_name`.
I specified the actual database name with a hyphen and got an error like the following.

[code]

`terraform import mongodbatlas_database_user.a_database_user '<project_id>-use

[2020-09-17 08:31] sdebruyn opened #314 "Container ID on the cluster data source is always empty"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
Terraform 0.13.2
mongodbatlas 0.6.4

[code]

### Terraform Configuration File
[code]

### Steps to Reproduce
1. `terraform init`
2. `terraform plan`

### Expected Behavior
No errors

### Actual Behavior
Container ID is empty

[code]

[2020-09-17 14:56] nikhil-mongo commented on #314
@sdebruyn  The container-id is available only in two conditions:
- VPC peering is setup.
- A cluster exists in the project in that region.

If neither is the case, the `data` block wont be able to fetch the value and throw error as you are getting now.

Also, you used `container_id = data.mongodbatlas_cluster.admin.container_id` which is not defined in the data block for the cluster. Therefore, it

[2020-09-17 17:43] themantissa commented on #234
@enm10k glad to hear you are good to go!   Let us know if anything else comes up.   Thanks!

[2020-09-18 22:25] #292 closed, assigned to leofigy

[2020-09-24 23:36] themantissa commented on #314
Hi  @sdebruyn - just checking in to see if the information from @nikhil-mongo solved your issue?  Thanks!

[2020-09-24 23:36] themantissa commented on #312
Fixed in 0.6.5 and released!

[2020-09-24 23:36] #312 closed, assigned to leofigy

[2020-09-25 13:10] sonic1981 opened #318 "An invalid enumeration value M5 was specified."
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1. `terraform init`
2. `terraform apply`

### Expected Behavior
Should be possible to create a M5 tier cluster.

### Actual Behavior

### Additional Context
The documentation for this provider states:

[source](https://registry.terraform.io/providers/mongodb/mon

[2020-09-25 22:58] igaskin opened #320 "500 response on /groups/GROUP-ID/peers"
[code]

### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

[2020-09-26 05:20] nikhil-mongo commented on #320
@igaskin Please refer to the linked [repo](https://github.com/nikhil-mongo/aws-atlas-terraform) for setting up the VPC Peering from Atlas to AWS.
You may need to change some attributes' values. Let us know if this helps you.
Thanks

[2020-09-26 20:30] igaskin commented on #320
@nikhil-mongo thanks for sharing the sample repo.  The code in the repo matches the attributes that I've set on my end as well.  If you are unable to reproduce the issue, then feel free to close this issue.  I was never actually able to successfully run this end-to-end.  I had to manually create resources and import them into my terraform state

[2020-09-27 06:56] nikhil-mongo commented on #320
@igaskin When I compared your shared code with the sample-repo, I found the below difference. And, I was able to repro the error you mentioned which I why I shared the sample repo.

Your code:
[code]

Sample Repo:
[code]

This causes the 500 error. Please fix this and you should be able to do it via terraform.

[2020-09-27 07:13] nikhil-mongo commented on #318
@sonic1981
 Apart from M0, all other cluster tiers can be created using Terraform. Please use the below sample to create an M5 cluster and refer this in the [documentation](https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/cluster#backing_provider_name).

[code]

[2020-09-27 17:51] igaskin commented on #320
Ah, thanks for pointing that out!  Is there value of exposing `id` as a resource attribute for `mongodbatlas_network_container`?  The docs read:

This makes me believe that the `.id` attribute is only used internally by terraform, and would/should not be exposed as an input/output attribute that users interact with.  Typically the `.id` attribute is directly related to the resource and not the sta

[2020-09-28 08:39] nikhil-mongo commented on #320
@igaskin Yes, you are right.

And I could see that both these values `.id and container.id` are same in the `tfstate` file.

@themantissa Is there any possibility of doing this or any implications if we do this?

[2020-09-28 23:23] themantissa commented on #320
The are two different values - the id will return the actual Terraform id from state, which can be useful when situations arise where you need to interact with state: https://www.terraform.io/docs/commands/state/index.html for example list takes the state id.

The container id returns the value Atlas gives the container - https://docs.atlas.mongodb.com/reference/api/vpc-get-containers-list/ (it ma

[2020-09-28 23:24] themantissa commented on #318
Closing a the question was answered and the answer ack'ed, Thank you both!

[2020-09-28 23:25] themantissa commented on #314
Assuming issue solved, ping if not. Thanks.

[2020-09-28 23:25] #314 closed, assigned to nobody

[2020-09-28 23:25] #318 closed, assigned to nobody

[2020-09-29 17:01] igaskin commented on #320
Understood.  This is the first example I've seen of a provider exposing the state id directly in a resource's attributes, which is what caused my confusion.  Arguably a more idiomatic way of interacting with the state in HCL is via the [terraform_remote_state](https://www.terraform.io/docs/providers/terraform/d/remote_state.html) data object.

[code]

Given that this is an intentional design choic

[2020-09-29 18:07] themantissa commented on #320
@coderGo93 and @leofigy I'll lean on you both to provide context around why we exposed this directly.

After giving our development team time to respond I'll close this issue, thank you @igaskin

[2020-09-29 22:22] leofigy commented on #320
Hi @igaskin

You're right is a design decision, there is a composed id per resource that is used to get an easy path for import terraform resources. Now for this use case, I agree it's a bit confusing to have two ids attributes, one as the `mongodbatlas` id that you need to reference as an attribute in another resource and the internal one. It would be handy to have a unique that works in the attr

[2020-09-30 18:31] themantissa commented on #320
Thank you @leofigy !  @igaskin hope that helps and we plan to improve this in the future.  I'll close this for now.  Thanks again!

[2020-09-30 18:31] #320 closed, assigned to nobody

[2020-09-30 19:43] themantissa commented on #306
Good catch @nikhil-mongo - I'll close this since resolved.

[2020-09-30 19:43] #306 closed, assigned to nobody

[2020-09-30 19:46] themantissa commented on #305
Internal ID: INTMDB-112

[2020-09-30 19:49] themantissa commented on #311
Internal ID: INTMDB-118

[2020-09-30 20:42] themantissa commented on #280
@languitar just wanted to check in and see if we are good here?

[2020-09-30 21:49] languitar commented on #280
Sorry, we somehow forgot testing this so far.

[2020-10-01 19:19] in4mer opened #326 "Unable to add read-only node to existing cluster"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1. Set read_only_nodes to 0, and create the cluster
2. Set read_only_nodes to 1, and update the cluster
3. Observe the error

### Expected Behavior

The fourth read_only node should be created

### Actual Behavior

[code]

### Debug Output

### Crash Output

###

[2020-10-01 19:59] themantissa commented on #326
@in4mer confirmed the same result.  However as far as I can tell this isn't Terraform per se but the API is returning that error.  I'll put in an internal ticket in but may help to submit a support ticket as well.  I'll leave my sample cluster up so they can look at it if needed.

[2020-10-01 20:08] themantissa commented on #326
Internal ticket: HELP-18987

[2020-10-01 20:10] in4mer commented on #326
Indeed.  Thank you for that; I'll also file.

Here's the support link for anyone interested: https://support.mongodb.com/case/00693712

[2020-10-05 08:14] muscovitebob opened #329 "Unexpected behaviour from resource `mongodbatlas_teams` when adding username for user not yet part of/Pending to join Organisation"
# Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

Have an organisation in which there is a `user.that.exists.in.org@organization.com`, whom have logged in at least once.
Invite a new user, `user.that.does.not.exist.in.org@organization.com`, to the organisation. They are listed as Pending in the organisation users

[2020-10-05 08:54] muscovitebob commented on #329
Confirmed that `user.that.does.not.exist.in.org@organization.com` logging into the Organization and hence no longer being Pending resolves the error.

[2020-10-05 22:19] themantissa commented on #329
@muscovitebob Thank you for the report.  It is documented that one cannot add an Atlas user to a team until the user has accepted the invite (see https://docs.atlas.mongodb.com/access/manage-teams-in-orgs/).  I also believe we have an internal request to improve the error message produced by Atlas (which is referenced above).

However it sounds like the core problem here is that when you added a u

[2020-10-06 06:11] muscovitebob commented on #329
That is indeed the crux of the issue @themantissa, apologies that it is not as clear as it could have been.

[2020-10-06 14:38] nikhil-mongo commented on #326
@in4mer This is not an issue, but needs some changes in the way terraform configuration has to be written for NVMe clusters.

As per the MongoDB Atlas Cluster [API](https://docs.atlas.mongodb.com/reference/api/clusters-create-one/) for creating cluster, it states that to set diskIOPS `This setting requires that providerSettings.instanceSizeName to be M30 or greater and cannot be used with clusters

[2020-10-06 15:13] nikhil-mongo commented on #329
@muscovitebob Let me repro it and file an internal ticket to be worked on. And, I will update you here of any progress.

[2020-10-06 20:10] NikolaeVarius opened #330 "Crash when refreshing TF State for a single cluster"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1. `terraform refresh`

### Expected Behavior
It refreshes

### Actual Behavior
Crashes

### Debug Output

### Crash Output
https://gist.github.com/NikolaeVarius/dd04ff6f17663976be8444d9f7dfb722

### Additional Context

### References

[2020-10-06 23:02] in4mer commented on #326
@nikhil-mongo OK, thank you for that.

Here's another case that I've run into that's related.  Namely, upgrading from M40_NVME to M50_NVME:

[code]

That's after creating the cluster as M40_NVME with provider_disk_iops commented out.

Thoughts?

This is related to earlier issue https://github.com/mongodb/terraform-provider-mongodbatlas/issues/283

Please advise how to proceed.

[2020-10-07 06:15] nikhil-mongo commented on #330
@NikolaeVarius

I will revert back with findings shortly.

[2020-10-07 11:27] nikhil-mongo commented on #330
@NikolaeVarius

I could not reproduce this error. The terraform config used is as below:

[code]
[code]
Also, the `disk_size_gb` value cannot be used as 120 GB when it is shared tier cluster M2/M5 as they have fixed disk size of 2 GB and 5 GB respectively.
Therefore, please change it to a valid value and try again.

[2020-10-07 11:32] nikhil-mongo commented on #326
@in4mer This will require us to ignore the `provider_disk_iops` and `disk_size_gb` from the tfstate file which when compared during `terraform apply` and passed to the Atlas API causes this. These values are not required for an NVMe cluster as these are fixed values and can be ignored as per the API.

@leofigy @PacoDw Need your inputs here, or let me know if someone else from our team can help.

[2020-10-07 14:15] leofigy commented on #326
Hi @nikhil-mongo, adding @coderGo93 for inputs.

From the provider perspective, the thing related with the inconsistent values for provider_disk_iops, we end up with a "system value" like 135125, and the actual value sent from the user 3000/6000.

So one solution is to add an extra value to the schema , to stored the computed value from the system, and keep the one from the user as arg. But we nee

[2020-10-07 14:32] NikolaeVarius commented on #330
I made mistake while copy pasting values to simplify report

Just some extra info
[code]

[code]
returns
[code]
Setting to M5 and 5GB
[code]
[code]

[2020-10-08 10:14] Jeinhaus commented on #280
We got around to test this and it worked as expected. Thank you for the fix :+1:

[2020-10-08 10:59] nikhil-mongo commented on #330
@NikolaeVarius

This seems to be a platform issue and not related to the provider. If you could try some other provider as well because at my end I am not able to repro this with terraform 0.12.29.

You could also try running the same config on some other platform apart from Manjaro and confirm.

[2020-10-08 11:25] nikhil-mongo commented on #329
I was able to repro this on provider version 0.6.0 but is working as expected when running through API directly. I am checking this internally.

[2020-10-08 19:42] NikolaeVarius commented on #330
I'll close this. I took the leap and upgraded the mongodb atlas provider. 0.6.0 continued the crashing behavior, but the current release v0.6.5 worked and I was able to init/plan/apply. So whatever was in between those two releases fixed this  I guess.

Thanks

[2020-10-08 19:42] #330 closed, assigned to nobody

[2020-10-09 10:17] nikhil-mongo commented on #329
Internal ticket reference: HELP-19204

[2020-10-16 00:33] themantissa commented on #280
Thank you @Jeinhaus for the confirmation!   I'll close this then but if any related issues feel free to open a new issue.

[2020-10-16 00:33] #280 closed, assigned to nobody

[2020-10-20 05:11] RavindraSinghKhichi opened #335 "Typo in documentation"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

### Expected Behavior

### Actual Behavior

### Debug Output

### Crash Output

### Additional Context

### References

https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/data-sources/private_endpoint_interface_link

data source and resourc

[2020-10-20 05:18] nikhil-mongo commented on #335
@RavindraSinghKhichi

Can you please elaborate the typo error that you noticed here.

[2020-10-20 05:21] RavindraSinghKhichi commented on #335
https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/data-sources/private_endpoint_interface_link

resource names should be as following:

mongodbatlas_private_endpoint_interface_link instead of mongodbatlas_private_endpoint_link. The provider report 404 on following the documentation.

Hope this helps !!

[2020-10-20 05:39] nikhil-mongo commented on #335
Thanks for pointing it out @RavindraSinghKhichi. I will have it fixed soon.

[2020-10-20 10:35] RavindraSinghKhichi opened #336 "mongodbatals_network_container"
I have noticed that all of the Terraform resources or APIs are accepting region values as a-b-1
Ex: us-west-1

but here https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/data-sources/network_container, this resource expects value as us_west_1, this syntax right there a_b_1 is breaking the pattern and somehow making it difficult for us to keep two syntaxes.

Is this intended?

[2020-10-20 14:49] nikhil-mongo commented on #336
@RavindraSinghKhichi Yes this is intended because as per the Atlas API, the syntax a_b_1 as mentioned in this [documentation](https://docs.atlas.mongodb.com/reference/amazon-aws/#amazon-aws) is used for all Atlas related API parameters.

However, AWS refers them as a-b-1, so wherever we have to define anything specifics related to AWS and which is not under our API, such as VPC peering, we use the

[2020-10-20 14:56] themantissa commented on #336
@RavindraSinghKhichi looks like @nikhil-mongo answered your question so closing this issue. Thank you!

[2020-10-20 14:56] #336 closed, assigned to nobody

[2020-10-21 10:56] michelzanini opened #342 "Warning when installing the provider on Terraform 0.13"
Hi,

When installing the provider on Terraform 0.13.1 I am now getting a warning:

[code]

I already made changes to versions as this:

[code]

But I still get the warning. Anyone having this same problem?

Its not a big deal just a warning that's all...

Thanks.

[2020-10-21 11:03] michelzanini commented on #342
Ah, ok, I actually have to do `terraform apply` after the change, even with no changes. That will update the state file and fix the warning. Sorry, will close this now.

[2020-10-21 11:03] #342 closed, assigned to nobody

[2020-10-21 22:47] #335 closed, assigned to nobody

[2020-10-23 19:43] frankgu968 commented on #33
Hi @themantissa , I am experiencing a similar issue as well. I have added the appropriate roles to allow for cryptoKeyEncryptDecrypt and get the service account key. However, I still see the "Invalid Google Credentials" error. After setting the permission on the service account to Owner (full permissions), the error goes away; suggesting that this is a permissions-related issue.

It'd be helpful i

[2020-10-29 18:37] themantissa commented on #305
Fix was included in 0.7.0, closing issue.

[2020-10-29 18:37] #305 closed, assigned to leofigy

[2020-10-29 18:37] themantissa commented on #311
Fix done and will be included in 0.8.0, closing issue. (updated to be correct version)

[2020-10-29 18:37] #311 closed, assigned to leofigy

[2020-10-29 18:44] themantissa commented on #289
Fixed and included in 0.7.0, closing issue. Thanks!

[2020-10-29 18:44] #289 closed, assigned to nobody

[2020-11-04 18:45] themantissa commented on #329
Internal dev ticket: INTMDB-121

[2020-11-05 21:57] kbetts-wwt opened #346 "Please add support for Azure Private Link as a private endpoint"
Currently "mongodbatlas_private_endpoint" only supports AWS. We are currently terraforming project and cluster creation. But we have to manually create the private endpoint for Azure. Much more convenient to TF the whole stack. Thank you.

[2020-11-11 16:23] themantissa commented on #346
@kbetts-wwt this is actually already in our current work queue.  Support was just added for Azure and it also added a net new resource to support both Azure and AWS so we have to rework the provider.  I expect it to likely land in the next provider version.  Thank you!

Internal ticket: INTMDB-120

[2020-11-12 01:47] igoratencompass opened #347 "Mongodbatlas documentation issue with Data Sources"
Hi,

Seems the whole section about Data Sources here https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/data-sources/ is wrong and is just a copy of the Resources section for the same Provider.

[2020-11-12 04:02] #346 closed, assigned to nobody

[2020-11-12 04:02] kbetts-wwt commented on #346
Thank you!

[2020-11-12 16:42] anutting opened #348 "mongodbatlas_database_user resource's id attribute does not have the username value"
The mongodbatlas terraform provider says "id - The database user's name." as an attribute of the mongodbatlas_database_user resource. However, when referencing this attribute, it appears to be a unique id and not the user's name.

[code]

[2020-11-13 19:41] themantissa commented on #348
@anutting  that seems to be a documentation error.  ID should read  "Autogenerated Unique ID for this data source.", if you want the username use the value `username`

[2020-11-13 19:43] themantissa commented on #347
@igoratencompass can you be more specific?  Do note we include an example of using each resource and then an example of the data source after but looking at a few they are indeed datasources.

[2020-11-13 22:27] themantissa opened #350 "Cannot define a mongodbatlas_cloud_provider_snapshot_backup_policy and enable provider_backup_enabled for an existing cluster in the same apply"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

Set the backup_enabled variable to false
run plan and apply
no errors
cluster exists now
Set the backup_enabled variable to true
after starting to refresh state get:
[code]

### Expected Behavior

The cluster should apply the backup policy once applied have the

[2020-11-13 23:46] #348 closed, assigned to nobody

[2020-11-15 02:50] igoratencompass commented on #347
@themantissa when you click on the Data Sources drop down for the provider and then on any of the data sources in that list like https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/data-sources/cluster, you end up on a page describing the "resource" instead of the actual "data" source.

[2020-11-15 02:53] igoratencompass commented on #347
Ah wait, yeah it is fine now not sure what happened I could sware the "data" source was not there before!? Yeah maybe I'm getting too old and my eayes are playing tricks on me :-/ Sorry for the noise.

[2020-11-15 02:53] #347 closed, assigned to nobody

[2020-11-16 05:29] themantissa commented on #347
Glad to hear it worked out @igoratencompass .   No worries at all and let us know if anything does come up buggy!

[2020-11-25 05:32] b-b3rn4rd opened #354 "r/mongodbatlas_third_party_integration fails on read after create"
Hi Team,
I've been experiencing the following problem when trying to enable `third_party_integration` for WEBHOOK, as you can see from the logs it's been failing to perform GET immediately after the resource have been created. I can confirm that the integration was successfully created (via console), seems like an issue on API side...

[code]

[2020-11-26 09:49] AlphaWong opened #356 "Quick start for provider is not quick and comes with side effect about `replication_factor` field"
# Workspace
Terraform v0.11.14

# issue
## step
1. Create a mongo cluster resource following https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/cluster#example-aws-cluster
[code]
2. change the `replication_factor` from `3` to `5`
### expected
it should fire a request
[code]
### actual
[code]

# local state
[code]

# reason
https://github.com/mongodb/terraform-provid

[2020-11-26 18:06] leofigy commented on #354
Hi @b-b3rn4rd , right the api accepts the  create request, but the get does not show the webhook. I thought it could a sync issue. But it seems it actually never returns it. Let us file an internal ticket to track the issue. Thank you !

[2020-11-27 04:07] nikhil-mongo commented on #354
@leofigy This is reported internally in the JIRA as **HELP-20312**.

[2020-11-27 04:47] nikhil-mongo commented on #356
@AlphaWong Thanks for reporting this. The replication_factor has been deprecated as per the Atlas API [documentation](https://docs.atlas.mongodb.com/reference/api/clusters-modify-one/) and the documentation suggestions using the replication_specs for creating the cluster. I will update the documentation and the example.

[2020-12-01 04:03] nikhil-mongo commented on #354
Hi @b-b3rn4rd Could you please confirm which third-party webhook were you trying to use with Terraform?

[2020-12-01 16:46] TonyLovesDevOps opened #358 "Replace "mongodbatlas_project_ip_whitelist" resource/datasource/docs references with "mongodbatlast_project_ip_accesslist" to reflect API/UI change."
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

Both the MongoDB Atlas UI and [the API endpoint](https://docs.atlas.mongodb.com/reference/api/access-lists/?utm_campaign=Int_EM_Deprecating%20IP%20Whitelist%20Notification_12_20_WW&utm_medium=email&utm_source=eloqua&utm_term=%20Changes%20to%20MongoDB%20Atlas%20API%20endpoints%20for%20managing%20project%20IP%20whitelist%20) hav

[2020-12-01 20:57] themantissa commented on #358
@TonyLovesDevOps already done - and released in 0.7.0  https://github.com/mongodb/terraform-provider-mongodbatlas/pull/332 and
https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/project_ip_access_list

[2020-12-01 21:00] themantissa commented on #358
And as a personal note:

    We hold these truths to be self-evident, that all people are created equal...

:)

[2020-12-01 21:03] #358 closed, assigned to nobody

[2020-12-01 23:30] b-b3rn4rd commented on #354
H @nikhil-mongo not sure if I correctly understand the question, I'm trying to enable third-party integration to call my url (this is what WEBHOOK intergration type is )  via terraform. This is the code example:

[code]
Let me know if you require any additional information

[2020-12-02 23:55] themantissa commented on #358
Did realize the deprecation message was not added yet - thank you!  https://github.com/mongodb/terraform-provider-mongodbatlas/pull/359

[2020-12-03 14:49] sonic1981 opened #360 "Deleting a user from mongo atlas results in a 404 error, not that user getting re-created"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce
1. Create a user using the above terraform config.
2. Now manually delete that user using the shell
3. re-run terraform above

### Expected Behavior
Mongo database user should of been re-created

### Actual Behavior

### Additional Context
With other terraform pr

[2020-12-03 15:15] sonic1981 commented on #360
I tried deleting the cluster, etc but in the end I had to actually remove the user from the state using:

[code]

[2020-12-04 23:30] themantissa commented on #360
@sonic1981 thank you for the report. When you say re-run you are doing a refresh, plan, apply?   Any logs?  Want to ensure we repro what you are doing.  Also we'll repro with 0.7.0 as that's the latest. Thanks!

[2020-12-05 06:05] sonic1981 commented on #360
Hey @themantissa .

So a re-run is essentially an apply. (it's actually a plan - > output plan - > apply plan but this should be the same). I'll try and get logs for you when I'm back in the office on Monday

[2020-12-07 23:22] themantissa commented on #360
@sonic1981 I follow but I'd like to repro exactly so steps/logs are helpful! Thank you and let me know on the logs.

[2020-12-08 20:49] themantissa commented on #360
@sonic1981  FYI I removed the link to the gist as there is some info you may not want to expose there and I would suggest redacting/removing it.  Feel free to reach out to me directly melissa.plunkett@mongodb.com

[2020-12-08 23:18] themantissa commented on #360
@sonic1981 so I was able to repro and talk with our development team.  It seems early work in the provider is missing the functionality that will both catch the 404 and appropriately handle being able to simply apply the user again.  Some resources already have this.  I'll slot this improvement in our backlog, starting with the database users resource and we'll make our way through the existing ti

[2020-12-08 23:33] themantissa commented on #360
Internal ticket INTMDB-141

[2020-12-09 08:22] sonic1981 commented on #360
Great thanks for your help @themantissa

[2020-12-15 14:13] haidaraM opened #363 "Removal of user scopes is not detected by the provider"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1. `terraform init`
2. `terraform apply`
3. Remove the `scopes {}` block from the configuration
4. `terraform apply`

### Expected Behavior
Terraform should remove the `scopes` from the user.

### Actual Behavior
Terraform doesn't detect this change.

### Debug

[2020-12-15 15:52] dbamohsin opened #364 "mongodbatlas_cluster bi_connector state changes on terraform CLI 0.14.2 even without any bi_connector configuration - terraform 14"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File
[code]

### Steps to Reproduce
create cluster without any bi_connector configuration
run plan and apply
run plan again to see new bi_connector changes appear withou any configuration changes

### Expected Behavior
Given that we are not setting the bi_connector and it is an optional setting. We w

[2020-12-15 23:17] themantissa commented on #364
@dbamohsin did this work as expected with Terraform 13?  We have not tested 14.  Add: though looking at this I'd assume it would be the same in 13.  Please do note it is not enabling the bi connector and this is likely a timing issue with the state refresh so a bug, but not one that modifying your configuration.

[2020-12-15 23:23] themantissa commented on #360
@sonic1981 we have a fix completed and merged and will be in the next version. Feel free to test in the mean time if you'd like.

[2020-12-15 23:23] themantissa commented on #356
Since changes to address this have been made closing the issue.

[2020-12-15 23:23] #356 closed, assigned to nikhil-mongo

[2020-12-15 23:23] #360 closed, assigned to leofigy

[2020-12-15 23:25] themantissa commented on #329
@muscovitebob the fix for the core issue is completed and will be in the next version. Feel free to try in the mean time.  Thank you!

[2020-12-15 23:25] #329 closed, assigned to leofigy

[2020-12-15 23:27] themantissa commented on #363
Thank you for the report and details @haidaraM   @nikhil-mongo would you be able to repro to produce logs and open a PRODTRIAGE internally if confirmed?  Thank you!

[2020-12-15 23:28] themantissa commented on #364
@nikhil-mongo  would you have time to repro this for logs as well and also open a PRODTRIAGE internally?  Thank you.

[2020-12-16 07:05] nikhil-mongo commented on #363
I could verify this and logged PRODTRIAGE-1237

[2020-12-16 18:00] peter-dolkens commented on #350
Just ran into this in our stack

Additionally, the requirement to hardcode the policy_item IDs makes this provider borderline worthless, even if you do work around the missing policy ID.

Overall, this entire resource needs a review/revamp

Edit: Looks like #222 discusses some of these issues in more detail too

[2020-12-16 18:05] peter-dolkens commented on #222
This is where you made a mistake.

The Terraform design philosophy is NOT to start with a state.

If I don't create a backup policy, that's fine - leave me with the default.

If I *do* create a backup policy, I expect my policy to replace whatever is there - thus eliminating the requirement to preserve any existing state.

It has frustrated me many times in the past (cloudflare refusing to update

[2020-12-16 18:08] themantissa commented on #222
This decision was made with a team and we are now reviewing it and may make a breaking change with a major version based on feedback.   Thank you.

[2020-12-16 18:09] peter-dolkens commented on #222
Just to expand on the workarounds that @michelzanini attempted - I also tried generating a mongo-style ID, instead of using arbitrary strings.

[code]

[2020-12-17 01:28] themantissa commented on #364
@dbamohsin I ran with Terraform 13 and cannot seem to reproduce this error.  @nikhil-mongo any luck?

[2020-12-17 12:50] dbamohsin commented on #364
Hi @themantissa - the issue appeared with an upgrade to terraform 14.2 it seems. Are there any plans to get the provider supported with 14 anytime soon?

[2020-12-17 16:13] themantissa commented on #364
@dbamohsin it's still in beta so no ETA but will grab it myself and see if I can repro it.  I do believe 14 has some new checks so we may seem some artifacts like this as more move to it post GA.

[2020-12-17 17:22] dbamohsin commented on #364
Hi @themantissa - as far as I know, 0.14 is not beta. It was released as GA on 2nd December.

https://github.com/hashicorp/terraform/blob/v0.14.2/CHANGELOG.md

[2020-12-17 17:46] themantissa commented on #364
Well it's official I have too much on my multi-tasking plate - I totally missed the GA ... It's been a long year.  With that in mind we'll address issues as they arise until we can get time to do more testing.   I'll try to repro to get logs soon or if @nikhil-mongo  can do it sooner, that would be appreciated, but if you can include DEBUG level logs (ensuring you redact any info) that helps a gre

[2020-12-17 23:13] themantissa commented on #364
@nikhil-mongo  in case you get to this first I have a sense this may be due to the new feature in 14 - https://www.hashicorp.com/blog/terraform-0-14-adds-a-new-concise-diff-format-to-terraform-plans but need to test.

[2020-12-18 07:40] nikhil-mongo commented on #364
@themantissa I could repro this with 0.14 terraform. This terraform version is changing the state file of the undefined `bi-connector` configuration from ``false->null``.

[code]

But the 0.13 terraform version is not making such change to the terraform state file.

[code]

https://www.hashicorp.com/blog/terraform-0-14-adds-a-new-concise-diff-format-to-terraform-plans this has nothing to do as thi

[2020-12-18 07:59] marinsalinas commented on #364
@themantissa @nikhil-mongo, I think we are having this issue because we are using TypeMap with named attributes, Terraform used to tolerate this in order to keep backwards compatibility, for now, the recommendation is either to remove the named attributes in the map and check if the warning goes out or change to this attribute as TypeList with MaxValue=1 like we did with connection_strings but we

[2020-12-18 23:39] themantissa commented on #364
@nikhil-mongo thank you so much!  If you can file a PRODTRIAGE I'll follow up with moving it to the work queue.  @marinsalinas  this is really helpful - thank you!!  We may want to ensure we catch any of the v2 SDK warnings on this and fix those proactively before more upgrade to 14.

Finally thank you @dbamohsin for surfacing this so early in the 14 release and for helping me keep up with the Ter

[2020-12-24 04:52] nikhil-mongo commented on #364
PRODTRIAGE-1266

[2020-12-28 03:53] nikhil-mongo commented on #354
@b-b3rn4rd This was fixed. Please check and let us know.

[2021-01-05 16:19] sonic1981 commented on #360
any idea when this next version will be released @themantissa ?

[2021-01-06 01:27] themantissa commented on #360
@sonic1981 we are estimating mid Jan right now.

[2021-01-11 14:31] haidaraM commented on #363
Is this issue fixed by https://github.com/mongodb/terraform-provider-mongodbatlas/pull/368 ? If yes, when can we expect a new release of the provider ?

[2021-01-11 18:26] themantissa commented on #363
@haidaraM yes, the PR did not get linked but we'll close this after the release.  We expect the release in the next week or so, will be in v0.8.0.  Thanks!

[2021-01-12 08:01] haidaraM commented on #363
Perfect @themantissa. Thanks for your work :-)

[2021-01-12 17:18] mbrancato opened #377 "Unable to use mongodbatlas_network_peering data source"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

### Expected Behavior
read the existing peering connection

### Actual Behavior
[code]
(base64 encoded project info replaced with ...)

### Additional Context
I'm using this in a module. The project ID and peering ID are passed via variables to the module. I've

[2021-01-13 20:36] themantissa commented on #377
@mbrancato thank you for the issue - just to note that project_id is the id and not id (which is an internal id, we plan to improve this later but that, at first glance, may be the issue).   @nikhil-mongo could you take a look when you have time?  Thanks!

[2021-01-15 03:46] nikhil-mongo commented on #377
@mbrancato Please use the below example:

[code]
So basically, I made two changes here. In order to reference the peering_id, `connection_id` is used and I made change to the project in the second data section as you used default, which I believe is not the case as I see in the first data block, it is integration. Please revert if I am wrong.

And let us know if this does not works.

Thanks.

[2021-01-15 13:27] stack72 opened #381 "Bad Release Practice"
Hi folks,

On Wednesday 13th January at approx 0130 UK Time, there was a tag cut v0.8.0 - it looks like that tag was overwritten by v0.8.0-pre.1

It would be really nice if this was communicated somewhere about why a 0.8.0 release was turned into a pre.1 release. We depend on the project and are now worried about using the 0.8.0 release

Thanks

Paul

[2021-01-15 14:39] leofigy commented on #381
Hi @stack72 apologies for the inconvenience. the tag v0.8.0 was marked as a pre-release (in the github release page). but it ran into issues associated and caught during testing with https://github.com/mongodb/terraform-provider-mongodbatlas/pull/380, internally in the team we were talking about migration into better tagging. So I decided to remove the old tag to avoid confussions, and once we hav

[2021-01-15 15:08] stack72 commented on #381
Thanks @leofigy - understandable

[2021-01-15 15:08] #381 closed, assigned to nobody

[2021-01-15 16:06] awasilyev opened #382 "Managing encryption at rest using iam roles fails"
Hi.
It was mentioned in the https://support.mongodb.com/case/00734936 that it is possible to configure encryption at rest with iam roles using latest provider version. Getting errors trying to do that.

### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File

[code]

### Steps to Reproduce
terraform init; terraform apply

### Expected Behavior

encry

[2021-01-15 22:00] andreykaipov commented on #222
Was trying to incorporate this resource into a module today. From reading the docs, I was a bit confused/surprised at the way the resource works, so I'm glad I'm not the only one.

Thinking of workarounds, I was actually able to get the `dynamic` expression working with `policy_item`s, but you still end running against the first design issue described by @michelzanini in the OP.

Here I'm iteratin

[2021-01-15 22:33] andreykaipov commented on #222
I don't think any API work really has to be done. Looking at the existing provider code, it only does PATCHes for policy items, even though the API request when you save changes on that page is a POST.

For example, issuing this request creates a daily and weekly backup policy items. The order doesn't matter here. We can omit or add new policy items. Note IDs don't really matter either, apart from

[2021-01-18 06:02] nikhil-mongo commented on #382
@awasilyev Please use `role_id` in the aws_kms section of the code as below:
[code]
resource "mongodbatlas_cloud_provider_access" "this" {
  count      = var.enable_encryption_at_rest ? 1 : 0
  project_id = mongodbatlas_project.this.id
  provider_name        = "AWS"
  iam_assumed_role_arn = module.iam_role.arn
}

**role_id** - ID of an AWS IAM role authorized to manage an AWS customer master key.

[2021-01-18 19:36] andreykaipov commented on #304
Ran into this just now too. Seems like you also have to set it in `replication_specs`:

[code]

[2021-01-19 20:26] themantissa commented on #382
v0.8.0 is still in pre-release (you can see the latest versions on the main repo site and in the Terraform registry are both still 0.7.0) -  v0.8.0 is still marked pre-release in the repo as per our normal process (we have also changed the name to reflect this as well).  We plan to have 0.8.0 out shortly but are still working out a few issues to ensure it's ready.   It will be fully released with

[2021-01-19 20:26] #382 closed, assigned to nikhil-mongo

[2021-01-20 11:17] michaljrk commented on #192
Hello,
are there any updates on that issue?

I believe I've faced a similar one (while performing a different action though, but the symptoms seem to be similar).
When trying to import an existing Atlas Project (created manually from outside terraform), I'm getting 401 too:

[code]

While trying to simulate a similar api call from curl, it works fine (200 response code is preceded by 401, similarl

[2021-01-20 12:00] michaljrk opened #385 "Unable to import resources with "terraform import" - 401 (request "Unauthorized")"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File
[code]

[code]

[code]

### Steps to Reproduce
1. Create a Project manually (from a web console or any other way but Terraform) under your Atlas cluster.
2. Check the Project id.
3. `terraform init`
4.  `terraform import -var-file=input-vars.tfvars mongodbatlas_project.atlas-test-project-import

[2021-01-20 14:50] ahmad-shams opened #386 "failed to create policy items while using mongodbatlas_cloud_provider_snapshot_backup_policy"
referring to example in documentation page:
policy_item {
      id                 = mongodbatlas_cluster.my_cluster.snapshot_backup_policy.0.policies.0.policy_item.1.id
      frequency_interval = 1
      frequency_type     = "daily"
      retention_unit     = "days"
      retention_value    = 2
    }

the index that should be created for each policy_item is failing, it seems problem with collecti

[2021-01-20 15:48] ahmad-shams commented on #386
after more research, I found that I can't use ... policy_item.1 or policy_item.2. until its created because by default I foudn that only index 0 is created by default

[2021-01-20 19:23] themantissa commented on #377
@mbrancato we'll assume this is okay since we haven't heard back.  If not let us know.

[2021-01-20 19:23] #377 closed, assigned to nobody

[2021-01-20 21:49] themantissa commented on #363
v0.8.0 is now released.   I'll close this issue.  TY

[2021-01-20 21:49] #363 closed, assigned to nobody

[2021-01-20 21:59] themantissa commented on #385
@nikhil-mongo can you take a look? (fyi reporter also commented in https://github.com/mongodb/terraform-provider-mongodbatlas/issues/192) so please try to repro and if an issue file an internal ticket.  Thanks!

[2021-01-21 00:04] themantissa commented on #386
@ahmad-shams correct, the policy is automatically created in Atlas so we imported it w/ the cluster resource. However as noted by a few issues reported in this repo there are problems with this approach.  I noted in https://github.com/mongodb/terraform-provider-mongodbatlas/issues/222 - we have reviewed the way this works and plan to make changes to improve this resource in a future version.

[2021-01-21 00:04] #386 closed, assigned to nobody

[2021-01-21 00:07] themantissa commented on #192
@michaljrk  no but that's helpful information so will add a link to the other issue to this one.   It may help during attempted repro.  Thank you!

[2021-01-21 05:17] nikhil-mongo commented on #385
@michaljrk I could successfully import a project created using Atlas UI and imported through terraform.

Please confirm the below details for the further troubleshooting [here](mailto:nikhil.singh@mongodb.com):

- The Project ID used
- The API key username

Thanks.

[2021-01-21 05:28] nikhil-mongo commented on #192
@piotrgwiazda

The first 401 and then 200 response seen is due to the digest auth mechanism used by the Atlas API. However, please confirm if you are still facing this issue or has this resolved for you.

In case this is still the case, Please confirm the below details for the further troubleshooting [here](mailto:nikhil.singh@mongodb.com):

- The Project ID used
- The API key username

Thanks.

[2021-01-21 19:29] adduty opened #387 "Error in Docs"
In the docs for `mongodbatlas_privatelink_endpoint_service` (https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/privatelink_endpoint_service), the `mongodbatlas_privatelink_endpoint_service` resource in the example shows `project_id = "${mongodbatlas_privatelink_endpoint.test.project_id}"` when it should be `project_id = "${mongodbatlas_project.test.id}"`. Either th

[2021-01-21 21:40] themantissa commented on #387
@adduty thank you for the report.  A few have commented that there are some issues with the new privatelink docs and we'll get those checked and addressed.

[2021-01-22 11:20] nikhil-mongo commented on #385
@michaljrk
As you confirmed, this is now working and you are not sure what really changed over the course of time since yesterday. Also, I could not repro this at my end and thus we decided to close this issue.

[2021-01-22 11:20] #385 closed, assigned to nikhil-mongo

[2021-01-25 01:05] superduper opened #389 "Can't add a team to a project"
Hello!

Thank you for all the hard work on this terraform provider. I'm having an issue when trying to add a team to a project. Could you help me with it?

### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce
1. `terraform init`
2. `terraform apply`

### Expected Behavior
- A project and a team are created.
- Team

[2021-01-25 21:36] themantissa commented on #389
@superduper looks like you just need to change project to:

resource "mongodbatlas_project" "demo" {
    name   = "proj_name"
    org_id = "YYYYYYY"
    teams {
          team_id = **mongodbatlas_teams.demo.team_id**
          role_names = [ "GROUP_DATA_ACCESS_READ_WRITE"]
    }
    depends_on = [
        mongodbatlas_teams.demo
    ]
}

[2021-01-25 23:20] superduper commented on #389
@themantissa Wow, this one was subtle. It worked! Thank you!

[2021-01-25 23:20] #389 closed, assigned to nobody

[2021-01-26 09:35] pkleimann opened #390 "Missing connection_strings for Azure Private Link in resource mongodbatlas_cluster"
In the terraform resource `mongodbatlas_cluster` there are connection strings for AWS Private Links: `aws_private_link` and `aws_private_link_srv`.

However there are no corresponding properties for Azure Private Links.

[code]

### Expected Behavior
[code]

### Actual Behavior
[code]

[2021-01-26 11:49] ZsoltPath opened #391 "Parameter mismatch in mongodbatlas_privatelink_endpoint_service"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
Terraform v0.14.2
+ provider registry.terraform.io/hashicorp/aws v3.25.0
+ provider registry.terraform.io/mongodb/mongodbatlas v0.8.0

### Terraform Configuration File

[code]

### Steps to Reproduce
1. `terraform init`
2. `terraform apply`

### Expected Behavior
Endpoint service created

### Actual Behavior
Error: error adding MongoDB

[2021-01-26 16:14] themantissa commented on #391
@ZsoltPath we were alerted via internal systems to this bug and have already addressed https://github.com/mongodb/terraform-provider-mongodbatlas/pull/388.  We'll add this after we get one more issue corrected to a v0.8.1 release.  No ETA at this time but should be soon.  Thanks!

[2021-01-26 17:03] ZsoltPath commented on #391
Sounds great @themantissa!
Just a note that I'd have found the PR if the resource name was explicitly mentioned it.

[2021-01-26 17:03] #391 closed, assigned to nobody

[2021-01-27 00:34] themantissa commented on #390
@pkleimann quickly after releasing v0.8.0 we realized this miss and are working on getting it out asap, it will be in v0.8.1.  We expect it soon.

[2021-01-28 11:24] sonic1981 opened #396 "Seemingly unable to set provider source to mongodb/mongodbatlas for terraform v0.14?"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce
I recently upgraded terraform from 0.13 to 0.14. Upon doing this I got an error message:

[code]

My configuation file was at the time:

[code]

I updated the source as requested to:

[code]

### Expected Behavior

Provider should be using the `mongodb/mongodbatl

[2021-01-28 21:11] themantissa commented on #390
This is now supported and out in v0.8.1.  Thanks!

[2021-01-28 21:11] #390 closed, assigned to nobody

[2021-01-28 21:12] themantissa commented on #387
@adduty this should be fixed with the release we just made, v0.8.1.  Thank you!

[2021-01-28 21:12] #387 closed, assigned to nikhil-mongo

[2021-01-28 21:18] themantissa commented on #396
@sonic1981 we are using the new path and were an earlier mover when the registry change came out.  This move meant all verified providers had to move from Hashicorp's repository (terraform-providers/mongodbatlas) to the providers own repository (mongodb/terraform-provider-mongodbatlas - where this issue is).   It looks like you may have both perhaps cached locally?  @nikhil-mongo can you try to re

[2021-01-29 10:56] sonic1981 commented on #396
Hey @themantissa

If I delete the `.terraform` folder and the lock file and run init I can still see it using the `terraform-providers/mongodbatlas`. If it is cached, I'm not sure where from or how to remove that?

Here's the output from the `init` call on a clean directory:

[code]

[2021-01-29 11:02] nikhil-mongo commented on #396
@sonic1981 I am currently working on this and will update you on our findings.

[2021-01-29 11:02] sonic1981 commented on #396
I'm going to try tearing down everything and deleting the state to see what happens if I configure that provider from the off

[2021-01-29 11:09] sonic1981 commented on #396
so if I completely delete the `.tfstate` and run `init` my providers looks like:

[code]

so it seems it's the state file that isn't changing the provider from `terraform-providers/mongodbatlas` to `mongodb/mongodbatlas`. Not sure if this is a provider issue or a terraform (core) issue?

[2021-01-29 11:18] sonic1981 commented on #396
@nikhil-mongo looking at the docs for terraform, I think this is a terraform issue, not a provider issue. according to [this doc](https://www.terraform.io/docs/cli/state/move.html) I'd expect the resources for the old provider to be torn down and recreated with the new provider:

I'll raise an issue on the main terraform github

[2021-01-29 13:56] #396 closed, assigned to nikhil-mongo

[2021-01-29 13:56] sonic1981 commented on #396
Closing as it seems this is core terraform functionality and not the provider

[2021-02-01 00:47] AlienGUIse opened #399 "mongodbatlas-0.4.2: panic: runtime error: invalid memory address or nil pointer dereference"
Hi guys,

Facing the below error from last week and could not figure out what happens with mongodbatlas provider.
Version and log output have been attached in this post.

### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

### Expected Behavior

### Actual Behavior

### Debug Output
[code]

### Crash Output

###

[2021-02-01 03:58] nikhil-mongo commented on #399
Hi @AlienGUIse

Thank you sharing.

MongoDB Atlas provider version v0.8.1 was released last week and the version you are using is v0.4.2 which is old. Please update both Terraform version to v0.13 or more and MongoDB Atlas provider version to v0.8.1.

If you still encounter this error, please update us.

Thanks.

[2021-02-01 10:09] #399 closed, assigned to nikhil-mongo

[2021-02-02 01:42] themantissa opened #401 "Issues with AWS/Azure Privatelink in v0.8.0 and v0.8.1"
Currently all reports of these issues have been reported internally to MongoDB, including here to ensure those hitting the issue know what is happening.  If in v0.8.0 you received the following error, e.g.

Error: error reading MongoDB Private Service Endpoint Connection(601881cb0d97874a0eb4eb74): GET https://cloud.mongodb.com/api/atlas/v1.0/groups/5cf5a45a9ccf6400e60981b6/privateEndpoint/AZURE/en

[2021-02-02 02:55] AlienGUIse commented on #399
Hi @nikhil-mongo

Thanks for that.
I find the cause and fixed it yesterday.
The issue was caused by MongoDB. We have a M2 cluster which updated itself from version 4.2 to 4.4 and there is no way we can use 4.2 anymore. I update the mongodb provider version and also aws version. It is working now.

Thanks

[2021-02-02 21:57] #401 closed, assigned to nobody

[2021-02-09 16:47] AntjeRadkiewicz1337 opened #406 "mongodbatlas_private_endpoint and mongodbatlas_private_endpoint_interface_link not working as expected in version 0.7"
Hi 😊

So, we just found out the hard way that there was a change for the mongodbatlas_private_endpoint and the mongodbatlas_private_endpoint_interface_link.

### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce
1. `terraform init`
2. `terraform apply`

### Expected Behavior
The version 0.7.0 should not replace the

[2021-02-09 23:59] themantissa commented on #406
@AntjeRadkiewicz1337 thank you for the issue, we'll take a look - looks like a potential bug 0.7.0 and not related to the privatelink changes (nothing changed for 0.7.0)  @nikhil-mongo can you take a look here?

[2021-02-10 07:02] leofigy opened #407 "Test update - Update test certificate"
One of the sanity tests were failing because the CA has already expired

[code]

[2021-02-10 07:44] leofigy opened #408 "SDK framework update v2.0.0+"
Currently the provider is using SDK github.com/hashicorp/terraform-plugin-sdk v1.14.0
that includes the support for terraform 0.11 . However the mongodb provider requires as minimum of tf 12.
So it is candidate for upgrading.

https://www.terraform.io/docs/extend/guides/v2-upgrade-guide.html

[2021-02-10 15:09] JohnPolansky opened #409 "encryption_at_rest failing with UNEXPECTED ERROR (and discussion of Cloud Provider Access possible improvement)"
Hello!

Thank you for opening an issue.  Please note that we try to keep the Terraform MongoDB Atlas Provider issue tracker reserved for bug reports.  Please ensure you check open and closed issues first to ensure your issue hasn't already been reported (if it has been reported add a reaction, i.e. +1, to the issue).

[code]

[code]

### Steps to Reproduce
Please list the full steps required to re

[2021-02-11 10:07] nikhil-mongo commented on #406
@AntjeRadkiewicz1337
I tried to repro this but as you mentioned that it tried to update the privatelink resources and recreated them.

- Can we know if something was changed in the configuration?
- The example in the repository is since the time v0.12 of terraform was out and possibly the mongodb atlas provider version 0.6.
- The recreate is possible only when there is change in the resource name

[2021-02-11 11:41] andriihrachov opened #410 "Error Creating cluster GCP - 500 UNEXPECTED_ERROR"
terraform version: 0.12.29
provider version: 0.8.2

here is  the output log:

[code]

[2021-02-11 12:07] andriihrachov commented on #410
Ok, I figured it out.
When you set GCP region "europe-west1" in replicasets config it blows up with this error.

changed to ```
WESTERN_EUROPE```

and it helped

[2021-02-11 19:00] ghost opened #411 "500 (request "UNEXPECTED_ERROR")"
Hi,

I have error on creating cluster on AWS.

[code]

Can you help me?

[2021-02-11 19:26] themantissa commented on #411
I'm sorry @0xdutra but this is not enough information to help.  Have you reached out to Atlas support?

[2021-02-11 19:28] themantissa commented on #410
@andriihrachov yes, we use both the cloud provider region names and our own Atlas names since we abstract above the providers. This list may prove useful to you in the future: https://docs.atlas.mongodb.com/reference/microsoft-azure/

[2021-02-11 19:28] #410 closed, assigned to nobody

[2021-02-11 19:38] themantissa commented on #409
@JohnPolansky first of all let me apologize that you were not notified in the customer communication about this change.  We looked and with our criteria for notification you were not alerted via the email messages we sent over the last six months to impacted users.  However as you note we changed from IAM credentials to the more secure IAM roles.  As part of this one must use the new provider 0.8.

[2021-02-11 19:47] themantissa commented on #407
Created INTMDB-181

[2021-02-11 19:57] themantissa commented on #408
Created INTMDB-183

[2021-02-11 19:58] themantissa commented on #406
Just to update here - @nikhil-mongo is working to create an internal ticket so our developers can investigate the issue further.   Will update on progress here.

[2021-02-11 19:59] themantissa commented on #354
Closing as issue was fixed, if still an issue let us know.

[2021-02-11 19:59] #354 closed, assigned to themantissa, leofigy

[2021-02-11 20:29] JohnPolansky commented on #409
@themantissa First off thanks for the response and the detailed explanation on the notice. I always appreciate people being open about things so thanks for that. Regarding the Upgrade Guide I can now see on review, that that like you said it does require 2 applies to function, which is unfortunate, I'm really hoping you guys will be able to enhance this in the future but at least I know I'm not cr

[2021-02-12 01:51] themantissa commented on #409
@JohnPolansky thank you for the kind words and suggestions.   In response:
1) let's keep this issue open and if we find a better way we'll link the PR here. That will allow you and anyone driving by to see the work clearly.
2) Really solid point, thank you!  We can update the docs in releases so I'll include this kind of call to guides in the future versions.  Very much appreciate knowing your exp

[2021-02-12 05:08] nikhil-mongo commented on #406
PRODTRIAGE-1435 filed internally.

[2021-02-12 09:31] johnae commented on #411
Getting the same error trying to create a cluster on GCP. Unfortunately it is all the information terraform gives me.

[2021-02-12 09:38] johnae commented on #411
Here's terraform's debug output:

[code]

[2021-02-13 17:57] ghost commented on #411
I solved problem removing the variable major_version in my code.

[2021-02-13 17:59] #411 closed, assigned to nobody

[2021-02-15 08:43] johnae commented on #411
Seems more like a workaround to me. So we can't specify version then I guess?

[2021-02-16 14:15] AntjeRadkiewicz1337 commented on #406
Sorry for the late answer.

It seems we didn't pin our version directely to "= 0.7" but to ">= 0.7" therefore our pipeline used the 0.8 version and recreated all the resources. After that we pinned the version to 0.7 but it always recreated our resources.

My suggestion would be that something in the terraform state was not matching anymore. We solved the problem for us by pinning the version now

[2021-02-16 23:05] themantissa commented on #411
There should be no reason you cannot specify the major_version but by not enough information we need more to know what you are doing specifically in the tf config and then the output.  We have templates in our bug reporting to explain that.   A snip of log or an error is insufficient data.

[2021-02-17 12:07] ghost commented on #411
I'm using version 0.7.0 of the provider, version 0.8.2 is not working.

[2021-02-17 15:07] themantissa commented on #411
@0xdutra can you please submit enough data for our team to troubleshoot this?   Click NEW ISSUE, then Select BUG REPORT and then follow the directions.

[2021-03-04 15:32] redant777 commented on #409
Hi @JohnPolansky,

Did you manage to find a workaround?

thanks

[2021-03-04 15:44] JohnPolansky commented on #409
Well the workaround for now is u must either split your mongo atlas terraform into two separate files and run them one after another or you must simply re-run the terraform script when it fails on the UNEXPECTED_ERROR .. for now I'm just re-running it. I'm hoping a solution will be provided in the future as the workaround is rather troublesome.

John

[2021-03-04 16:13] Nica-Alex commented on #409
[This](https://github.com/mongodb/terraform-provider-mongodbatlas/blob/master/examples/atlas-encryptionAtRest-roles-one-step-workaround/aws-roles.tf#L56) seems to work

[2021-03-04 16:49] themantissa commented on #409
@Nica-Alex  correct, we added a workaround example.  We are also working on a 2nd set of resources that will allow for a similar experience in a future version.

[2021-03-11 14:45] Freyert opened #419 "Tenant Provider Acceptance tests are failing"
Just wanted to point out that your acceptance tests have been failing for some time now.

Looks like all tests using the `TENANT` provider fail because they want MongoDB version 4.2, but get 4.4.4.

[code]

[testAccMongoDBAtlasClusterConfigTenant](https://github.com/mongodb/terraform-provider-mongodbatlas/blob/fea51f6c70d96f65912af43cfc5686dafbecaf88/mongodbatlas/resource_mongodbatlas_cluster_test

[2021-03-22 09:02] srashish opened #422 "Terraform: Unable to fetch connection strings when using 'data' resource for existing cluster"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File
* I have followed the aws-privatelink example here [aws-privatelink](https://github.com/mongodb/terraform-provider-mongodbatlas/tree/master/examples/aws-atlas-privatelink) the only difference is that I'm setting it on an existing cluster, so sharing the code for that

#### altas_cluster.tf

[cod

[2021-03-22 18:48] themantissa commented on #422
Thank you for the report @srashish.   Looks like perhaps the state of the existing cluster is not getting refreshed with the new stings.   I'm assuming a refresh was run?

@nikhil-mongo  would you be able to repro since we have no logs included here?  That speeds up our ability to narrow in quickly.

[2021-03-22 18:55] themantissa commented on #419
@Freyert thank you for the note. We look into and triage test failures in a prioritized order.  Recently the default for TENANT, aka shared, tier clusters moved to 4.4 but we have not yet updated the tests to reflect that but will (this is tracked in our internal ticketing system so most of these situations have no issue filed).

In regard to why multiple versions, that's mostly due to the fact th

[2021-03-25 07:30] eprokofev opened #424 "Outdated usage example about "mongodbatlas_encryption_at_rest""
Example usage from https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/encryption_at_rest

[code]

Actually this is not valid, because accessing AWS KMS with keys are deprecated.

### Expected Behavior
Successful apply

### Actual Behavior
`Error: error creating Encryption At Rest: PATCH https://cloud.mongodb.com/api/atlas/v1.0/groups/xxxxxxxxxxxx/encryptionAtRest: 4

[2021-03-26 07:09] nikhil-mongo commented on #422
@srashish Please share the cluster URL for which you are trying to do this. You can share the URL at nikhil.singh@mongodb.com for privacy.

[2021-03-26 07:10] nikhil-mongo commented on #424
@bigvandi Thanks for pointing it out. We will update the documentation for this.

[2021-03-26 22:47] themantissa commented on #424
@nikhil-mongo did you create a ticket for this?

[2021-03-29 09:39] nikhil-mongo commented on #422
@srashish Also another question -
- Did you perform terraform import to bring the existing cluster details to the terraform.tfstate file? If not, then this is the expected behaviour.
Please confirm.

[2021-03-30 11:07] srashish commented on #422
@nikhil-mongo I used 'data' keyword to fetch details of the existing cluster.

[2021-03-31 04:23] nikhil-mongo commented on #422
Hi @srashish The data block only has 2 arguments by default, which are `project_id` and `name`.  And this is why when the plan runs, it says this is empty string.
In order to get the connection string, use *terraform import* command to import the cluster into terraform and then refer to the connection string from the resource block directly.

[2021-03-31 11:10] srashish commented on #422
@nikhil-mongo I think the issue is misunderstood here. I'm creating privatelink resource on an existing cluster. The privatelink is successfully created but there's a delay in its status, due to that delay I get an empty map error on the output.

Using data keyword I'm reading everything of the cluster but terraform reads it way before clearing the privatelink link, so for now I'm using a workarou

[2021-04-01 11:30] zf-tomdesmet commented on #422
We are facing a possible related issue when creating new clusters with a private VPC endpoint where the private endpoint details are not available after the cluster and endpoint reported completed by Terraform.

`mongodbatlas_cluster.this.connection_strings[0].private_endpoint` is empty list of object`

 A re-run of the same `terraform apply`  right after such failure gives back the correct output

[2021-04-01 14:57] srashish commented on #422
@nikhil-mongo This is same what I'm facing. I'm able to resolve it with the workaround I mentioned above. I hope it helps to resolve the issue soon.

[2021-04-01 15:14] themantissa commented on #422
@shum any thoughts here on the delay?

[2021-04-01 16:37] mirstan commented on #422
My guess by looking at what appears in MongoDB web UI is that your provider is returning as soon as `Atlas Endpoint Service Status` is `Ready for connection requests` doesn't wait for `Endpoint Status` to become `Available`.

If you don't want to do this by default, you could add `wait_for` ala kubernetes provider: https://www.hashicorp.com/blog/wait-conditions-in-the-kubernetes-provider-for-hashi

[2021-04-01 17:59] themantissa commented on #422
Just looked and we are waiting for available.  I think what might be happening is the cluster resource is not being updated with the new connection string in the same apply - which is why the 2nd apply works.    I'll check with our developers to verify my assumption here.

[2021-04-02 15:51] themantissa commented on #422
Internal ticket INTMDB-198

[2021-04-02 18:04] monkeymantra opened #429 "Data resource for mongodbatlas_project reports null project_id due to changed interface but does not throw error."
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

### Expected Behavior
Now that project_id is no longer the exported attribute (it's `id` now) it should throw an error instead of returning null.

### Actual Behavior

Returns null

### Debug Output

### Crash Output

### Additional Context

### References

[2021-04-02 21:10] themantissa commented on #429
Thank you @monkeymantra for the report.  @nikhil-mongo would you be able to do a quick repro and throw the log in a PRODTRIAGE ticket?  Thank you!

[2021-04-03 18:17] tobernguyen opened #430 "Apple Silicon (darwin/arm64) support"
### Description
Please could you add support for Apple Silicon (aka release darwin/arm64 binaries) - this would require adopting Go 1.16

### References
Goes along with hashicorp/terraform#27257

[2021-04-06 22:08] #419 closed, assigned to nobody

[2021-04-07 22:47] themantissa commented on #430
@tobernguyen thank you for the submission!  A solid feature request and one we can investigate.  I encourage you to post this in the Terraform category via https://feedback.mongodb.com/ as that allows other users to upvote the request.

[2021-04-09 04:05] davl3232 commented on #430
Hey, I just created one here if you're interested:
https://feedback.mongodb.com/forums/924145-atlas/suggestions/43110909-support-arm64-in-terraform-provider-mongodbatlas

[2021-04-09 21:54] themantissa commented on #430
Thank you @davl3232 !  @tobernguyen please upvote that if you'd like to express this request in the best forum.   I'll close this issue for now as we track requests there.

[2021-04-09 21:54] #430 closed, assigned to nobody

[2021-04-12 20:28] themantissa commented on #409
https://github.com/mongodb/terraform-provider-mongodbatlas/pull/420  Will provide a 2nd option with the cloud provide access split into two resources to better support all possible use cases.  Will go into our next version, ETA April/early-May - subject to usual warnings in case additional testing surfaces issues.

[2021-04-14 08:38] nikhil-mongo commented on #429
@monkeymantra We have identified the difference and are going to work on it. PRODTRIAGE-1627 has been submitted internally for the doc update and recommendation when running **terraform apply**.

[2021-04-16 06:13] JohnPolansky opened #433 "TF support for creating api keys"
I've been reviewing the [TF MongoDBAtlas 0.8.2](https://registry.terraform.io/providers/mongodb/mongodbatlas/latest) page, and unless I'm missing it I don't see any resources for creating "API Keys" within Atlas. Is it supported?

I found the Atlas API clearly supports it: [Atlas API - Create Project APIKey](https://docs.atlas.mongodb.com/reference/api/projectApiKeys/create-one-apiKey-in-one-proje

[2021-04-16 21:19] andreykaipov commented on #189
@themantissa Maybe I'm misunderstanding this, but is the expected behavior to have the provider force a new cluster, or for the Atlas API to respond with a 400 such that that the provider errors out?

I tried to change our cluster names yesterday, and Terraform accepted the plan, so I'm guessing the Atlas API incorrectly accepts the request. However, the API doesn't really need to change to improv

[2021-04-19 19:57] themantissa commented on #433
@JohnPolansky we have support for API key creation via the more secure method of using Vault:  https://www.vaultproject.io/docs/secrets/mongodbatlas   We wrote the Vault plugin and worked with HashiCorp to have included in order to ensure the most secure way to create and manage the keys.   If you'd still like the ability to create keys via Terraform itself (which will save that information in sta

[2021-04-19 19:57] #433 closed, assigned to nobody

[2021-04-19 23:50] themantissa commented on #189
@andreykaipov based on your PR I tested and the API actually correctly returned an error when a cluster name was submitted via PATCH so we can actually change the provider to capture that error correctly (not sure why before I said it shouldn't try, it can and then return the error.)  I'm putting a ticket in to improve this but will take a bit of time as we have quite a bit on our near term roadma

[2021-04-20 00:14] andreykaipov commented on #189
That's fine, thanks I appreciate it. We don't really plan on changing our cluster names any time soon anyways 😛

I don't want to split the discussion between the issue and the PR, but regardless of whatever logic does the error propagation, I still believe Terraform should definitely show the correct plan. The provider shouldn't consider a name change as an in-place update, only to error out when

[2021-04-20 00:16] themantissa commented on #189
Agree, and we'll get it fixed.  I'll leave this issue open and close the PR for now.  Thank you  😄

[2021-04-20 00:18] themantissa commented on #189
Internal ticket INTMDB-201

[2021-04-21 19:18] bnelson729 opened #439 ""CLUSTER_DISK_IOPS_INVALID" related error/unexpected update-in-place"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File
[code]

### Steps to Reproduce
On 4/21/2021 at 12:00pm EDT, I ran `terraform apply` without any issue.
On 4/21/2021 at 3:05pm EDT, I ran `terraform apply` without any changes.

### Expected Behavior
Re-running `terraform apply` without any changes shouldn't cause terraform to apply anything.

##

[2021-04-21 22:58] robbiet480 commented on #439
Also happening to me as of today. Wasn't happening last week.

[2021-04-22 00:17] themantissa commented on #439
@bnelson729 thank you for the issue.  So the good thing is the new default IOPS is now 3000k.  The error is also expressing that.  However you did not set the default iops but you did set   `provider_volume_type         = "STANDARD"` which is only needed when changing dealing with IOPS.  If you remove that I believe the new IOPS will be updated in your state without error since you do not have it

[2021-04-22 00:46] robbiet480 commented on #439
[code]

Will bump `provider_disk_iops` to 3000 and report back. Thanks!

[2021-04-22 00:54] robbiet480 commented on #439
It took 4 minutes, 51 seconds to "modify" but did eventually complete. Still seeing 330 IOPS in the Atlas Console though.

[2021-04-22 01:02] robbiet480 commented on #439
Oopsies, nevermind, was looking at the wrong cluster! Seeing 3000 IOPS now. Just to confirm, there's no pricing change right?

[2021-04-22 04:58] nikhil-mongo commented on #439
@robbiet480 There is no change in price with this change in default IOPS.

[2021-04-22 05:06] nikhil-mongo commented on #439
Also, @robbiet480 are we good to close this?

[2021-04-22 05:07] robbiet480 commented on #439
For me yes, but I didn't open the issue so you may want to wait to see what @bnelson729 says?

[2021-04-22 13:33] pitthecat commented on #439
Same happening for us today. Changing the IOPS to 3000 "fixes" the problem and changes the MongoDB cluster's IOPS from 100 to the new minimum 3000.

Did Altas change from gp2 to gp3 for AWS?

[2021-04-22 14:43] themantissa commented on #439
@nikhil-mongo  let's keep this open till we ensure we have got the word out and ensure the original issue is corrected.

[2021-04-22 17:10] pitthecat commented on #439
I changed our M10 and M20 clusters from 100 to 3000 without a problem. But its **not working** for our **M30** cluster. If I want to change from 150 IOPS to 3000 and Terraform seems to be doing it and finishes the apply. But it's still 150 in the GUI and if I ran Terraform again the wants to do 150 -> 3000 again.

[code]

On the next apply he tries to do it again with the same result. Still 150

[

[2021-04-22 21:14] #424 closed, assigned to nikhil-mongo

[2021-04-22 23:16] themantissa commented on #439
Thanks to everyone for the input and alerting.

So as you noticed the default IOPS changed for new clusters (and some existing clusters).   This was released by Atlas yesterday and obviously this impacted Terraform.    It is truly a good thing overall in that the default IOPS is now higher with no increase in cost.  The tough thing was the impact this has to IaC use cases and for that we apologize

[2021-04-23 21:47] themantissa commented on #409
Version 0.9.0 with a single apply method for Cloud Provider Access has been released.  Thank you to all who provided feedback.

[2021-04-23 21:47] #409 closed, assigned to nobody

[2021-04-23 21:47] themantissa commented on #407
Completed.

[2021-04-23 21:47] #407 closed, assigned to nobody

[2021-04-23 21:49] themantissa commented on #406
Corrected with release of 0.8.2 so closing.

[2021-04-23 21:49] #406 closed, assigned to nikhil-mongo

[2021-04-23 21:50] themantissa commented on #364
Fixed in v0.9.0

[2021-04-23 21:50] #364 closed, assigned to nobody

[2021-04-23 21:53] themantissa commented on #192
Is this still an issue?  If not going to close it?

[2021-04-23 23:11] themantissa commented on #439
I believe we have corrected all the issues and new docs are out.  Thank you all for the help!!

[2021-04-23 23:11] #439 closed, assigned to nobody

[2021-04-28 14:33] pedro-te opened #447 "Unable to manage LDAP groups due to forced incorrect auth_database_name"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File
[code]

### Steps to Reproduce
* Created the LDAP groups through the Atlas UI
* Imported them using `terraform import mongodbatlas_database_user <project_id>- cn=example_group,ou=groups,dc=something,dc=example,dc=com-admin` (Notice that Atlas uses the `admin` database for LDAP groups according t

[2021-04-28 16:01] themantissa commented on #326
@leofigy since we now have removed provider disk iops from examples and explained one does not need to include it to get the standard iops we shoud see this less. For when someone does submit it we may still want to do the two values you note above so the user doesn't get an error.   Does that make sense to you?  If so I'll get a ticket created.

[2021-04-28 16:45] leofigy commented on #326
Hi @themantissa , agree, yea we still might need this. to avoid the error

[2021-04-28 16:57] MisterNando opened #448 "Error verifying GPG signature for provider "mongodbatlas""
### Terraform Version
[code]

### Terraform Configuration File
[code]

### Steps to Reproduce
1. `terraform init`

### Expected Behavior
Terraform module is initialized

### Actual Behavior
[code]

[2021-04-28 17:58] MisterNando commented on #448
Ah, it seems that provider version 0.9.0 is incompatible with Terraform 0.12.26.  If that's the only factor at play here, please feel free to close.

[2021-04-28 21:11] themantissa commented on #448
Thank you for letting us know @MisterNando .  @leofigy should we reproduce and note this on the README?

[2021-04-28 21:42] leofigy commented on #448
Hi @themantissa, @MisterNando  AFAIK there was an incident with Hashicorp signatures, https://discuss.hashicorp.com/t/hcsec-2021-12-codecov-security-event-and-hashicorp-gpg-key-exposure/23512

[2021-04-28 21:43] leofigy commented on #448
For terraform, https://discuss.hashicorp.com/t/terraform-updates-for-hcsec-2021-12/23570, could you try 0.12.31?

[2021-04-28 22:07] themantissa commented on #448
Ah!  Great info @leofigy  thank you!

[2021-04-29 13:20] pedro-te opened #449 "mongodbatlas_alert_configuration tries to change `notification.interval_min` on every plan"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File
[code]

### Steps to Reproduce
1. `terraform init`
2. `terraform plan`
3. `terraform apply`
4. `terraform plan` again

### Expected Behavior
No changes seen in the second plan.

### Actual Behavior
[code]

For some reason the value 5 is not stored and instead `2147483647` is in the state. So, t

[2021-04-29 17:07] themantissa commented on #447
@pedro-te thank you for the report.  I'll have the team look into the issue and we'll report back any next steps.

[2021-04-29 17:08] themantissa commented on #449
@pedro-te thank you for the report.  I'll have the team look into the issue and we'll report back any next steps.

[2021-04-29 17:28] leofigy commented on #449
Thanks @pedro-te , right, in that resource, in the creation it only reads the config and send it to the API, and after getting the API response is used to populate the state, so of course there is a missmatch, we need to see if the api is not honoring the attribute value, or if there is a bug in the pointer->value setting :)

[2021-04-29 20:46] srashish commented on #422
@themantissa Any updates here? Or how long the fix will take?

[2021-04-29 21:16] themantissa commented on #422
@srashish we are investigating a way to address this timing issue and hope to have an improvement for the next provider version.   Unknown on ETA at this time.

[2021-04-29 22:53] #448 closed, assigned to nobody

[2021-04-29 23:34] themantissa commented on #449
Internal ticket INTMDB-204

[2021-04-30 00:06] themantissa commented on #447
Internal ticket INTMDB-205

[2021-04-30 13:47] apos-cadabra opened #450 "GCP can't set region for cluster"
for GCP how to specify the correct provider_region_name ?
Note I specified the
provider_region_name        = "us-central1"
but in the error message it's us_central1 with "_" insted of "-"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
Terraform v0.15.1
on linux_amd64
+ provider registry.terraform.io/hashicorp/google v3.58.0
+ provider registry.terraform.io/hashicorp/google-beta v3.

[2021-04-30 21:19] apos-cadabra commented on #450
https://docs.atlas.mongodb.com/reference/google-gcp/ well, had to set CENTRAL_US this should be mentioned on terraform website for providers that you have special uniform names for regions.

[2021-04-30 21:19] #450 closed, assigned to nobody

[2021-05-01 15:30] JohnPolansky commented on #409
So for those who may find this post I did get the new solution working after some rough starts. The documentation page does have most of the info, but in my cases I kept getting the dreaded error:

[code]

In the end I found out that the problem seems to be a dependency parsing, I had to add a `depends_on` to the `mongodbatlas_encryption_at_rest` before the process worked with a single apply and n

[2021-05-02 20:20] JohnPolansky opened #451 "Migration to mongodbatlas_cloud_provider_access_setup / authorization"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

#### Before Config (requires 2 applies)
[code]

#### After Config (single apply)
[code]

So I replace the old config with the new config on an existing MongoAtlas Project that had active clusters/data/encryption_at_rest already configured. Now I'm honestly not sure what I expected to happen I

[2021-05-03 03:20] leofigy commented on #451
Hello @JohnPolansky , thanks for reaching. of course we will need a migration guide.

Regarding the procedure, I think there are two missing steps

- First do not remove the original resource 'til the import is complete
- Second the import should go in mongodbatlas_cloud_provider_access_setup.

I mean, in your updated config

`terraform import mongodbatlas_cloud_provider_access_setup.unique <proje

[2021-05-03 04:36] JohnPolansky commented on #451
Awesome @leofigy! Thanks so much both for the quick reply and the awesome answer, I'm very happy to report your detailed migration steps worked perfectly in 2 out of 2 of my use-cases.

Thank you very much for saving me a bunch of time having to delete and rebuild the mongo clusters.

I've gone ahead and closed this ticket as resolved, I would appreciate if you can make sure to get these migration

[2021-05-03 04:36] #451 closed, assigned to nobody

[2021-05-04 03:32] themantissa commented on #409
@JohnPolansky thank you for the suggestion!  @leofigy thoughts on this?  I don't remember needing it in testing but seems a very logical add to avoid the aforementioned issue.

[2021-05-04 15:55] themantissa commented on #451
Internal ticket INTMDB-206 for doc add

[2021-05-04 17:50] leofigy commented on #409
Hi @themantissa , @JohnPolansky it makes sense to me to add the `depends_on` sometimes terraform is not able to infer the whole dependency tree.

I think terraform without using the depends on, just see the relationship between `mongodbatlas_encryption_at_rest` and `mongodbatlas_cloud_provider_access_setup` and does not wait for the authorization that is needed by `mongodbatlas_encryption_at_rest`

[2021-05-05 14:20] andrew-raczka opened #452 "New single apply cloud provider access requires encryption_at_rest_provider set in mongodbatlas_cluster"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File
[code]

### Steps to Reproduce
1. 'terraform plan'
2. 'terraform apply'

### Expected Behavior
The cluster should be encrypted.

### Actual Behavior
The cluster is not encrypted.

### Additional Context
When using the two-apply method to deploy cloud provider access and encryption the officially

[2021-05-05 14:46] leofigy commented on #452
Hello @andrew-raczka thanks for reaching. So reading in the documentation the parameter is optional but required to use encryption at rest.

https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/cluster#encryption_at_rest_provider

Letting @themantissa and @nikhil-mongo to comment from a product perspective :)

[2021-05-05 18:21] themantissa commented on #452
The parameter is required if the cluster is to be encrypted at rest w/ the customer key.  It is marked as optional since it's not required to create a cluster.  It is required irregardless of how cloud provider access is applied - which is a resource about  IAM roles, not specifically encryption at rest - what causes it to be required is the mongodbatlas_encryption_at_rest resource.  Hope that hel

[2021-05-05 18:21] #452 closed, assigned to nobody

[2021-05-05 18:34] andrew-raczka commented on #452
@themantissa I have not seen this to be the case. I've previously run the two-step apply for cloud provider access followed by creating the mongodbatlas_encryption_at_rest resource without encryption_at_rest_provider  = "AWS" in the mongodbatlas_cluster resource and encryption was turned on successfully.

[2021-05-05 18:38] themantissa commented on #452
@andrew-raczka as far as I'm aware nothing has changed and this has always been the case. If you've seen otherwise I'm not sure why you did.

[2021-05-11 19:43] jpalmerpivotal commented on #314
Hi, following up on this issue as I have a similar issue to the original poster, but also not sure I fully understand the response.

Context:
I have deployed a cluster through Atlas Web UI, not terraform.
I have configured a VPC peering with terraform, I was able to get the `container_id` from curling the API.

When I try to retrieve the configuration of the pre-existing cluster, I do
[code]

In t

[2021-05-12 00:11] themantissa commented on #314
@jpalmerpivotal this some context and steps missing that make this hard to potentially answer correct.  Container_id is a computed value by the terraform provider, not a returned value from the API (https://github.com/mongodb/terraform-provider-mongodbatlas/blob/221ee96e32e3f1c480adde0284386d026919082e/mongodbatlas/resource_mongodbatlas_cluster.go#L384).   We compute it for when someone has create

[2021-05-12 17:32] jpalmerpivotal commented on #314
Thanks @themantissa I am not importing the Mongo Cluster (yet) as we do not yet want it controlled by terraform, so I only was using the data source. For now my work around of hitting the Mongo api `groups/<GROUP-ID>/containers` and getting the right region will have to suffice until we move the cluster under full Terraform management.
A little disappointed that the `mongodbatlas_cluster` data_sou

[2021-05-12 18:15] themantissa commented on #314
@jpalmerpivotal sounds good and sorry it wasn't quite what you'd hope for but sounds like, with the edit, you are on a good path.  Also fyi the ID in the UI is the peering ID, not the container ID. I think you've already likely figured that out from the edit to the original question but wanted to be sure to clear it up just in case.

[2021-05-17 16:35] themantissa commented on #447
@pedro-te we will be releasing this fix in 0.9.1 soon.

[2021-05-17 23:19] themantissa commented on #447
@pedro-te  0.9.1 with the fix is now out. Thank you!

[2021-05-17 23:19] #447 closed, assigned to nobody

[2021-05-17 23:24] themantissa commented on #451
For anyone following - https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/guides/0.9.1-upgrade-guide now has the upgrade guide from 2 apply to 1 apply.

[2021-05-18 10:51] pedro-te commented on #447
Thank you guys! Cheers! 🍻

[2021-05-18 23:19] themantissa commented on #26
Believe we are far enough out a migration guide is probably no longer needed.  Closing

[2021-05-18 23:19] #26 closed, assigned to nobody

[2021-05-20 18:24] Benjamin-Vogt opened #462 "mongodbatlas_database_user lifecycle ignore_changes is ignored"
## Description

In our environment we need to rotate secrets regularly and as we try to achieve a high availability we don't want downtimes. To do so I'm creating a new user, provide it to our application (cluster) and delete the old one from the db once the app instances have all come back up.

I can't find a way to achieve this with mongodbatlas_database_user, so I've resorted to doing it manual

[2021-05-24 08:39] anshulpatel25 opened #464 "mongodbatlas_private_endpoint and mongodbatlas_private_endpoint_interface_link gets re-created everytime"
Hello,

https://github.com/mongodb/terraform-provider-mongodbatlas/issues/406 suggests that the issue is resolved with `0.8.2` but we are facing the same issue even with `0.8.2`

### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]
### Steps to Reproduce
1. `terraform init`
2. `terraform plan`
3. `terraform apply`
4. Change any other code

[2021-05-24 23:11] themantissa commented on #464
@leofigy can you take a look at this please?

[2021-05-24 23:22] themantissa commented on #462
@Benjamin-Vogt I'm having a bit of challenge in following your description here.   Logs would be a huge help but without them I'll need some more details/clarification.

So you are saying that you create the user, then rotate user/password manually - do you mean you are creating the user in Terraform and then changing the password in the UI or via the API directly and then Terraform is picking up

[2021-05-25 01:44] leofigy commented on #464
Hello @anshulpatel25 in 0.8.2 we added the steps to upgrade from deprecated resources to the new resources.
But we didn't document at the time, how to "upgrade" deprecated resources, there was a change in the state in order to support the upgrade.

So, we document the steps in 0.9.1 however the same steps apply if you're using 0.8.2
https://registry.terraform.io/providers/mongodb/mongodbatlas/late

[2021-05-25 11:30] Benjamin-Vogt commented on #462
Hi @themantissa. Sorry about that, I struggled to find the right wording. I'll try to explain it better.

* I'm creating the DB and user via Terraform
* The application is created via Terraform as well, user and password are stored in AWS secrets manager
* Once a month we need to rotate the credentials. As the app should stay online, I need to create a new user and password, store it to secrets ma

[2021-05-25 13:35] vrathore18 opened #465 "Terraform not able to detect all the changes from the mongodb .tf files"
terraform:0.13.7
provider "mongodbatlas" {
  public_key  = var.atlasmongo_publickey
  private_key = var.atlasmongo_privatekey
  version = "0.9.1"
}

Issue: Terraform is not detecting/applying mongodb changes.

Summary: I created .tf files to provide restricted access to all our microservices. we run MongoDB-related changes before deploying the branches but for the last 10-15 days we started facing

[2021-05-25 15:47] anshulpatel25 commented on #464
Thanks @leofigy, so If I understood correctly, If I need to avoid re-creation everytime I will require to move to `mongodbatlas_privatelink_endpoint` and `mongodbatlas_privatelink_endpoint_service`, right? Please do correct me if I misunderstood

[2021-05-25 16:40] leofigy commented on #464
Hi @anshulpatel25. Let me explain myself. You have to options to avoid the recreation bug.

- The First option is to re-import the deprecated resources using the 0.8.2/0.9.1 release this will fix the diff in the plan,  and you can follow the guide at https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/guides/0.9.1-upgrade-guide#upgrading-private-endpoint-and-private-endpoint-i

[2021-05-25 16:54] themantissa commented on #465
@vrathore18 thanks for the issue but this sounds more like a support case than an issue.  I encourage you to work with MongoDB Atlas support so they can look at your actual deployment and help to determine what might be happening.  They may also ask for more Terraform logs, details as this is not a lot of information to go on.    fyi @nikhil-mongo

[2021-05-25 16:54] #465 closed, assigned to nobody

[2021-05-25 20:19] leofigy opened #466 "Documentation: Update contribution readme for developing the provider for terraform +14 newer"
As part of the terraform +14 , there is a new approach to tell terraform where to get the provider for development

https://www.terraform.io/docs/cli/config/config-file.html#development-overrides-for-provider-developers

[2021-05-25 20:32] vrathore18 commented on #465
@themantissa : I don't think this is a MongoDB issue but a MongoDB provider issue. I was working fine 15 days ago.
@nikhil-mongo : Any suggestions? Our whole deployment is failing because of this issue.

[2021-05-25 21:07] themantissa commented on #465
@vrathore18 we'd like to help but without anything pointing either way we can't do much.   Have you opened a ticket with MongoDB Atlas support - that will give us the best path forward so we can see at least that side.  Furthermore as the issue template states logs are vital to see what is going on with Terraform, without them we can't do much.  @nikhil-mongo  is going to tell you the same thing t

[2021-05-25 23:13] themantissa commented on #466
@leofigy  do we need an internal ticket for this?

[2021-05-25 23:14] leofigy commented on #466
Hi @themantissa , I think we don't need the internal ticket, is just a quick readme update :) just for devs.

[2021-05-25 23:28] themantissa commented on #462
Hi @Benjamin-Vogt  no worries at all.  Written communication is always a bit challenging.   Hopefully we can work this out.

So I don't have enough here to be sure I'm able to repro what you are doing so not sure why ignore_changes is not working in the way you expect.    Is this a correct understanding - ? is where I'm not sure:
* You are creating a database user via Terraform
* You create an app

[2021-05-26 09:51] anshulpatel25 commented on #464
Thanks a ton @leofigy, solution number one worked for us.

[2021-05-26 10:02] Benjamin-Vogt commented on #462
Hi @themantissa. Thank you for your patience.

* You are creating a database user via Terraform
  * Correct. This is the initial setup.
* You create an application via Terraform and store the username and password for the database user in AWS SM for the app to use.
  * Correct, though the user and password have been stored in SM by the DB script, the application is just fetching it from there.
* T

[2021-05-26 10:17] nikhil-mongo commented on #465
@vrathore18 I agree with @themantissa on the point that this indeed is a support thing and not the provider issue. Terraform traverses all the files and changes until certain restrictions have been applied to ignore the changes.
I will also request to raise the support case with us and share the below details:
- code snippet
- Run the below commands and share the generated file
[code]
- Share the

[2021-05-26 10:27] nikhil-mongo commented on #462
@Benjamin-Vogt
I understand that these changes have to be applied manually because the database user creation does takes time and as a good practice if something is being managed through automation, any changes manually would certainly make the situation worse.

I have a workaround for you, please see if that is feasible but as @themantissa mentioned terraform is IaC and not secret management tool

[2021-05-26 13:05] Benjamin-Vogt commented on #462
Hi @nikhil-mongo. Thanks, I guess this would be the best way (without utilizing Vault). Maybe instead of deleting/creating the configuration blocks using the count prop?

[2021-05-27 11:41] vrathore18 commented on #465
@themantissa @nikhil-mongo : I tried to reach out to Atlas support with this issue but there are asking to buy a premium support plan to look into this issue.

[2021-05-27 13:32] leofigy commented on #465
Hello my 2 cents here, As @nikhil-mongo, @themantissa this is more a support scenario.

However with the info you gave us. I tried to reproduce it. But it went okay.
I was reading our provider code but we didn't change that resource since 2020. One thing I noticed we have a refresh state function. without enough information what I could think might be the issue could be a sync delay for the status

[2021-05-27 13:56] vrathore18 commented on #465
@leofigy Thanks you for replaying and I understand what you are saying even when I am trying run single tf file its working. I am have about 12 .tf files and terraform is even applying that changes but in Atlas mongo not all 12 role are getting updated. 2-3 always left unchanged. I have share the screenshot here as well, please have a look.

https://stackoverflow.com/questions/67709526/terraform-a

[2021-05-27 14:28] themantissa commented on #465
@vrathore18 I'd like to be able to assist more but without support engagement for this there's not a lot we can do beyond what we've been able to comment on here thus far.  Also the screenshot doesn't really give us much info, configs and logs give much more info - though I can't promise we'll be able assist without having support engaged on both sides.    Terraform is included with Atlas support

[2021-05-27 14:59] vrathore18 commented on #465
@themantissa This is my 1 tf file to create a custom role. Similary we have 12 roles. If we put all in one file it would be a mess. so to have a proper segregation we slit the files one per role.

The reason I am not pasting here the terraform apply logs is one its very long and second it contains very sensitive information. If it is really nessessory, I'll remove all the sensitive info manually a

[2021-05-27 15:57] leofigy commented on #465
Hi @themantissa just thinking load, what I think could be the issue. This seems more a bulk request (it has several collections associated to the actions of the role.  At the end they get validated in the API). having 12 custom_db roles with that size. They could take more time than the expected. Of course the API will not fail, because the request can be in pending state, another plan/apply (refr

[2021-05-27 19:19] vrathore18 commented on #465
@leofigy : This is exactly whats happening random roles is not getting updated. When I re-apply 1-2 times more then only all roles updates. But I have two concern here:
- There should be some timeout or status message if API was in pending or failed. Because it will be an issue to CI/CD.
- why we didn't faced this issue earlier? We are updating our roles in CI/CD and didn't faced this issue. What

[2021-05-27 20:40] themantissa commented on #465
Agree @leofigy that this is out of our scope.  @vrathore18  without support engagement to see what's happening we cannot answer your questions as we don't have access to the information to do so.

[2021-05-27 20:40] #464 closed, assigned to nobody

[2021-06-03 10:39] jbrannst opened #469 "documentation: Azure private link example"
Hi, this repo showcases linking on Azure
https://github.com/eugenebogaart/Atlas-Azure-Link

[2021-06-03 13:16] srenno opened #470 "Adding IP to access List failed when lot of entries"
Hi everyone,

I use terraform with azure provider and mongodbatlas provider in order to add azure outbound IP in Atlas IP Access List.

My terraform script work fine since many months but last days I needed to add more IP address (about 50).
When terraform add IP to Atlas, some IP throwing an error after 21 retry. Howerver when I check in Atlas UI I see all IP has been added but terraform failed.

[2021-06-03 21:02] themantissa commented on #469
@jbrannst yes, that seems to have been created by Eugene Bogaart, one of our MongoDB SAs.   I'm not sure what the purpose of this issue is though?

[2021-06-03 21:03] themantissa commented on #470
@nikhil-mongo  would you have time to be able to repro this and file an internal ticket for us to investigate if required.  Thank you

[2021-06-04 07:57] srenno commented on #470
Hi,
I have done a little  terraform script in order to reproduce this issue.
[issue-atlas.zip](https://github.com/mongodb/terraform-provider-mongodbatlas/files/6596716/issue-atlas.zip)

You have just to put your atlas settings (cf : readme)

[2021-06-04 11:22] jbrannst commented on #469
https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs#examples-from-the-community

Den tors 3 juni 2021 23:02Melissa Plunkett ***@***.***> skrev:

[2021-06-04 16:40] themantissa commented on #469
Ah, thank you - that helps. So you are suggesting we add this to the docs.  I"ll reach out to the creator and check if that's okay with them first.  If so we will add it.

[2021-06-05 02:48] nikhil-mongo commented on #470
@srenno Thanks for your effort in sharing the zip for me to repro.
I did the repro and could successfully add the IP addresses without failure at both Atlas and Terraform end. Terraform completed successfully adding 50 IP addresses.

Is it a recurring issue for you? Or occurred once or twice due to some system/network issue? It would be better to share the below details if it reoccurs.

- export T

[2021-06-05 02:55] nikhil-mongo commented on #469
@jbrannst We have [Atlas Azure VNET peering](https://github.com/mongodb/terraform-provider-mongodbatlas/tree/master/examples/mongodbatlas-azure-vnet-peering) example in our repo. We can surely look to improve it if there is scope to do it and it benefits the users.
Please have a look and let  us know.

Thanks

[2021-06-05 02:59] nikhil-mongo commented on #462
@Benjamin-Vogt I am glad you found it useful.  I would not suggest using count prop because it is helpful in configuring where you are comfortable with immediate deletion or creation of the resource. But in your case you are looking for the application to restart before deletion therefore count prop may hinder with the workflow.

[2021-06-07 08:09] srenno commented on #470
Done, I removed/changed sensitive data in provided log.
[trace.log](https://github.com/mongodb/terraform-provider-mongodbatlas/files/6606999/trace.log)

I had no error when I have no IP in atlas whitelist, But when atlas whitelist (atlas UI console) grow I always have the problem.

Can you test with more than 150 ip in your atlas whitelist (atlas UI console) ?
Thanks.

[2021-06-07 13:02] petewilcock commented on #222
The requirement for an [API Access List for DELETE](https://docs.atlas.mongodb.com/reference/api/cloud-backup/backup/backups/) commands on the cloud backup makes it impossible to remove one of the initial policies on creation (or latterly).

For my fellow suffering Googlers, it throws error:

[code]

If we are running Terraform from a CI without a static IP (e.g. CircleCI) there is no way to white

[2021-06-07 19:08] themantissa commented on #469
@nikhil-mongo  good point!   I'll add do a docs PR to add a link to our own examples in the repo.

[2021-06-08 13:59] ghost commented on #449
@themantissa  Any update or any ETA on this by when it can be fixed?

With the PagerDuty integration, we don't need to set this value as per the documentation. The integration will take care of this.

But even with the PagerDuty integration, getting the same issue

[2021-06-08 16:01] themantissa commented on #449
@vinodhbasavani No ETA at this time but is in progress.  I'm working internally to get the API itself corrected which will fix it for Terraform.

[2021-06-08 23:27] themantissa commented on #222
@petewilcock a valid point, thank you for adding it.  One can open up the access list completely with the following two entries as a work-around for situation like yours where the IP just cannot be known - **however I must add the warning that this opens up the API access list to use from anywhere - eliminating the security check of known location and introduces a security risk if used** - with th

[2021-06-16 09:06] srenno commented on #470
Hi,
I Launch the script with 50 IP on new Atlas project with no IP in Atlas Whitelist and I got no error too.
But on atlas with more than 100 IP in Whitelist, when I try to add the provided IP list I always reproduce the issue.

[2021-06-17 04:19] nikhil-mongo commented on #470
@srenno I shall update you with the details today and if we continue to reproduce it, I will file a ticket internally.

[2021-06-17 10:28] nikhil-mongo commented on #470
PRODTRIAGE-1786 filed internally.

[2021-06-18 05:26] timmobbs opened #477 "resource mongodbatlas_auditing audit_filter param doesn't ignore whitespace changes in json"
[code]
Note: I also tested this on Terraform 1.0 with the same result

### Terraform Configuration File

[code]

[code]

### Steps to Reproduce

1. `terraform init`
2. `terraform apply`
3. `terraform apply`

### Expected Behavior
Apply the same json config from a file for the audit_filter shouldn't result in a change

### Actual Behavior
Provider always updates the audit_filter due to whitespace c

[2021-06-21 22:45] themantissa commented on #477
Thank you for the report @timmobbs.  Let us take a look and report back.

[2021-06-22 10:19] deregnab opened #480 "Updating from terraform 0.14.5 tp 0.15.0 or further version (up to 1.0) mongodbatlas started to add database_name="" outsides roles part"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

working versions
[code]
Issue started from 0.15.0 and is still occurring with 1.0 version
### Terraform Configuration File

[code]

### Steps to Reproduce

### Expected Behavior

nothing should have change
### Actual Behavior

[code]
while keeping the correct database_name within roles part

[2021-06-23 04:54] nikhil-mongo commented on #477
Hi @timmobbs

I am able to add the audit.json for the first time and then nothing happens next time onwards when I run **terraform apply**.

I used both, using the filer directly and then passing through the file. There is no issue in any of the approach. But if you are facing it please share the below details with us.

Run the below command -

[code]
Share the trace.log with us here and we can se

[2021-06-23 05:05] nikhil-mongo commented on #480
Hi @deregnab

Can you confirm the provider version in use? Because it seems that your provider version is still older than the configuration template used.
I tried with provider version 0.9.1 and with terraform version 0.14.5, 0.15.4 and 1.0.0 and I had to no issues running terraform apply.

[2021-06-24 14:23] aeimer opened #482 "Scaling max/min is applied each time with disabled autoscaling"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

### Expected Behavior

The provider should not find any changes to be done.
Especially as the update needs quite a few seconds to minutes, it would be nice to be skipped.

### Actual Behavior

The provider show `provider_auto_scaling_compute_max_instance_size` a

[2021-06-25 19:37] mbrancato commented on #222
To tack onto the 403 error, I too am getting this error:
[code]

But I am not coming from a CI egress IP, I'm trying locally from a temporary IP that is in the project's network access list. I believe this is the API returning this error, not the TF provider.

I enabled "Allow access from anywhere" in the UI, and still received the same error.

[2021-06-25 19:53] themantissa commented on #222
@mbrancato the project network access list is different than the API key access list, the former is for the data plane and the later for the control plane.  This will walk you through where to look in the UI: https://docs.atlas.mongodb.com/configure-api-access/

[2021-06-25 20:02] mbrancato commented on #222
Hi @themantissa - that's very confusing.

According to the docs linked:
[code]

Ours is empty / turned off for the API access.

[2021-06-25 20:18] mbrancato opened #485 "Backup policy ID requirement is a catch 22"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce
Starting with a backup policy with only 3 frequency units / rows, attempt to plan the above HCL.

### Expected Behavior
Plan should show one new policy being added.

### Actual Behavior
The plan fails as the provider attempts to read the policy before creating it

[2021-06-25 20:23] themantissa commented on #222
@mbrancato  I'm aware and am working to try to better express in our docs and reality with how it works.  This issue is it works fine as noted until you use a resource/endpoint that by itself requires an API access list.  I believe backup is one of those resources, hence the error.

[2021-06-25 20:34] mbrancato commented on #222
Ahh, your comment here makes more sense now: https://github.com/mongodb/terraform-provider-mongodbatlas/issues/222#issuecomment-857257787

[2021-06-25 22:57] themantissa commented on #485
@mbrancato thank you but I'm going to close this not because it isn't an issue but because we are reworking completely how the backup policy resource works and hence we are not looking into the current functionality.

[2021-06-25 22:57] #485 closed, assigned to nobody

[2021-06-25 22:59] themantissa commented on #482
@aeimer do you happen to have debug logs as requested in our issue template?  Otherwise we'll have to find time to repro so logs speed up the process.  @nikhil-mongo

[2021-06-26 07:18] aeimer commented on #482
I'll gather that info on Monday and send it to you

Thanks

On Sat, 26 Jun 2021, 00:59 Melissa Plunkett, ***@***.***>
wrote:

[2021-06-26 14:06] mbrancato commented on #304
I'm hitting this as well with `v0.9.1` testing the migration of a replicaset to sharded cluster, in preparation to do this in a production cluster. It has constant config drift saying it will update the shards:
[code]

Adding the `replication_specs` I also got this drift on the zone name, which was unexpected:
[code]

My resulting change was to add this config block in the `mongodbatlas_cluster` r

[2021-06-28 01:21] mbrancato commented on #304
While this config and workaround seems valid and I tested on an M30, I was unable to apply it to an M50 (VPC attached in GCP) and convert to a 3-shard cluster. I think this is related, but unexpectedly failed.

[code]

I made the same change in the UI, and now Terraform says:
[code]

[2021-06-28 09:36] deaddog opened #486 "Cloud Provider Access Setup for Datalake"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File
[code]

### Steps to Reproduce
1. Create AWS IAM role and Atlas provider access using the setup above (`terraform apply`)
1. Go to Atlas and create new datalake using new role (or updating role on existing datalake)
1. Run `terraform plan`

### Expected Behavior
Terraform should be generate a pl

[2021-06-28 13:53] aeimer commented on #482
@themantissa The log is sooo long and there are things in it like access keys. So I actually can't publish the log... Are there parts that are interesting for you? I may can copy them for you and clean them manually.

[2021-06-28 17:01] themantissa commented on #482
@aeimer the logs can indeed be redacted (remove any secrets). The most important sections are when Terraform is sending the actual data to the API and refreshing so we can see what is happening specifically.

[2021-06-28 17:03] themantissa commented on #477
Since we have been unable to reproduce closing the issue.   If you'd like to provide the requested data above we'll be happy to take a look.

[2021-06-28 17:03] #477 closed, assigned to nikhil-mongo

[2021-06-28 17:08] themantissa commented on #486
@deaddog we haven't, until recently, done a great deal of testing for data lakes and cloud provider access as we just finished up the PR to support data lakes (https://github.com/mongodb/terraform-provider-mongodbatlas/pull/414).   @coderGo93 can you take a look at this and see if this is a possible issue we need to address before v1.0.0.

[2021-06-28 17:13] themantissa commented on #480
Cannot repro so until more information closing this issue

[2021-06-28 17:13] #480 closed, assigned to nikhil-mongo

[2021-06-28 17:13] themantissa commented on #469
Added for next release.

[2021-06-28 17:13] #469 closed, assigned to nobody

[2021-06-28 17:14] #462 closed, assigned to nikhil-mongo

[2021-06-28 17:17] themantissa commented on #304
@mbrancato  can you provide the entire cluster config for the one above?

[2021-06-28 17:31] themantissa commented on #486
@deaddog our developer who created https://github.com/mongodb/terraform-provider-mongodbatlas/pull/414 confirmed he found the bug as well and corrected it in that PR.   It will be out with v1.0.0, which we hope to release within, approximately, the next month.

[2021-06-28 19:52] deaddog commented on #486
@themantissa that's sound great. We'll postpone using the provider access resources for lakes until v1.0.0 is released.

[2021-06-29 00:02] aagashe1 opened #487 "Support for Mongo DB Cluster 4.4"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce
1. `terraform init`
2. `terraform apply`

### Expected Behavior
What should have happened?

### Actual Behavior
Should provision version 4.4

### Debug Output
Terraform v0.14.7
Configuring remote state backend...
Initializing Terraform configuration...

Error: In

[2021-06-29 01:28] mbrancato commented on #304
Sure @themantissa - only the name was changed below.

[code]

The previous replicaset config was:

[code]

[2021-06-29 02:56] aagashe1 commented on #487
Sorry. It was my bad. The above error was due to validation I added. However note that the validations I added as per the documentation on Terraform website for Mongo atlas cluster

[2021-06-29 02:56] #487 closed, assigned to nobody

[2021-06-29 05:38] nikhil-mongo commented on #482
@aeimer and @themantissa
I can repro this what is mentioned in this bug ticket.
When the `auto_scaling_compute_enabled` and `auto_scaling_compute_scale_down_enabled` are set to false, terraform provider will ignore the values set for `provider_auto_scaling_compute_max_instance_size` and `provider_auto_scaling_compute_min_instance_size` which is as expected.

[code]
But when the  value of `auto_sca

[2021-06-29 09:27] aeimer commented on #482
Cools thanks. Do you need my logs then? Can I help somehow?

[2021-06-29 10:26] nikhil-mongo commented on #482
@aeimer No, we have the logs now. Let us look into it now and see if how we want to take it forward. The provider is behaving how it should but lets see if there are chances to make changes.

[2021-06-29 23:42] themantissa commented on #482
@nikhil-mongo thank you so much for getting that done and saving everyone some stress and time!   We should be able to improve the handling of that in the provider.  Can you put it in a PRODTRIAGE?  Thank you!

[2021-06-30 04:04] nikhil-mongo commented on #482
PRODTRIAGE-1824

[2021-06-30 22:39] timmobbs commented on #477
So the issue is just with a newline at the end of the json file.  I've updated my editor config to strip it off and that will suffice for my needs.

[2021-06-30 22:56] themantissa commented on #477
Thank you for letting us know @timmobbs.  Nicely tracked down!

[2021-07-02 02:12] igoratencompass commented on #406
Further more for people that end up here looking for similar problem, seems that `v0.7` does not know how to properly replace the `mongodbatlas_private_endpoint` resource when you actually need it to. In the plan the action created is `+/-` like so:

[code]
which results in a conflict of course since the endpoint already exists:

[code]
The action should be `-/+` instead so the link gets destroyed

[2021-07-02 14:21] mdiianni opened #491 "Unsupported argument `bi_connector_config`"
# Problem
When replacing the deprecated parameter `bi_connector` with the `bi_connector_config` which seems to be now a list, Terraform plan fails with the following:
[code]

# Current config
* Terraform version: `v0.13.3`
* Terraform aws provider: `~> 3.42`
* Terraform MongoDBAtlas provider: `0.9.1`

Trying to replace previous parameter settings with new `bi_connect_config` does not seem to work,

[2021-07-03 02:38] nikhil-mongo commented on #491
Hi @mdiianni

Please use the below syntax for using the bi_connector_config

[code]

Thanks

[2021-07-03 02:38] #491 closed, assigned to nikhil-mongo

[2021-07-15 13:45] zf-tomdesmet commented on #422
Can this be put out into a new release please?

[2021-07-15 14:13] themantissa commented on #422
@zf-tomdesmet this will be in our next release, 1.0.0.  We are working to finish up the required items and hope to release in the near term.  Thanks!

[2021-07-16 14:35] ckuetbach commented on #350
We've got the same issue. It is really hard to create a terraform setup for different database sizes, because, one needs know the number of backup policies.

I would expect, that the state isr reflected. If a policy with another Id exists, it should be deleted, new policies should appliy.

Also the format of an id is not mentioned at all. I looked at the [API definition](https://docs.atlas.mongodb

[2021-07-16 21:44] themantissa commented on #350
@ckuetbach we have been working with multiple teams to try to greatly improve this area.  Hope to have this in the next version.  Standby.

[2021-07-26 01:42] RishithRavi opened #497 "Multi cloud not supported?"
I am trying to implement mongodb atlas multi cloud in terraform and I am not able to see any mention of multi cloud in the documentation.

Please see the link below for additional information about mongodb atlas multi cloud setup.

https://docs.atlas.mongodb.com/cluster-config/multi-cloud-distribution/

[2021-07-26 23:29] themantissa commented on #497
@RishithRavi  Multi-cloud is not yet supported in Terraform.  It is on the near term roadmap.

[2021-07-26 23:29] #497 closed, assigned to nobody

[2021-07-27 23:08] RishithRavi commented on #497
Thanks for the quick response

[2021-08-11 20:39] themantissa commented on #486
@deaddog 1.0.0 is now out with Data Lake support.  Enjoy!

[2021-08-11 20:39] #486 closed, assigned to nobody

[2021-08-11 20:42] themantissa commented on #466
@abner-dou did you get a chance to update the README for this so we can close this out?

[2021-08-11 20:44] themantissa commented on #422
1.0.0 is out today, thanks!

[2021-08-11 20:44] #422 closed, assigned to nikhil-mongo

[2021-08-11 20:45] themantissa commented on #408
Upgraded to SDK v2 in 1.0.0, released today.

[2021-08-11 20:45] #408 closed, assigned to nobody

[2021-08-11 20:54] themantissa commented on #350
Version 1.0.0 is out with a complete rework of the cloud backup schedule policy.  Details can be found in the [upgrade guide](https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/guides/1.0.0-upgrade-guide) and [docs](https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/cloud_backup_schedule).   Hope this solves some the of issues but feedback is w

[2021-08-11 20:54] #350 closed, assigned to nobody

[2021-08-11 20:55] themantissa commented on #222
Version 1.0.0 is out with a complete rework of the cloud backup schedule policy.  Details can be found in the [upgrade guide](https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/guides/1.0.0-upgrade-guide) and [docs](https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/cloud_backup_schedule).   Hope this solves some the of issues but feedback is w

[2021-08-11 20:55] #222 closed, assigned to nobody

[2021-08-12 01:08] mirstan commented on #422
Thank you, will give it a try.

[2021-08-12 21:33] jooh-lee opened #512 "realm trigger causes provider to authenticate with atlas even if realm triggers are not in use"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1. Have the mongo provider downloaded via init
2. Do not set the api keys
3. Do not use any mongo resources
4. Plan

### Expected Behavior

when the feature is not in use, it should not be trying to contact atlas realm function to fetch info

### Actual Behavior

[2021-08-16 22:31] themantissa commented on #512
@jooh-lee thank you so much for the report.  We will have our team take a look at this.

[2021-08-16 22:42] themantissa commented on #512
Internal ticket: INTMDB-242

[2021-08-17 20:20] robbertkauffman opened #517 "Enabling encryption at rest with any provider for a Cluster will throw error"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File
[code]

The above assumes Azure Key Vault is already created and Encryption at Rest is already configured at the project-level in Atlas. Happy to share the full script which creates these resources as well if relevant.

### Steps to Reproduce
1. `terraform init`
2. `terraform apply`

### Expecte

[2021-08-17 21:26] robbertkauffman opened #518 "Race condition when destroying cluster and disabling encryption at rest on the project-level"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File
[code]

### Steps to Reproduce
1. `terraform destroy`

### Expected Behavior
Destroying resources successfully: destroy cluster and then disable encryption at rest.

### Actual Behavior
Terraform throws an error when trying to disable encryption at rest after cluster has been destroyed:
[code]

[2021-08-18 20:33] themantissa commented on #517
Already reported internally, issue known and will be fixed by internal ticket INTMDB-243.  Expect in 1.0.1 bug fix release.

[2021-08-18 20:58] themantissa commented on #518
thanks @robbertkauffman, I'll get an internal ticket filed to see if we can ensure that the encryption at rest request to disable happens after the cluster is removed.   These are certainly tricky areas to support.

[2021-08-18 21:23] themantissa commented on #518
Internal ticket INTMDB-245

[2021-08-19 00:57] devon65 opened #521 "Regression: Data Source for mongodbatlas_cluster makes terraform hang indefinitely using version 1.0"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1. Create a MongoDB cluster
2. Create an API key with access to your cluster
3. Pass in your cluster's project id, name and API key info
4. `terraform init`
5. `terraform plan` or `terraform apply`

### Expected Behavior

The terraform should output my cluster's

[2021-08-19 03:55] nikhil-mongo commented on #521
@devon65 Thank you for sharing the details and log. We will go through it and get back to you.

[2021-08-21 00:10] themantissa commented on #521
Internal ticket INTMDB-247

[2021-08-23 23:46] themantissa commented on #521
@devon65 can you provide some more details on what type of cluster and network connections you are creating?   We believe this is due to a fix we did based on issue #422.   The cluster data source was returning without a connection string because it was returning before the string was available. We added in a timeout but if you do not have a privatelink connection it should return quicker.  Hence

[2021-08-24 13:59] nleite commented on #517
@themantissa any ETA on the 1.0.1 release ?

[2021-08-24 16:24] devon65 commented on #521
When running the terraform posted in the description, the cluster is already made under a separate terraform plan. I'm just trying to retrieve data from the created cluster. Here's the config I used to create the cluster (cluster creation terraform has already succeeded):
[code]

[2021-08-24 16:46] devon65 commented on #521
Another thing I noticed (a separate bug that I still need to create an issue for) is that the container_id return value for the cluster datasource is declared, but never set in the data_source_mongodbatlas_cluster.go file. At least, that's what it looks like. I'm new to go, so I could be wrong, but in the resource_mongodbatlas_cluster.go file, the container_id field is declared and set later.

If

[2021-08-24 20:46] nicolas-nannoni commented on #521
I can confirm I see the same behaviour since 1.0.0 with an identical setup. A cluster and PrivateLink endpoint created in a Terraform module (weeks ago), that is then used as data source in another Terraform module used to create a simple database user will hang for about 3 minutes before returning the expected response.

In the trace logs, I see my cluster's data being returned fast, and that con

[2021-08-24 21:15] themantissa commented on #521
@nicolas-nannoni thank you for the additional context and @devon65 as well.   It feels like a regression as noted, along with the improvement.   I'll have the team pursue further.

[2021-08-24 22:35] devon65 commented on #521
@nicolas-nannoni You mentioned that you tested it with a cluster that has PrivateLink connection strings. My cluster doesn't have any privateLink Connection strings. By coincidence, I've been messing around with the private link stuff today, and it turns out that the data source will return (after 3 minutes) when there are PrivateLinks present in the cluster, but it will hang indefinitely if the c

[2021-08-24 23:17] devon65 commented on #521
If the data source waits 3 minutes each time, it could be good to have an optional "wait_for_connection_strings" flag.

[2021-08-25 00:22] themantissa commented on #517
@nleite we are working to get this out ASAP so hopefully quite soon.

[2021-08-26 09:30] narun4sk commented on #517
just to raise an awareness - we are also affected by the same bug on AWS.

[2021-08-30 06:59] stefanosala opened #545 "Error: error getting search index information: json: cannot unmarshal array into Go struct field IndexMapping.mappings.fields of type mongodbatlas.IndexField"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform configuration

[code]

### Atlas search index definition

[code]

### Steps to Reproduce
1. `terraform apply`

### Output error

[code]

Please note that the index has been manually updated via Atlas UI to get that index array definition.

[2021-08-30 14:18] Freyert commented on #449
The API always returns the max 32 bit integer 2,147,483,648 (2^(31-1))? So there's no work around for this?

This is a fairly painful issue for users. Makes plans extremely taxing to review because there are often a lot of alerts. Any updates after 3 months?

[2021-08-30 16:02] pedro-te commented on #449
@Freyert I'm not sure if this will help you, but we ended up ignoring changes to that parameter, otherwise we would have the same issue you describe.

[code]

[2021-08-30 16:20] themantissa commented on #545
@stefanosala thank you - we'll have the team take a look and report back.

[2021-08-30 19:48] themantissa commented on #545
@stefanosala this is being caused by a bug in the Atlas go client we use.  The bug has been fixed so we'll need to update the provider to be able to use it.   We will be working on that quickly.
INTMDB-251 internal ticket

[2021-08-31 22:02] themantissa commented on #449
@Freyert we continue to work with internal MongoDB teams to get this addressed.  It is on the roadmap for correction.  Thank you for the proposed workaround @pedro-te!

[2021-09-01 16:38] slamdev opened #550 "INVALID_CLUSTER_CONFIGURATION when adding new regions"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Output

[code]

### Steps to Reproduce

1. Create a replicaset cluster
2. Add a new read only region replica

### Expected Behavior

New replica is added to the cluster or a meaningful error message appears

[2021-09-01 23:39] themantissa commented on #550
@slamdev I just tried to reproduce with a similar config and could not.  I got the expected add of read only nodes.  If you continue to experience issues please feel free to include more information here.

[2021-09-01 23:42] themantissa commented on #512
We have a pre-release of 1.0.1 ready - we'll release the GA version tomorrow.  If you have time to try it out before then it's here: https://github.com/mongodb/terraform-provider-mongodbatlas/releases/tag/v1.0.1-pre.1

[2021-09-01 23:42] themantissa commented on #517
We have a pre-release of 1.0.1 ready - we'll release the GA version tomorrow.  If you have time to try it out before then it's here: https://github.com/mongodb/terraform-provider-mongodbatlas/releases/tag/v1.0.1-pre.1

[2021-09-01 23:43] themantissa commented on #521
We have a pre-release of 1.0.1 ready - we'll release the GA version tomorrow.  If you have time to try it out before then it's here: https://github.com/mongodb/terraform-provider-mongodbatlas/releases/tag/v1.0.1-pre.1

[2021-09-01 23:43] themantissa commented on #545
We have a pre-release of 1.0.1 ready - we'll release the GA version tomorrow.  If you have time to try it out before then it's here: https://github.com/mongodb/terraform-provider-mongodbatlas/releases/tag/v1.0.1-pre.1

[2021-09-02 12:57] slamdev commented on #550
[code]
that is a debug output from terraform. I would suggest to improve the error messages atlas api generates, so they clearly show what is wrong with the request

[2021-09-02 16:21] themantissa commented on #550
@slamdev I will pass on to the team the request for better error messaging.   This is still not enough to determine why you are hitting an issue as nothing here is jumping out as a problem.   If you can include the full config and logs that may help or reach out to support to be able to provide that via our ticketing system.  @nikhil-mongo can you respond if more information comes in?

[2021-09-02 20:52] themantissa commented on #470
Fixed in recent release 1.0.1

[2021-09-02 20:52] #470 closed, assigned to nikhil-mongo

[2021-09-02 20:53] themantissa commented on #512
Fixed in recent release 1.0.1

[2021-09-02 20:53] #512 closed, assigned to nobody

[2021-09-02 20:54] themantissa commented on #517
Fixed in recent release 1.0.1

[2021-09-02 20:54] #517 closed, assigned to nobody

[2021-09-02 20:55] themantissa commented on #521
Fixed in recent release 1.0.1

[2021-09-02 20:55] #521 closed, assigned to nobody

[2021-09-02 20:55] themantissa commented on #545
Fixed in recent release 1.0.1

[2021-09-02 20:55] #545 closed, assigned to nobody

[2021-09-03 14:08] nleite opened #554 "terraform-provider-mongodbatlas_v1.0.1 crashes after creating mongodbatlas_cloud_provider_access_authorization resource"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1. upgrade to version 1.0.1 `terraform init -upgrade`
2. `terraform plan -out tfplan`
3. `terraform apply tfplan`

### Expected Behavior

Encrypted backup keys set on Atlas. No crash expected :trollface:

### Actual Behavior

### Debug Output

### Crash Output

[2021-09-06 07:31] damien-vdb opened #555 "mongodbatlas_auditing documentation mismatch"
[code]

### Steps to Reproduce

Visit the current documentation for auditing: [https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/auditing](https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/auditing)

---
![image](https://user-images.githubusercontent.com/11858675/132177223-40adeb5a-ddd3-4995-8305-1721454c28f4.png)
---
### Actual Beh

[2021-09-06 12:59] gssbzn commented on #555
Hi @damienvdb06 thanks for reporting this, if you you want we'll be happy to accept a PR updating the docs, this is the file to update https://github.com/mongodb/terraform-provider-mongodbatlas/blob/master/website/docs/r/auditing.html.markdown

if not we'll review this as soon as possible

[2021-09-07 09:37] pantelis-karamolegkos opened #557 "Getting blocked by IP when trying to create a project / cluster"
Trying to create an Atlas Project / Cluster (M10) using Terraform `1.0.6`

[code]

[code]

[code]

Setting `var.ip_address=0.0.0.0`

Failing with

[code]

what resource is it talking about?

If it is the cluster (or the project), how is this possible since they don't even have time to be created? Furthermore, there is no IP restriction (`0.0.0.0`)

[2021-09-07 09:43] #557 closed, assigned to nobody

[2021-09-07 17:01] MarcusSorealheis commented on #308
We have added Atlas Search support in Terraform: https://docs.atlas.mongodb.com/reference/api/atlas-search/

[2021-09-09 16:12] MarcusSorealheis commented on #308
Oops: https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs

[2021-09-09 21:04] mbacchi opened #559 "Nested map variable works if defined in module consumer but not if defined in module itself"
A map variable (below called "host_metric_alert_configuration_map" in the example) allows successful creation of `mongodbatlas_alert_configuration` resources only if its passed into a module as a variable. If it is defined as a default map variable in the module itself, the `terraform plan` command throws `Error: Unsupported attribute` errors as shown here:

[code]

This is a problem because the b

[2021-09-09 23:53] mbacchi commented on #559
This report is not correct, my mistake. I had another map with similar names and it was working. But the nested map above was not successfully parsed by Terraform in any situation.

[2021-09-09 23:53] #559 closed, assigned to nobody

[2021-09-10 09:26] luisllm opened #561 "Datalake configuration at creation time"
Hello,

First of all, I am not sure whether this a documentation bug or a feature request.

How are we supposed to create a functional mongodbatlas datalake without the config being part of the arguments?
In the documentation, the config is not part of the arguments, only part of the attributes you get once the datalake is created. Is it only possible to create like an empty datalake without any c

[2021-09-13 21:44] mbacchi commented on #153
This does not appear fixed. I am using mongodbatlas provider version 1.01 and still see this appears as changed every time I try to apply it:

[code]

[2021-09-20 20:04] gdelbergue opened #565 "Plugin crash when changing value of iam_assumed_role_arn for resource mongodbatlas_cloud_provider_access_authorization"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1. Setup Encryption at REST with AWS KMS
2. Rename AWS role resource and so update `iam_assumed_role_arn` in `mongodbatlas_cloud_provider_access_authorization` resource. In my case I renamed from `aws_iam_role.mongodb_atlas_test_role` to `aws_iam_role.mongodb_at

[2021-09-21 18:46] Eji4h commented on #550
Terraform v1.0.7 on darwin_arm64
MongoDB Atlas Provider version 1.0.1

I have same issue when create new cluster and apply terraform again without change mongodbatlas_cluster resource.

Terraform configuration
[code]

## Terraform Output
![image](https://user-images.githubusercontent.com/7007629/134229280-8d247c2d-7758-4d97-938a-c8ee06173c45.png)
![image](https://user-images.githubusercontent.com/

[2021-09-21 22:46] themantissa commented on #561
@luisllm we added what was available to automated for Data Lake via the Atlas Administration API.  As you've noticed some configuration options are only exported (i.e. in the response) and not able to be configured via the API and so are not available in Terraform.  These must be configured via the UI.   The Product Manager, Ben Flast - benjamin.flast@mongodb.com, is aware of this and has informed

[2021-09-21 22:46] #561 closed, assigned to nobody

[2021-09-21 23:20] themantissa commented on #153
@mbacchi is it not being set (the previous issue) or just is being seen as changed each time but is set?  A log section or more details would help a great deal.

[2021-09-22 14:33] Eji4h commented on #550
This issue was resolve. Because I set the wrong region (AP-SOUTHEAST-1). It should be used underscore (_) to replace the dash (-).

[2021-09-22 15:59] themantissa commented on #554
@nleite I'll have the team look into why the fix did not seem to address the issue.

[2021-09-22 16:11] themantissa commented on #565
@guyguy333 the team will investigate this report.  Internal ticket INTMDB-256

[2021-09-22 16:12] themantissa commented on #554
Internal ticket INTMDB-255

[2021-09-23 18:00] oreststetsiak opened #568 "gcp cluster doc issue"
<!--
Hello!

there is a problem in official [doc for GCP](https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/cluster#example-gcp-cluster)

according to a [doc](https://docs.atlas.mongodb.com/reference/google-gcp/#google-cloud-platform--gcp-)
is should be **EASTERN_US** but not **US_EAST_1**
with  current config, terrafrom crash with meaningless error
[code]

please

[2021-09-23 18:02] oreststetsiak commented on #568
omg, where is description lol
the issue is [here](https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/cluster#example-gcp-cluster)

there is no **US_EAST_1**
[atlas doc](https://docs.atlas.mongodb.com/reference/google-gcp/#google-cloud-platform--gcp-) says it should be **EASTERN_US** for GCP

with **US_EAST_1** terraform fails like
[code]
please fix that doc!

[2021-09-24 10:29] nikhil-mongo commented on #555
@gssbzn @damienvdb06 I will take care of this shortly.

[2021-09-24 10:30] nikhil-mongo commented on #568
@oreststetsiak Thank you for bringing to our attention. I will fix this shortly.

[2021-09-24 10:39] oreststetsiak commented on #568
np
not sure, but other examples (aws azure etc) potentially might also be broken
just fyi
regards!

[2021-09-25 00:32] themantissa commented on #550
Internal ticket INTMDB-254

[2021-09-25 00:34] themantissa commented on #518
Removed bug label as this was more of missing documentation on how to do this than a bug.

[2021-09-28 18:17] themantissa commented on #550
Update: We believe we have found the cause of the regression - it started in 1.0.0 with a type change.   Team is working to correct and add in testing to assure this is better caught in the future.

[2021-09-30 23:56] themantissa commented on #550
We've got a fix in https://github.com/mongodb/terraform-provider-mongodbatlas/pull/573 and will be in the next release 1.0.2.

[2021-09-30 23:56] themantissa commented on #554
Slightly different issue than what we fixed last time but corrected and will be in the next release, 1.0.2.

[2021-09-30 23:57] themantissa commented on #565
Fix is completed and will be in our next version, 1.0.2.

[2021-10-01 12:40] elopsod commented on #222
hi @themantissa
provider version 1.0.1 has same problem
[code]

[2021-10-01 22:25] themantissa commented on #222
@elops-od the error here is not the same problem.  The error is "403 (request "RESOURCE_REQUIRES_ACCESS_LIST") This resource requires access through an access list of ip ranges."  That means the Atlas API Key you are using needs an accesslist entry for where you are running Terraform from.

[2021-10-03 15:30] elopsod commented on #222
hi @themantissa
I don't understand how an API key that can create and delete entire clusters needs additional access list whitelisting to then modify the backup policy of said clusters.
doesn't it seem strange to you?

[2021-10-04 21:11] themantissa commented on #222
@elops-od Appreciate the feedback.  I've passed this on to the team who owns it.

[2021-10-04 23:40] themantissa commented on #568
Will go out to docs in next release.

[2021-10-04 23:40] #568 closed, assigned to nikhil-mongo

[2021-10-04 23:40] themantissa commented on #565
We have released the pre-release https://github.com/mongodb/terraform-provider-mongodbatlas/releases/tag/v1.0.2-pre.1  If anyone here could test and verify before release that would be great.

[2021-10-04 23:41] themantissa commented on #555
Fix will go out to docs in next release.

[2021-10-04 23:41] #555 closed, assigned to nikhil-mongo

[2021-10-04 23:41] themantissa commented on #554
We have released the pre-release https://github.com/mongodb/terraform-provider-mongodbatlas/releases/tag/v1.0.2-pre.1  If you @nleite could test and verify before release that would be great.

[2021-10-04 23:41] themantissa commented on #550
We have released the pre-release https://github.com/mongodb/terraform-provider-mongodbatlas/releases/tag/v1.0.2-pre.1  If anyone here could test and verify before release that would be great.

[2021-10-07 21:54] themantissa commented on #565
1.0.2 is out.  Please let us know if any issues remain.

[2021-10-07 21:54] #565 closed, assigned to nobody

[2021-10-07 21:54] themantissa commented on #554
1.0.2 is out.  Please let us know if any issues remain.

[2021-10-07 21:55] themantissa commented on #550
1.0.2 is out.  Please let us know if any issues remain.

[2021-10-07 23:25] #554 closed, assigned to nobody

[2021-10-11 08:48] nleite commented on #554
👍 I'm testing this out today. thanks!

[2021-10-11 10:56] daroga0002 commented on #222
exactly same issue which tottally breaking this provider in real case use cases

[2021-10-11 14:44] themantissa commented on #222
@daquinoaldo  please see an earlier comment when we closed this issue: "Version 1.0.0 is out with a complete rework of the cloud backup schedule policy. Details can be found in the upgrade guide and docs. Hope this solves some the of issues but feedback is welcome both here or send to me directly - melissa.plunkett@mongodb.com"  If you find the rework is not solving the issue please feel free to r

[2021-10-11 17:41] buker commented on #550
I had same issue. Version 1.0.2 works perfect. Thanks

[2021-10-20 08:13] BlacCello commented on #550
The issue is still present for us.
We used provider 1.0.2 and terraform 1.0.9 and I can provide an example which we used for debugging, which is unrelated to our big project code.

With the following snippets it is possible to reproduce the issue

An already existing cluster is configured with the following code:
[code]
The creation of the cluster like this works without issues.
Then, we want to c

[2021-10-21 00:10] themantissa commented on #550
@BlacCello I feel this may be a slightly separate issue as we've had multiple reports of the original being corrected w/ the fix.

_Just a guess: It could relate to the replication_factor attribute that we still have applied to the "old clusters". Migrating to single region specified with replication_specs also does not work._
That was going to be my question, if you tried updating your older form

[2021-10-21 08:20] BlacCello opened #588 "INVALID_CLUSTER_CONFIGURATION when modifying a cluster to use replication_specs (eg for multi-region)"
We have an issue when we want to modify a single-region cluster (which uses a in the meantime deprecated configuration) to use multi-region.

### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File

With the following snippets it is possible to reproduce the issue. Please note that because of history reasons, the there is no use of "replication_specs

[2021-10-21 08:28] BlacCello commented on #550
@themantissa I created a new issue #588 and also included the logs with TF_LOG=trace. I hope this helps.

[2021-10-21 15:08] BlacCello commented on #588
For completeness, we also tried to change the config to use `replaction_specs` but without making it multi-region just to replace `replication_factor`.

It fails with the same issue, when we "migrate" from the "initial" cluster.
This is the single-region config which uses `replication_specs`:
[code]
Creating this cluster with this code from scratch as a new cluster succeeds.

[2021-10-22 15:21] themantissa commented on #588
Thank you so much for getting this in and with such complete information @BlacCello.  I'll have the team take a look as soon as they can.

[2021-10-25 13:08] amontalban opened #590 "PRIVATE_ENDPOINT_SERVICE_ALREADY_EXISTS_FOR_REGION"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce
Create two VPCs in the same AWS account, and try to create two MongoDB Atlas Regional Cluster `mongodbatlas_cluster` each with a Private Endpoint in the same MongoDB Project.

### Expected Behavior
Have two VPCs, and two MongoDB Atlas Regional Clusters (Each one

[2021-10-25 15:52] themantissa commented on #449
Internal ticket to update Terraform to corrected API resource INTMDB-272

[2021-10-27 11:14] nikhil-mongo commented on #590
I was able to repro this using terraform, but succeeded in creating 2 private endpoints through UI.

│
│   with mongodbatlas_privatelink_endpoint.atlaspl,
│   on atlas-pl.tf line 1, in resource "mongodbatlas_privatelink_endpoint" "atlaspl":
│    1: resource "mongodbatlas_privatelink_endpoint" "atlaspl" {
│

But while working through the API requests to check how API requests behave I found out tha

[2021-10-27 23:53] themantissa commented on #588
Internal ticket INTMDB-273

[2021-10-29 14:30] amontalban commented on #590
Hi @nikhil-mongo,

Thanks for that, I ended up creating a project for each cluster/endpoint.

In one of my runs I had this issue:

[code]

But then I recreated everything and worked fine, so it must have been something sporadic.

In terms of the original issue, I think it would be good to document the limitation somewhere (Maybe in the Terraform provider docs?).

Thanks!

[2021-10-29 19:29] themantissa commented on #550
Fixed in 1.0.2.  See #588 for possibly related situation.

[2021-10-29 19:29] #550 closed, assigned to nobody

[2021-10-29 19:29] themantissa commented on #518
Example added as part of 1.0.2 release.

[2021-10-29 19:29] #518 closed, assigned to nobody

[2021-10-29 19:30] themantissa commented on #482
Addressed in 1.0.1

[2021-10-29 19:30] #482 closed, assigned to nikhil-mongo

[2021-10-29 20:03] abner-dou commented on #466
@themantissa this change was already done some months ago in the README file :)

[2021-10-29 20:09] #466 closed, assigned to abner-dou

[2021-11-03 06:30] prathish2503 opened #594 "update_snapshots is not getting set on Atlas while using "mongodbatlas_cloud_backup_schedule" tf resource"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce
1. `terraform init`
2. `terraform apply`

### Expected Behavior
The backup policy on atlas gets updated with "Apply policy retention changes to existing snapshots" Enabled   (since update_snapshots : true  is set in tf configuration file)

### Actual Behavior
The

[2021-11-03 19:59] themantissa commented on #594
@prathish2503 we really need all the information in the issue template to be able to help here.  Please add more information.

[2021-11-11 16:13] MikiLoz92 opened #603 "`error deleting MongoDB Network Peering Container`, even though Container exists"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]
Provider version 1.0.2

### Steps to Reproduce
1. Create network container in an existing project, with no clusters in it
2. Create cluster
3. Delete cluster
4. Delete network container -> fails

### Debug Output
Ok, so I've been coping with this issue for a while and I thought I had fixed it by setting a simple timer between r

[2021-11-13 03:09] nikhil-mongo commented on #603
@MikiLoz92 Can you share the project ID so that I can check the reason for the deletion not happening and any error generated for that in our backend logs. Also the debug logs in these cases help us the most so if you can repro this issue and generate the debug logs using below commands -

[code]

[2021-11-15 11:42] iochagov opened #606 "Importing event trigger crashes the provider"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File
[code]

### Steps to Reproduce
1. terraform init
2. terraform import mongodbatlas_event_trigger.atlas_trigger <group_id>--<app_id>--<trigger_id>

### Expected Behavior
The resource should be imported.

### Actual Behavior
Provider crashes.

### Debug Output
[debug.log](https://github.com/mongodb

[2021-11-15 23:20] themantissa commented on #594
Since no more information has been added closing this issue.  Feel free to reopen with additional data.

[2021-11-15 23:20] #594 closed, assigned to nobody

[2021-11-15 23:21] themantissa commented on #588
The fix for this issue will be in our next release, 1.1.0.  We expect that to come out very soon.  Thanks!

[2021-11-15 23:22] themantissa commented on #606
Thank you @iochagov for the completed issue. We will have someone on the team take a look.

[2021-11-15 23:25] themantissa commented on #606
Internal ticket INTMDB-279

[2021-11-16 09:58] MikiLoz92 commented on #603
Hi @nikhil-mongo unfortunately I already deleted that project and did not keep the ID... it was a temporary environment. I'll try to reproduce this bug again shortly and send you the logs, but it's one of those that seem to trigger randomly...

[2021-11-16 12:12] nikhil-mongo commented on #603
I cannot repro this at my end and everything works perfectly during creation and termination. @MikiLoz92 Once you have the logs, it will help us a lot.

[2021-11-18 15:14] kovacevicm opened #610 "Cannot update the default backup schedule policy without defining API Key access IPs."
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1.  create an Atlas project and add the API key with Organization Member, Organization Project Creator, Organization Owner permissions
2. initialize the following terraform variables
[code]
3. run `terraform init` and `terraform apply`
### Expected Behavior

The

[2021-11-19 00:35] themantissa commented on #606
@iochagov the team has confirmed the bug and is working on a fix.  Thanks!

[2021-11-19 00:39] themantissa commented on #610
@kovacevicm  this is not a provider issue, the access list is required by the Atlas Admin API itself, and the issue resolved in #222 was around the backup policy resource not the access list (that cropped up as a side topic).   However, I'll share this feedback w/ the team to see if there's something we can do to better enable use from a tool like CircleCI where the IP/IP range is unknowable or un

[2021-11-19 18:26] #610 closed, assigned to nobody

[2021-11-20 01:09] jon-king-mindbodyonline opened #616 "config_full_document_before not working in EventTriggers"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce
1. `terraform init`
2. `terraform apply`
3. Check the Atlas UI for the Trigger
4. Also check the Realm API directly
[code]

### Expected Behavior
That the trigger be created in Realm with "Document Preimage" enabled (`FullDocumentBeforeChange` in the API and Go l

[2021-11-22 08:29] paikend opened #617 "mongodb atlas network container atlas cidr block value and real value is not mached"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File
[code]

### Steps to Reproduce
1. terraform apply
- applied planing infomations. But it is not reflected

### Expected Behavior
terraform apply 'resource "mongodbatlas_network_container" ' resource. It is applied in main.state.
It is same atlas cidr block in terraform remote state and real mongo

[2021-11-22 10:48] swapzero opened #618 "incorrect values from `mongodbatlas_cluster` and `mongodbatlas_clusters` datasources"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

- target project has **only one cluster**
- current auto-scaling settings for the cluster
![image](https://user-images.githubusercontent.com/45405723/142844788-8a5805f4-f8a7-499a-94d7-32ea83b317e5.png)

### Expected Behavior

I have called the API directly and,

[2021-11-24 06:22] nikhil-mongo commented on #617
Hi @paikend Will it be possible for you to share the project ID over my email - nikhil.singh@mongodb.com

Also please note that if a cluster had existed in the region `AP_NORTHEAST_2` there is already a CIDR created by default and you will have to explicitly delete the Network container using Atlas API.
Having that said, I will be in better position to comment after verifying the project details.

[2021-11-24 11:33] nikhil-mongo commented on #618
@swapzero I shall do the repro and get back to you.

[2021-11-25 04:27] nikhil-mongo commented on #618
@swapzero I could repro what you mentioned here in this issue.
I am checking internally if this is expected behaviour that we skip to fetch the optional attributes in data sources and shall update you when I have more information.

Thanks

[2021-11-29 14:43] 1uk4sh commented on #588
`v1.1.0` works, can be closed, thx!

[2021-11-29 17:05] #588 closed, assigned to nobody

[2021-11-30 00:22] themantissa commented on #618
Internal ticket: INTMDB-280

[2021-11-30 12:21] gdelbergue opened #625 "mongodbatlas_cloud_backup_schedule with Azure results in "restore window days" mandatory"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1. `terraform init`
2. `terraform apply`

### Expected Behavior

Cloud backup schedule is setup

### Actual Behavior

[code]

### Debug Output

### Crash Output

### Additional Context

We use exactly the same code with our AWS clusters without any issues for ma

[2021-12-01 14:30] falcon-18-tech opened #626 "Cannot set multiple notifications for an alert"
Hello,

I wanted to set the multiple notifications for the same alert, but here in terraform resource of "mongodb_alert_configuration" we do not define notifications as an array, it poses a problem.
Whereas in MongoDB API we have the provision of setting up multiple alerts, therefore that must be somehow possible using terraform as well.
Here is the link of the MongoDB Atlas documentation for the

[2021-12-01 18:05] themantissa commented on #616
@jon-king-mindbodyonline thank you for the complete report.  I've created an internal ticket to have our developers take a look.   We'll get back to you as soon as we have more information.   ticket INTMDB-281

[2021-12-01 18:08] themantissa commented on #625
@guyguy333 thank you for the report.  Do you happen to have any trace or debug level logs?   If so we can more quickly check what is going on and what is being sent to the API.

[2021-12-01 18:13] themantissa commented on #626
I don't believe it is currently possible with how the resource is setup but it should be.  Let me talk with the team on this item.

[2021-12-01 18:24] gdelbergue commented on #625
@themantissa Sure, here is the request:

[code]

`restoreWindowDays` is sent with value `0` but this value is not set in terraform resource and is optional according to API.

[code]

[2021-12-01 18:26] themantissa commented on #626
Internal ticket INTMDB-282

[2021-12-01 18:26] themantissa commented on #625
Thank you @guyguy333 - that should be sufficient.  Let me have the team take a look

[2021-12-01 18:36] themantissa commented on #625
Internal ticket INTMDB-283

[2021-12-02 01:30] themantissa commented on #626
@falcon-18-tech so this seems to be a missing bit of documentation/examples on our part.   Looking at the code one or more notification block should work for the same alert, e.g.
notification {
//set email
}
notification {
/set sms
}

That should work for you.   If so I'll ensure we get the documentation updated to make this clearer.

[2021-12-02 07:40] falcon-18-tech commented on #626
Yes, it is working.
Thanks for the assistance.

It would be better to reflect this in the documentation as well.

[2021-12-02 07:40] #626 closed, assigned to nobody

[2021-12-02 14:47] falcon-18-tech opened #628 "Delete default alerts"
Hello,

Whenever we deploy any cluster using terraform or the web UI of the over Atlas, some of the alerts are autogenerated.
is there a way by which we can sanitize the alert section, as we don't require any alert by default since we want to use automation to configure all the alerts and to maintain similar alerts for all clusters?

Thank You.

[2021-12-03 00:54] themantissa commented on #628
This just came out in the latest release @falcon-18-tech - see the project resource documentation for details.   It will allow you to create a project with no default alerts.

[2021-12-03 00:54] #628 closed, assigned to nobody

[2021-12-04 17:22] MikiLoz92 commented on #603
Hello @nikhil-mongo , I managed to reproduce the error again, here are the logs, though unfortunately it seems no error logs were written here:

[code]

The container ID that was trying to delete is `61a9f0e1d490cb6e969424cb`, and the project ID is `61a9f0c65e797b5ee444ffc3`

Same error output:
[code]

[2021-12-04 17:35] MikiLoz92 commented on #603
Could it have something to do with [this](https://github.com/mongodb/terraform-provider-mongodbatlas/issues/88#issuecomment-567187471) situation that @themantissa encountered?

According to her comments, and if I understood corrrectly, the container should be in `provisioned = false` state in order for it to be able to be deleted. However, it currently is in `provisioned = true`, if I check the Mo

[2021-12-07 08:55] gdelbergue opened #632 "Alert configuration state is not stable"
Hello,

We use `mongodbatlas_alert_configuration` to setup our alerts with Opsgenie. It works fine. However, every time we plan / apply without any changes of HCL, terraform detects changes. Moreover, even if we apply, issue remains. I guess resource is not well set or state storing has an issue.

### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration F

[2021-12-07 13:46] bartier opened #633 "Not able to import mongodbatlas_org_invitation (suggestion of improvement of manage organization users)"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1. terraform init
2. terraform import mongodbatlas_org_invitation.myuser "<ORG_ID>-my.user@organization.com"

### Expected Behavior

### Actual Behavior

Import invitation to Terraform with success.

[code]
### Debug Output

### Crash Output

### Additional Cont

[2021-12-07 15:07] ivankovnatsky commented on #590
@amontalban we're having the exact same issue as in your last comment.

It's also two different projects with separate private endpoints for different mongo db clusters. I'm inclined to think this is happening when we creating two environments concurrently.

I did not pay attention before, so was also just re-creating environments. It also went fine thereafter.

update:

To fix it without re-creat

[2021-12-09 14:16] 1uk4sh commented on #497
Hi @themantissa ,
thanks for implementing this feature!

I'm a little confused when this feature was exactly released. I can find this Issue is listed as closed in the `v1.0.0-pre.1` changelog, but #570 is only included in the `v1.1.0` changelog.
Can the changelog be fixed?

Any chance to have the term `multi-cloud` included in the changelog as a feature (similar to the docs #609 )?

Thanks

[2021-12-10 00:59] themantissa commented on #632
@guyguy333 let me have the team take a look.

[2021-12-10 01:02] themantissa commented on #632
Internal ticket INTMDB-284

[2021-12-10 01:03] themantissa commented on #633
@bartier Did you happen to capture debug or trace logs?  Just helps us determine the potential issue a bit quicker. Thank you!

[2021-12-10 17:58] matthewvalimaki opened #636 "Accepting organization invitation causes 404"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File
[code]

### Steps to Reproduce
1. `terraform init`
2. `terraform apply`
3. Manually accept organizational invitations that were sent via email
4. `terraform apply`

### Expected Behavior
Running `terraform apply` regardless of invitation status (accepted, pending, expired etc.) should pass with

[2021-12-10 20:35] bartier commented on #633
@themantissa Hi. Sure!

I added only some part of the DEBUG trace. I discovered that when I request for invites for my organization I got a empty array.

[code]

The problem is that I can import other resources using this `ORG ID`. I checked multiple times and it is the correct org id. =/

[2021-12-10 22:04] themantissa commented on #633
@bartier (re doing comment).   Have you had any network errors?  It almost looks like an interrupt.   But in your comment you note that you can import other resources I'm assuming around the same time, same network config?   I can have the team look either way - just want to make sure we check any easy to correct issues.

[2021-12-10 22:15] themantissa commented on #636
@matthewvalimaki  thank you for the clear report.   Will have the team investigate it.

[2021-12-10 22:22] themantissa commented on #636
Internal ticket INTMDB-285

[2021-12-10 22:41] bartier commented on #633
@themantissa I haven’t seen any network error. I import other resources using the same network config. Since I got a 200 OK from the API I assume  this is not the problem.

I'm not sure if I'm missing any detail but if you find useful I can open a support issue in MongoDB Atlas dashboard specifying this problem using my organization account. This way I can share the organization ID facing the issu

[2021-12-13 18:57] bartier commented on #633
@themantissa I think I understood what it is going on.

If the invitation is pending on the UI, it is going to be possible to import, otherwise it will not be possible.

![image](https://user-images.githubusercontent.com/18057391/145871499-37dd11e3-9c15-40ba-b290-cc21c4894b19.png)

Is this the expected behavior? I mean, I would like to start managing the organization users with only Terraform and

[2021-12-14 00:12] themantissa commented on #633
@bartier correct, you can't import an invitation for a user that already accepted.  At that point they are simply a user.  This resource is specifically to mange the invitations, not the user beyond that.

[2021-12-14 10:16] bartier commented on #633
@themantissa

My use case is to import existing users to Terraform code, currently this is not possible. Do you have any suggestions regarding the use of the provider to this?

[2021-12-14 23:59] themantissa commented on #633
@bartier if you can let me know why you want to import the users, i.e. how you want/need to manage them I may be able to point you in a better direction.  Right now w/ the provider you can manage invitations (so inviting users to your org) and teams but we do not have resources currently beyond that for Atlas user management.

[2021-12-15 18:48] msandu62 commented on #127
Having the same issue. Any solutions to this?
400 (request "INVALID_AWS_CREDENTIALS") Invalid AWS credentials.

[2021-12-16 14:36] bartier commented on #633
@themantissa Sure! Here are the details:

As the team is growing, it is becoming unpractical to manage organization users manually (i.e accessing UI and manually creating them without any tracking).

Our use case is to manage organization users using Infrastructure as Code, with the benefit of code review and source of truth of existing users. But we already have users in our MongoDB Atlas account

[2021-12-20 03:56] ealbarqat opened #642 "backup snapshot and restore not working automated"
Hello,

I am using mongodbatlas_cloud_backup_snapshot and mongodbatlas_cloud_backup_snapshot_restore_job in my templates to provision a cluster and then restore a snapshot from a specific project to it, I am using automated = true for the delivery type but the snapshot shows on Backup page as "on-demand" and provide me a link to download it, what I need is to automatically restore it.

What happen

[2021-12-21 06:20] kirusengal opened #644 "terraform-provider-mongodbatlas_v0.8.0 plugin: panic: runtime error: invalid memory address or nil pointer dereference"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File
[code]

### Steps to Reproduce
1. `terraform init`
2. `terraform apply`
3. `terraform destroy`

### Expected Behavior
Destroy succeeds without error/crash.

### Actual Behavior

Segmentation fault / gaoling panic during destroy

#### Output and stack trace
[code]

[2021-12-21 22:45] themantissa commented on #632
@guyguy333 we determined the root cause.  You cannot include both sms_enabled and email_enabled unless type_name is GROUP, ORG, or USER.  The API will accept the parameters without error but it's why the state mismatches later.  However the documentation is unclear on this so we will update that.

[2021-12-21 23:24] themantissa commented on #644
@kirusengal thank you for the report.  The best path forward is to upgrade to the latest provider, 1.1.1, as we've corrected many issues since v0.8.0.

[2021-12-21 23:24] #644 closed, assigned to nobody

[2021-12-22 00:18] gdelbergue commented on #632
Thanks @themantissa. I read the updated documentation in PR. So yes, in that case, as we're using Opsgenie, we can remove both fields `sms_enabled` and `email_enabled`. It now ends with:

[code]

I think I understand roles issue according to updated documentation and if I understand right, it has no impact for Opsgenie and so should be removed. However, for interval_min, I don't get why this diff

[2021-12-22 00:38] themantissa commented on #632
@guyguy333 that's actually a slightly different issue corrected in https://github.com/mongodb/terraform-provider-mongodbatlas/pull/624.  Will be included in the next release.

[2021-12-27 08:24] vikassinha2019 commented on #192
This is still an issue. I am using Terraform v0.13.6 and "mongodb/mongodbatlas" version = "1.1.1".

We have a public/private key-pair in project with full permissions on that project and at Organization level, that key-pair has 'Organization Member' access. No IP restriction applied.

We are trying to create alerts in Atlas via terraform, where we are getting following error, when Terraform is mak

[2021-12-28 07:31] nikhil-mongo commented on #603
@MikiLoz92 Yes, there should be nothing in the project which is mapped to the VPC. It does not matters if the resource is launched using terraform or from UI or API.

There should be no cluster, any old backup snapshots in the project for the VPC which you are trying to delete.

[2021-12-28 07:33] nikhil-mongo commented on #590
@ivankovnatsky This is related to the functionality in Atlas and not Terraform related. So I will close this issue, as it is not related to Terraform.
This is already being worked upon internally.

[2021-12-28 07:33] #590 closed, assigned to nikhil-mongo

[2021-12-29 07:28] nikhil-mongo commented on #642
@ealbarqat The below configuration works as required for your use case. Please ensure that the API key used here has access to both the projects as `Project Owner`.

[code]

[2021-12-30 00:51] ealbarqat commented on #642
Hello @nikhil-mongo

I used the above as you mentioned and I made sure the api-key is a project owner for both of projects, its still the same result
collections are created but empty all with zero size

plus on the source project cluster under "snapshots" I can see on demand snapshot was created, but under "restore and downloads" I see this :
![image](https://user-images.githubusercontent.com/232

[2021-12-30 11:04] nikhil-mongo commented on #642
Helllo @ealbarqat

Can you share the project ID and other details on my [email](mailto:nikhil.singh@mongodb.com). This seems to be some issue local to your configuration and not with provider. If possible please raise a support case and mention this git issue link.

Thanks

[2021-12-30 17:35] ealbarqat commented on #642
I opened a support case and I mentioned this git issue
Thanks

[2021-12-31 07:41] nikhil-mongo commented on #642
Thanks @ealbarqat We will look into it.

Closing this git issue and tracking internally.

[2021-12-31 07:41] #642 closed, assigned to nikhil-mongo

[2022-01-05 00:59] themantissa commented on #192
@vikassinha2019 this is not the same issue as reported here.   Without your configuration or other details I can't tell you why you aren't having success with Terraform.   I would suggest reaching out to Atlas support for assistance.

[2022-01-07 07:02] wshao12 opened #649 "mongodbatlas_teams provides a Team resource"
Is mongodbatlas_teams or mongodbatlas_team in your documentation?

[2022-01-10 20:45] themantissa commented on #649
https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/team

[2022-01-10 20:45] #649 closed, assigned to nobody

[2022-01-10 20:46] themantissa commented on #649
You'll also need https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/project to assign.

[2022-01-11 04:48] nikhil-mongo commented on #617
@paikend Please confirm if this still persists, or are we good to close this.

[2022-01-11 15:16] paikend commented on #617
sorry for late answer.
I understand the answer, but I'm looking forward to explaining it in more detail. So, I will send you the project ID by e-mail.
Thanks. :+1:
happy new year

[2022-01-13 16:20] aston-r opened #652 "resource mongodbatlas_project_invitation is created during each terrafrom apply"
Hi,

terraform: v1.1.3
mongodb/mongodbatlas: v1.1.1

I want to create the project and want to add users to the project.
[code]

STR:
- terraform apply ( terraform show that it will create mongodbatlas_project_invitation.this resource )
- terraform apply ( terraform show against that it will create mongodbatlas_project_invitation.this resource)

Actual Result:
- After each terraform apply, all user

[2022-01-14 01:54] themantissa commented on #636
@matthewvalimaki we are about to release the fix in version 1.2.  The pre-release is completed if you'd like to test first.  Thank you.

[2022-01-14 01:55] themantissa commented on #625
@guyguy333  we are about to release the fix in version 1.2.  The pre-release is completed if you'd like to test first.  Thank you.

[2022-01-14 01:56] themantissa commented on #618
@swapzero we are about to release the fix in version 1.2.  The pre-release is completed if you'd like to test first.  Thank you.

[2022-01-14 01:56] themantissa commented on #617
@nikhil-mongo did you get the email?  Are we good to close this?

[2022-01-14 01:57] themantissa commented on #616
@jon-king-mindbodyonline  we are about to release the fix in version 1.2.  The pre-release is completed if you'd like to test first.  Thank you.

[2022-01-14 01:57] themantissa commented on #606
@iochagov we are about to release the fix in version 1.2.  The pre-release is completed if you'd like to test first.  Thank you.

[2022-01-14 16:53] akramfstg opened #655 "data mongodbatlas_cluster doesn't render back container_id"
Hello,

I am trying to add a new VPC peering connection between a new VPC and an existing MongoDB Atlas cluster to which we have already established others VPC peering connections. Thus the idea was to get the actual cluster container_id and use it to create a new network peering resource.

### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]
### Terraform Configuration File

[co

[2022-01-15 21:08] lra opened #659 "Unable to plan with a readonly api key since 1.2.0"
Hi,

We are using an "Organization Read Only" API key do terraform plans.
Since 1.2.0 version of the mongodbatlas provider, the API key returns this error:
[code]

No problem with 1.1.1.

The "Organization Read Only" API key is supposed to "Provides read-only access to everything in the organization, including all projects in the organization." so I'm not sure if that's a provider issue, or an Atl

[2022-01-17 07:45] nikhil-mongo commented on #617
@themantissa I am taking this forward over email. So, I will close it once we have the resolution.

[2022-01-17 08:34] aston-r commented on #652
Hi,

Retested on 1.2.0 version. The issue is still present:
[code]

[2022-01-17 14:53] gdelbergue commented on #625
Thank you, we will try to update to 1.2 asap and let you know

[2022-01-19 01:17] themantissa commented on #655
@akramdhiabii are you using the latest provider - the version is not included here?   Do you have any logs, debug or similar level of detail preferred?   fyi @nikhil-mongo

[2022-01-19 11:23] akramfstg commented on #655
@themantissa  yes I am using the latest provider:
[code]

[2022-01-20 10:48] adam-pasabi commented on #110
Fwiw I am experiencing this issue, so it's definitely not fixed. It's happened for a couple of members of my team and happens over a few different days. A few times waiting a day or so has led to it magically working again. The one workaround that appears to work is to use https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/cluster#import and then run `terraform appl

[2022-01-20 19:49] lra commented on #659
The problem was acknowledged by the Atlas team, and should update this issue once the problem is solved.

[2022-01-20 20:52] themantissa commented on #659
@lra correct, we will have the team investigate and address the issue.   Thank you!  Internal ticket: INTMDB-295

[2022-01-20 21:01] themantissa commented on #652
@aston-r note that inviting the user to an org/project simply a step in the process.  Once the user has accepted the invitation it is deleted in the system.   Hence you have to then delete it within your Terraform configuration.  As noted in the documentation for org invitations (will add to project):

    NOTE: Possible provider behavior depending on the invitee's action:

-         If the user h

[2022-01-20 22:48] themantissa commented on #636
Released in 1.2

[2022-01-20 22:48] #636 closed, assigned to abner-dou

[2022-01-20 22:49] themantissa commented on #632
Fixed in 1.2

[2022-01-20 22:49] #632 closed, assigned to nobody

[2022-01-20 22:49] themantissa commented on #618
Fixed in 1.2

[2022-01-20 22:49] #618 closed, assigned to nikhil-mongo

[2022-01-20 22:50] themantissa commented on #625
Fixed in 1.2

[2022-01-20 22:50] #625 closed, assigned to nobody

[2022-01-20 22:50] themantissa commented on #616
Fix in 1.2

[2022-01-20 22:50] #616 closed, assigned to nobody

[2022-01-21 00:46] themantissa commented on #110
@adam-pasabi we never identified a specific issue to fix so there was not attempt to do so.  The issue reporter's issue resolved and hence it was close.   What you are describing sounds like a transient error.  If you can capture anything in the logs it may help but when I've seen things like this it tends to be network issues so hard to pin down.   If you get some evidence to help us dig in pleas

[2022-01-21 07:09] aston-r commented on #652
@themantissa

Thank you for the explanation, but terraform is the tool to manage the infrastructure as a code and this is not possible with this resource.  The main point with terraform is that you apply the stack multiple times and you do not have any changes. In your case, we have the resource(mongodbatlas_project_invitation) that act as the script, but not how the terraform code suppose to work

[2022-01-21 11:14] adam-pasabi commented on #110
Thanks for your reply @themantissa - it's happening quite frequently and no other aspect of our terraform script is failing so I'd definitely like to help get to the bottom of it and get it fixed - can you advise the best way to capture logs that would be useful to you?

[2022-01-22 00:17] themantissa commented on #110
@adam-pasabi Capture in DEBUG mode would be ideal to start: https://www.terraform.io/internals/debugging.  We can see if something is capture to point to a possible cause.  The logs will also capture the timestamp so we correlate.  If you can also put in a ticket via Atlas support we could have them take a look at system logs to see if anything is noticeable there when this happens.

[2022-01-22 00:27] themantissa commented on #652
@aston-r I'm very much aware of how Terraform should ideally work and I hear you. What it sounds like you want is simply a better way to mange Atlas Users with Terraform.  The invitation is simply a part of that overall user management process.  Invitations has been added to the provider but, due to the way the underlying system works, we have not been able to add full Atlas User management withou

[2022-01-24 10:04] checkitsam opened #662 "Removing a team from terraform causes an error due to attachment to project"
Unable to delete team and remove from project in single operation, perhaps a separate attachment resource would help rather than having to define within the project resource. e.g. `mongodbatlas_teams_attachment` to allow the team to be attached to a project.

### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File
[code]

### Steps to Reproduce
1. te

[2022-01-27 13:49] akramfstg commented on #655
Any thoughts @nikhil-mongo ?

[2022-01-27 15:44] AlexRex commented on #603
Hi,

I am having the same exact problem, and I can confirm there is nothing inside the project. Just the container, same way as described by @MikiLoz92. Even though, trying to delete it through the Mongodb Atlas API yields an error:

"Cannot modify in use containers. The container still contained resources." But there is no contained resource in it..

[code]

Any idea why this might be happening?

[2022-01-28 07:56] nikhil-mongo commented on #655
@themantissa I could repro this and when using the `data` to import the cluster details into terraform state, it is as below -

[code]

You can see that the **container _id** is **_null_** which is not expected as we create the container when creating a cluster, in absence of one, so this value should be populated.
I will file an internal ticket to address this.

Thanks

[2022-01-28 08:09] nikhil-mongo commented on #655
**INTMDB-297** filed for tracking this internally.

[2022-01-28 08:34] nikhil-mongo commented on #603
@MikiLoz92 @AlexRex Please share your Project ID over email nikhil.singh@mongodb.com since this is a public platform and I would not want you to share your Project ID here so I will take it on 1:1 basis,

OR

Please open a support case from within the Atlas Project and mention this git issue to continue the work.

I will check what is happening with project which is causing this behaviour.

Thanks

[2022-01-28 09:04] nikhil-mongo commented on #662
@checkitsam I could repro this and understand what is missing in terms of following the process. I will file the internal ticket to get this fixed.

[2022-01-28 09:16] nikhil-mongo commented on #662
INTMDB-298 filed internally.

[2022-01-28 19:21] dwgillies-bluescape opened #666 "Error in documentation page : aws_kms -> aws_kms_config"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

documentation page:
https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/encryption_at_rest

"aws_kms - (Required) Specifies AWS KMS configuration details and whether Encryption at Rest is enabled for an Atlas project."

According to terraform and your documentation, the name "aws_kms" has been changed to

[2022-02-02 04:04] nikhil-mongo commented on #666
@dwgillies-bluescape This is already in process along with other doc changes and we will soon release it on the web

[2022-02-02 04:14] nikhil-mongo commented on #617
Hi @paikend I have asked for details over the email and due to no actions I am closing this issue. If you are still facing it, please reply on my email.

[2022-02-02 04:14] #617 closed, assigned to nikhil-mongo

[2022-02-02 07:29] nikhil-mongo commented on #127
@themantissa Since we have moved to the Role based authentication for Encryption at Rest, this has solved the problem and I do not face it anymore.
Please see if we can close this now.

[2022-02-03 00:36] #127 closed, assigned to themantissa

[2022-02-03 04:30] nikhil-mongo commented on #666
@dwgillies-bluescape The changes have been submitted as PR #670. You will be seeing the changes with our next release and I will now close this case.

[2022-02-03 04:30] #666 closed, assigned to nikhil-mongo

[2022-02-03 05:28] roshbhatia opened #671 "attempting to assign api key to resource `mongodbatlas_project` results in `Error: Unsupported block type`"
### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]
### Terraform Configuration File Snippet
[code]

### Steps to Reproduce
1. Add `api_keys` block to previously applied `mongodbatlas_project` resource
2. `terraform init`
3. `terraform plan`

### Expected Behavior
The `mongodbatlas_project` should have a previously created api key associated with it as per [the provider documenta

[2022-02-05 00:25] themantissa commented on #671
This is a feature of the 1.2 provider, you are running 1.1.1.  Please upgrade @roshbhatia

[2022-02-05 00:25] #671 closed, assigned to nobody

[2022-02-08 13:49] pitthecat commented on #633
We are now at the same point as @bartier. It would be great to be able to manage the users with Terraform.

I tried something like this:

[code]

![image](https://user-images.githubusercontent.com/28391645/153000048-a5d79ba1-dd95-4276-a64d-6c29ec0a1e12.png)

The code seems to work fine, but it's kind of pointless to just manage the invitation and not the real user. With the suggestion from @bartie

[2022-02-10 12:34] adam-pasabi opened #674 "Error: error creating MongoDB Cluster: unexpected EOF"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

(also occurs under mongodbatlas v1.2.0)

### Terraform Configuration File

[code]

### Steps to Reproduce

1. `terraform init`
2. `terraform apply`

### Expected Behavior

It should create the cluster without erroring

### Actual Behavior

`terraform apply` failed with an error (see below)

### Debug Output

#### terraform.log

[2022-02-13 09:37] czmirek opened #675 "Can't create M0 free tier on Azure"
I'm not really sure what I'm doing wrong, I'm following the documentation, according to [this](https://docs.atlas.mongodb.com/reference/api/clusters-create-one/) M0 on Azure should work... but I'm getting `INVALID_ENUM_VALUE` instead.

### Terraform CLI and Terraform MongoDB Atlas Provider Version
[code]

### Terraform Configuration File
[code]

### Steps to Reproduce
`terraform apply`

### Expect

[2022-02-13 10:09] czmirek commented on #675
Okay I found out the right way

[code]

[2022-02-13 10:09] #675 closed, assigned to nobody

[2022-02-13 16:37] icco opened #676 "mongodbatlas_cluster allows for name changing"
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Terraform Configuration File

[code]

### Steps to Reproduce

1. Create a mongodbatlas_cluster in tf
2. Change the name
3. Apply

### Expected Behavior

Terraform should show a recreate warning, as name changes are not allowed in MongoDB Atlas.

### Actual Behavior

The cluster name and connection strings change.

### Debu

[2022-02-14 07:47] nikhil-mongo commented on #674
@adam-pasabi We are reviewing it and will get back to you on this soon.

[2022-02-15 08:29] BlacCello opened #677 "Auto scaling of storage cannot be disabled for mongodbatlas_advanced_cluster via "disk_gb_enabled""
### Terraform CLI and Terraform MongoDB Atlas Provider Version

[code]

### Steps to Reproduce
Create a cluster with the following settings
[code]
The plan shows that the replication_specs object is recreated with `disk_gb_enabled = false`
Run `terraform apply`

### Expected Behavior

After the apply, storage auto scaling is disabled and subsequent plans don't show any changes

### Actual Behavior

[2022-02-17 04:29] nikhil-mongo commented on #676
[code]

We are informing that the change will be done to change the `cluster-name`.

But the complete flow is as below -

[code]

- Therefore, the plan completes, but no change is done even in the tfstate file. We may be able to improve on the output of these type of changes and I will look to follow up internally on this.
@themantissa

[2022-02-17 07:05] nikhil-mongo commented on #674
@adam-pasabi

Unable to repro, this is working in my case.

[code]

**Error**

[code]

Often this error message indicative of a crash in the provider (which runs in a separate process).
This could potentially be at the **google-terraform-provider** side as indicative in the logs and they could look to improve, and data source updates could be done quicker than managed resources.

- There are lot o

[2022-02-17 08:06] nikhil-mongo commented on #677
@BlacCello As per the repro, this seems to be underlying API issue and not related to Terraform provider. I have filed an internal ticket to address this. It is better we can close this here as this will be handled for the API releases and not with Terraform provider.

Thanks

[2022-02-17 08:06] nikhil-mongo commented on #677
HELP-31579 filed internally.

[2022-02-17 11:47] velann21 commented on #192
@themantissa I have the same issue while calling modify cluster through the API.

Request:
curl -u "xxxxx:yyyyyy" --digest \
--header "Content-Type: application/json" \
--include \
--request PATCH "https://cloud.mongodb.com/api/atlas/v1.5/groups/ccccccccc/clusters/xxxxxx?pretty=true" \--data '
```{"@provider":"AZURE","backupEnabled":false,"biConnector":{"enabled":false,"readPreference":"secondary"

[2022-02-18 00:37] themantissa commented on #677
Closing as not a Terraform issue.

[2022-02-18 00:37] #677 closed, assigned to nikhil-mongo

[2022-02-18 08:28] leynebe commented on #88
Hi

Just want to share my experience with this error as well.
I run infrastructure E2E tests which creates and destroys our entire infra, this involves spinning up a MongoDBAtlas instance and destroying it again after we successfully tested our infra deployment works with it.
I've gotten this error on and off over the last months. I initially thought our upgrade to the MongoDBAtlas terraform provi

[2022-02-18 08:30] leynebe commented on #603
I accidentally made a comment on a related but closed ticket (https://github.com/mongodb/terraform-provider-mongodbatlas/issues/88#issuecomment-1044133495) describing the same experience as @AlexRex.

[2022-02-18 14:29] adam-pasabi commented on #674
hey @nikhil-mongo, thanks for looking into it. I'll raise a ticket with google-terraform-provider to see what they suggest (I'm on holiday after today so it won't be immediately).
One other thought - as this bug is very consistent for me - is there any way I can add debugging to a local copy of this provider and run that locally? I am familiar with Go, but not with developing for Terraform. Perhap

[2022-02-23 01:34] themantissa commented on #603
@leynebe, as well as others - as @nikhil-mongo notes above we can look into this issue but we'd need to see it actually happening in a project - we have not been able to repro.   If you can follow his guidance above to open a support case to get us the project information we can investigate this further.

[2022-02-23 08:48] ltsonov-cb opened #683 "Changing provider_instance_size_name do a lower instance succeeds in terraform but does not change the cluster"
Hello.
I did not find a similar issue and it feels like everything should be working fine.
The TL;DR is that I am trying to downscale a cluster (M50 -> M30) via terraform but it doesn't do anything.
My guess is that it could be because the cluster's storage was scaled up and is over the M30 limit - but then the provider should not report success in my opinion.

See below for info.

### Terraform C

[2022-02-23 15:54] sumit-s-agrawal opened #684 "Error: error creating MongoDB Network container, A container already exists for group"
Terraform Version
  required_version = ">= 1.0"

### Terraform Configuration File

[code]

### Steps to Reproduce
1. `terraform init`
2. `terraform apply`

### Expected Behavior
Peer Atlas VPC with AWS VPC.
### Actual Behavior
I tried to run the above module for multiple VPC peering connections, for first one it worked and for all others it failed with A container already exists for group error.

[2022-02-23 20:23] themantissa commented on #684
@sumit-s-agrawal that's likely because you have already created the needed container.  Note the following in the container documentation:
The following is the maximum number of Network Peering containers per cloud provider:
• GCP - One container per project.
• AWS and Azure - One container per cloud provider region.
You only need to create a container per AWS region.  This is not an issue so closi

[2022-02-23 20:23] #684 closed, assigned to nobody

[2022-02-24 00:20] themantissa commented on #662
The fix for this was just released in version 1.3.0.   Thanks!

[2022-02-24 00:20] #662 closed, assigned to nikhil-mongo

[2022-02-24 00:20] themantissa commented on #659
The fix for this was just released in version 1.3.0.   Thanks!

[2022-02-24 00:21] #659 closed, assigned to nobody

[2022-02-24 00:21] themantissa commented on #655
The fix for this was just released in version 1.3.0.   Thanks!

[2022-02-24 00:21] #655 closed, assigned to nikhil-mongo

[2022-02-24 00:33] themantissa commented on #683
@ltsonov-cb do you have any logs to provide as requested in our issue template?  Debug is best.  The provider depends on the error messages returned by the API so the logs would, hopefully, show if something was returned and the provide considered it complete anyway.   If that's the case it is something we can address in the provider.  However, the provider is not going to have all of the logic of

[2022-02-24 00:34] themantissa commented on #606
This was addressed in version 1.2 of the provider.  Thank you!

[2022-02-24 00:34] #606 closed, assigned to nobody

[2022-02-24 00:35] themantissa commented on #449
This was addressed in version 1.2.0 of the provider.  Thank you!

[2022-02-24 00:35] #449 closed, assigned to nobody

[2022-02-24 00:37] themantissa commented on #676
I'm actually going to close this as it was already reported in #189.  I'll link to this report from there.

[2022-02-24 00:37] #676 closed, assigned to nikhil-mongo

[2022-02-24 00:38] themantissa commented on #189
Also reported in https://github.com/mongodb/terraform-provider-mongodbatlas/issues/676.  Seems we may still not be erroring correctly when someone tries to change a cluster name via the provider.

[2022-02-24 02:49] sumit-s-agrawal commented on #684
How it should be done then in terraform script?

[2022-02-24 09:18] ltsonov-cb commented on #683
@themantissa attaching gist with the project ID redacted.

[GIST](https://gist.github.com/ltsonov-cb/5cf211dd51becc1c41796aaac0edea54)

The problem indeed seems to be that the disk on the instance is too large - see the response details below.
But shouldn't the provider throw an error in this case instead of silently succeeding?

[code]

[2022-02-24 15:34] julienvincent commented on #674
I am also running into this very consistently (haven't got a single apply to work). I am using this via the Pulumi provider, but underlying issue seems to be the same

[2022-02-24 18:34] akramfstg commented on #655
the same problem persists!
I am still getting same error using latest 1.3.0 provider:
[code]

Could you please verify again?

[2022-02-24 18:35] akramfstg commented on #655
the same problem persists!
I am still getting same error using latest 1.3.0 provider:
[code]

Could you please verify again?

[2022-02-25 00:14] themantissa commented on #683
@ltsonov-cb Thank you for the additional information!  Yes, the provider should catch this error and not respond as it did.  I will file a ticket.

[2022-02-25 00:23] themantissa commented on #683
Internal ticket INTMDB-303

[2022-02-25 00:29] themantissa commented on #674
Internal ticket INTMDB-304

[2022-02-25 00:32] themantissa commented on #684
@sumit-s-agrawal  you need to create a container like you've done in your example above for each AWS region you are setting up a peering connection to and then use that container id for the connection.  We have examples in the examples directory of this repo.  If you need more assistance I suggest utilizing Atlas support.